[2017-08-17 14:00] sacrevert commented on #73
I prob should have included a grid ref / VC mismatch in that test as well, perhaps you can alter one grid ref next time you run a test. @andrewvanbreda

**AVB Response**: Actually the importer wouldn't care about a mismatch (whether that is right or not is another question).
It just would say, OK there is a spatial reference already, we'll use that and I will store the Vice County name as a sample

[2017-08-17 15:35] andrewvanbreda opened #74 "Possible solution for using IDs in Vice County/Country"
A possible requirement has been identified after discussions with Oli (probably on hold for now)

There is a need for users to use an ID when importing Vice Counties/Countries

This issue is just a note to myself (AVB) that there might be an easy solution to this. The Vice Counties and Countries are stored as custom lists in the configuration of the Plant Portal Plot Data Importer page, as well as

[2017-08-17 17:47] andrewvanbreda commented on #72
I think I have done a very simple fix for this actually. We examine each row anyway, so at that point I just compare the number of items in the data row with the header, and if the data row is missing cells off the end, we insert them internally (invisibly to the user). Seemed to have got this working quite easily on my machine, and has passed simple tests

[2017-08-18 13:46] andrewvanbreda commented on #66
I have now corrected the exception the user would see if the Unique Plot ID (location name) was not mapped.
Actually again we have a very simple fix, where if the column isn't mapped I tell the system that the Unique Plot ID is the same as the spatial reference.
No error, and the user can also continue as normal. I know we said to hold on this, but it was very simple to implement, simpler than a w

[2017-08-18 14:16] sacrevert commented on #66
@andrewvanbreda great, all sounds excellent. I don't think we need to tell the user in a responsive way, we can just state that this will happen in guidance documentation. Happy for this to be closed if you are.

[2017-08-18 14:20] andrewvanbreda commented on #66
Yes I will close once I make the code commit. Not committed to Github yet

[2017-08-18 14:26] sacrevert commented on #50
hi @kazlauskis did you come to a conclusion re this?

[2017-08-19 17:58] andrewvanbreda commented on #69
I have now changed the code so that we can just supply a comma separated list of occurrence attribute IDs to the page configuration.
So we can now do this for the stratum and multiple cover attributes.
This means if you change your mind it is easy to change (providing the attributes aren't particularly special in some way and need special code)
I have done this because it is actually simpler to co

[2017-08-20 12:27] #72 closed, assigned to andrewvanbreda, sacrevert

[2017-08-20 12:47] #66 closed, assigned to nobody

[2017-08-20 19:36] andrewvanbreda commented on #73
**AVB Response**: The sample attribute values issue appears to behave the same way with the standard Indicia importer. I will raise this separately as it may still be caused by Plant Portal changes in that area.
The Vice County/Country issue has already been raised separately.
Closing this now

[2017-08-20 19:36] #73 closed, assigned to nobody

[2017-08-20 20:00] andrewvanbreda opened #75 "Wrong number of sample attribute values being created"
During plot data importer I am finding the wrong number of sample attribute values are being created.

I changed the logic of how samples are created by the importer for this project. I THINK the problem is that the logic changes have not been inherited by the sample attribute value properly.

So the number of sample attribute values being created is the same as the number we'd expect when using t

[2017-08-21 08:24] andrewvanbreda commented on #63
@sacrevert given that you have now indicated that you wish to have projects ready for the next build, can you confirm that you are happy with the implementation ideas (in above comments) for projects to go ahead.
So essentially a project would work like a plot group in the data structure but I would add code to the user interface to make sure only one project can be associated with each plot.
Hope

[2017-08-21 09:05] sacrevert commented on #63
@andrewvanbreda @DavidRoy I am happy with the ideas for implementation arrived at at the end of this thread. (These more or less mirror the 'projectData' table that I had originally conceived of when I revised the specification.) I presume then, that the next steps are:

- Andy to estimate the time requirement for implementing the above for the first build
- David to confirm that he is happy for t

[2017-08-21 10:50] andrewvanbreda opened #76 "Plot data importer not working with CSV files containing only one sample (not one row, will still fail with multiple occs)"
I am going to leave this for now, but I noticed the importer doesn't work if only 1 data row is specified (so two rows if you include the header). Probably needs fixing before final live, but not before David/Oli start populating DB with data

[2017-08-21 11:14] andrewvanbreda commented on #75
Looking at this again, it is my interpretation of the test result that was wrong. The data is being created correctly.
This means that the altered version of Oli's import file HLS_test_data_HL10_v2.csv has now been imported completely successfully on my own box.
This file had to be altered to allow for species that actually exist in my own DB as I don't think I have a UK Master List, also changed

[2017-08-21 11:14] #75 closed, assigned to andrewvanbreda

[2017-08-22 12:55] kazlauskis commented on #50
I think this is the question for @DavidRoy to answer as he is the person that receives the feedback for this functionality. From my perspective, I think, it could be closed.

[2017-08-22 12:58] DavidRoy commented on #50
Ok to close this issue and open new ones if any bugs emerge

[2017-08-22 12:58] #50 closed, assigned to kazlauskis

[2017-08-23 10:22] andrewvanbreda commented on #76
Raising priority of this and also changing title as issue is not what I thought.
There is a bug importer where if the CSV contains file header names that EXACTLY match the ones I am using for auto generated columns, then the importer gets confused.
For instance, if the user specifies EXACTLY "Spatial reference system" in their file then the code gets confused as this is the header name I automatic

[2017-08-23 19:51] andrewvanbreda commented on #76
Above issue was fixed and committed by just changing my auto-generated column headers to ones user almost certainly won't use, my now include "(auto-generated)" in the name.

However there appears to still be an issue, and actually it goes back to when I originally raised this issue saying it didn't seem to work if there was only one data row. I then thought this isn't what was happening, indeed I

[2017-08-23 21:24] sacrevert commented on #76
OK, fine, shouldn't be important for my data loading anyway (particularly if I know to avoid the scenario)

[2017-08-25 12:37] andrewvanbreda commented on #63
This has now been discussed over email.

The original suggestion was to make Projects like Plot Groups. This was to get around complications of using essentially what is a sample/occurrence importer with location attributes (as plot groups already overcome these difficulties).
The system needs to be clever enough to know when a new group needs adding to a plot and when to use an existing one.
Also

[2017-08-28 10:24] andrewvanbreda commented on #56
@sacrevert Just loading the data onto my new laptop so I can write that sql for you.

I noticed however the supplied file won’t work with the importer without alteration.

For future reference (for me) the alterations I seem to have needed to make are as follows
- All instances of NA replaced with empty string
- Near the end of the file there are a few rows where I had to put empty cells in, these

[2017-08-28 11:33] andrewvanbreda commented on #56
SQL to follow here. Notes on use. For simplicity of programming (actually simplicity of testing the sql works) I have supplied separate sql for Maximum abundance of species and species constancy value.
You need need to replace the <taxon_version_key_goes_here> tag with the tvk you wish to use.
You need to replace the <lowest_level_community_goes_here> tag with the main community (if there isn't a

[2017-08-28 11:34] andrewvanbreda commented on #56
select ttla.caption as Attribute,ttlav.int_value as maximum_abundance_of_species ,t_parent_com_code.term as parent_community_code_if_applicable,t_parent_com.term as parent_community_if_applicable,t_source_code.term as community_or_sub_community_code,t_source.term as community_or_sub_community, t.taxon as taxon, t.external_key as tvk
from indicia.taxa_taxon_list_attribute_values ttlav
join indicia.

[2017-08-28 11:48] andrewvanbreda commented on #56
select ttla.caption as Attribute,t_species_con_val.term as species_constancy_value ,t_parent_com_code.term as parent_community_code_if_applicable,t_parent_com.term as parent_community_if_applicable,t_source_code.term as community_or_sub_community_code,t_source.term as community_or_sub_community, t.taxon as taxon, t.external_key as tvk
from indicia.taxa_taxon_list_attribute_values ttlav
join indici

[2017-08-28 12:12] andrewvanbreda commented on #56
Oli, you should be able to write SQL for the community level attributes yourself.

In the database I have these listed as follows

"Bryophyte cover %"
"Bryophyte height mm"
"Ground layer cover %"
"Ground layer height mm"
"Herb cover %"
"Herb height cm"
"Mean total cover"
"Number of species per sample"
"Shrub cover %"
"Shrub height cm"
"Shrub height m"
"Shrub/herb cover %"
"Shrub/herb height cm"
"T

[2017-08-28 12:23] andrewvanbreda commented on #56
[NVCtables_v3_avb_formatted.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1256706/NVCtables_v3_avb_formatted.txt)

Newly formatted file for the importer
@sacrevert  I have just noticed that actually the first column (which was removed from this file) is not the same as the row number column by the time you reach the end of the file. Neither of these columns is imp

[2017-09-08 11:01] johnvanbreda commented on #44
Done - sensitivity now a checkbox which sets the blur to 2km.

[2017-09-08 11:01] #44 closed, assigned to johnvanbreda

[2017-09-08 11:11] johnvanbreda commented on #42
Yes, it would mean that a user which chooses the vague dates option in their account profile will get vague date enabled date controls everywhere. When enabled the date picker still works but you would click a calendar icon next to the input to invoke it, rather than it automatically appearing when you click in the box.

@DavidRoy Shall I enable the option to switch vague date entry on in the user

[2017-09-08 13:32] DavidRoy commented on #42
@johnvanbreda, yes please implement with the default is that users have vague date entry OFF

[2017-09-11 08:02] andrewvanbreda commented on #55
@sacrevert @BirenRathod Do we want to start thinking about doing the final runs of this? Just wondering if this week would be a good time (Biren availability dependent)

[2017-09-11 08:09] BirenRathod commented on #55
@andrewvanbreda & @sacrevert, I'm busy beginning of this week, Hopefully I will finish by tomorrow. So, we could plan to start from Wednesday.

[2017-09-11 08:12] sacrevert commented on #55
That would be great. Thanks both.

[2017-09-11 14:03] johnvanbreda commented on #19
Code for this is now done in the client helpers develop branch so will be deployed at the next feature release. Will need to set the @spatialRefPrecisionAttrId parameter on the grid configuration when the code is upgraded.

[2017-09-14 08:26] andrewvanbreda commented on #55
@sacrevert @BirenRathod This morning you will need to run the "Plant Att Importer (for test warehouse).txt" posted in this thread on the 4th Aug. This should only be run on TEST warehouse.
This already contains the correct species list id for that warehouse
You will just need to add the file path to the file when you run it.

However I am just looking this morning, and it has been a while since th

[2017-09-14 08:42] andrewvanbreda commented on #55
Hi,

I have just done a run on my machine and it ran ok. I just want to check something though, it might be just something I have forgotten as I haven't run the importer for a while. Some of the attributes I thought might be in termlists are being importer as text, I just want to be safe and check why that is. It is only some of them
I will let you know as soon as I get an answer when to proceed.

[2017-09-14 08:46] BirenRathod commented on #55
Thanks @andrewvanbreda for letting me this, I was about going to run this and saw this post. Anyway, let me know as soon as you finished checking.

[2017-09-14 09:51] andrewvanbreda commented on #55
Hi @BirenRathod @sacrevert

OK, we are ready. I checked those fields and they should of been free text, like comments.

However I did randomly stumble across the BR Habitats had not imported for one single row. It was the way the data was formatted in the original file. I have corrected that one line manually in the data file I will now upload. Please use this to import into the test warehouse. On

[2017-09-14 09:52] andrewvanbreda commented on #55
[tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2_additional_correction.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1302537/tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2_additional_correction.txt)

[2017-09-14 10:50] BirenRathod commented on #55
Hello @andrewvanbreda , @sacrevert

I finished running import on test warehouse. It returned with this message "query result with 1 row discarded. Query returned successfully with no result in 02:32 minutes."

Seems like, it has imported successfully.

[2017-09-14 11:02] andrewvanbreda commented on #55
Hi Biren,

yes that message is normal, I did look up what it meant when I started getting it but I have forgotten.

OK, I will write you some sql to run against the test warehouse to double check. Very simple tests as we don't need full. Just to check data is there. Will send in a sec

[2017-09-14 11:17] andrewvanbreda commented on #55
H @BirenRathod

Can we try running these two statements against the test warehouse thanks, should just be two counts. I am hoping the first is 53425 and the second is 0

select count(*)
from indicia.taxa_taxon_list_attribute_values ttlav
join indicia.taxa_taxon_list_attributes ttla on ttla.id = ttlav.taxa_taxon_list_attribute_id
join indicia.termlists_terms tt on tt.id = ttla.source_id and tt.dele

[2017-09-14 12:35] BirenRathod commented on #55
Hi @andrewvanbreda
First returned the total 263274 &
second returned 0.

[2017-09-14 13:09] andrewvanbreda commented on #55
Blimey, OK, will need to look at that. Maybe I have dodgy test sql

Thanks. Will take a look and let you know

[2017-09-14 13:18] andrewvanbreda commented on #55
Hi @BirenRathod , Could you try these two on the test warehouse please

select count(*)
from indicia.taxa_taxon_list_attribute_values ttlav
join indicia.taxa_taxon_list_attributes ttla on ttla.id = ttlav.taxa_taxon_list_attribute_id
join indicia.termlists_terms tt on tt.id = ttla.source_id and tt.deleted=false
join indicia.terms t on t.id = tt.term_id and t.term like 'PLANTATT - attributes of Brit

[2017-09-14 13:26] BirenRathod commented on #55
Hello @andrewvanbreda

Total from first query is =  229316
& from second is = 33958

[2017-09-14 13:31] andrewvanbreda commented on #55
OK thanks Biren. Obviously the Master UK List is much bigger than mine, so trying to determine the correctness of this is challenging.

@sacrevert what we have here is that it is attaching data to non-preferred species. My initial feeling this is probably wrong, and hasn't been picked up during testing because my machine doesn't have a full UK Master List and wasn't picked up on the dev warehouse

[2017-09-14 13:32] andrewvanbreda commented on #55
It looks like Pantheon checks for preferred for comparison.

On the plus side this wasn't the live run

[2017-09-14 13:36] BirenRathod commented on #55
It should pick up from Dev warehouse becuase Dev warehouse use the same UK master List as live warehouse. It is even bigger then test warehouse.

[2017-09-14 13:40] andrewvanbreda commented on #55
I can see there is a bug in the code. I don't think this will be hard to fix and then re-run on the test warehouse

The main issues is we will need to set the deleted flag on the test warehouse for the imported data which I will need to write a script for.
Providing we can remove the data easily  I don't think this will be too much of an issue

I will just wait for confirmation from @sacrevert

[2017-09-14 14:05] sacrevert commented on #30
hi @johnvanbreda is this something that is likely to be easy to implement? Or should we downgrade it to a longer term enhancement? I think it would be useful in the longer term to add lists against slightly smaller areas (e.g. 100m squares), but it may not be a priority given some of the other bugs outstanding. @kwal2 @japonicus

[2017-09-14 14:08] DavidRoy commented on #30
I think the question is whether you expect recorders to record a list for a 100m grid square, with some finer precision occurrence within the list.  If not, then a version of the standard input form would suffice where you choose a single location for your list - may need being to include additional attributes for plant recording.

[2017-09-14 14:21] sacrevert commented on #30
it might be worth encouraging, although possibly the move to apps and real time/location recording gives this kind of enhancement a short shelf-life...?

[2017-09-14 14:24] kwal2 commented on #30
I would have thought so. I can't think of anyone who has been recorded in 100m grid cells. Might be useful for more NPMS/plot based recording in the future

[2017-09-14 14:26] sacrevert commented on #30
OK, fine, then I will close this.

[2017-09-14 14:26] #30 closed, assigned to johnvanbreda

[2017-09-14 14:27] sacrevert commented on #32
hi @johnvanbreda would you be able to focus on this next?

[2017-09-15 09:44] andrewvanbreda commented on #55
I have corrected the code on my machine and tested it. I have also tried a clearcut of the data on my machine so we know what to do with the test warehouse.
So as soon as @sacrevert has confirmed that would should only be applying to the preferred species then we can probably move towards another run on test warehouse.

[2017-09-15 09:48] BirenRathod commented on #55
whenever you two are ready.

[2017-09-20 11:00] sacrevert commented on #55
@andrewvanbreda if the standard approach taken for Pantheon is only to link attribute data to preferred species, then that is fine. I don't have a good knowledge of how the UKSI species list is used within Indicia, but I am assuming that there is no use/knowledge of parent/child relationships within the UKSI?

I ask this because ideally the attributes would be looked up using parent/child relation

[2017-09-20 11:07] DavidRoy commented on #55
Traits (e,.g. PlantAtt) can be linked to the preferred taxa in the UKSI.  The traits effectively refer to a taxonomic concept, which in Indicia terms is coded by taxon_meaning_id.
Some documentation on the data model at:
http://indicia-docs.readthedocs.io/en/latest/developing/data-model.html

[2017-09-20 11:12] sacrevert commented on #55
My reading of this and the data model is that the limitation that I have described above is correct, and that there is no current way within the Indicia usage of the UKSI to use parent/child taxon relationships to attach the traits of a preferred taxon (coded by a specific taxon_meaning_id) to its children.

[2017-09-20 11:17] DavidRoy commented on #55
It is not explicit within the documentation of the data model, but hierarchical taxon_lists (such as UKSI) are supported.  So possible for a trait to be assigned to children of a preferred taxon, although querying hierarchies can be complex.

e.g. text from documentation

taxon_lists
The database stores multiple lists of taxa. A list can be anything from a simple flat list of a few species being r

[2017-09-20 11:30] sacrevert commented on #55
OK, so, I suppose what I am saying is that we are currently acknowledging that under the current resourcing levels for this project, we are not going to implement any background SQL that takes advantage of hierarchies specified in the UKSI to link traits to taxa that otherwise wouldn't match a preferred taxon as we are specifying them on import.

I just want to get this clear so that I understand

[2017-09-20 11:34] DavidRoy commented on #55
The linking would be handled by how we report on the data.  We haven't fully scoped this out yet.  The current focus is loading existing data (PlantAtt, NVC tables) and the plot importer.  We can go ahead with that as planned. i.e. link traits etc to preferred UKSI taxa.

Then we should discuss the web interface we build for users of the system - for inputting their data and reporting.  Hence, to

[2017-09-20 11:36] sacrevert commented on #55
OK, thanks, good point. @andrewvanbreda  I am happy for you to proceed then, assuming that you are happy that you have solved all of your previous issues and understand the returns you are getting from your SQL queries.

[2017-09-20 12:17] andrewvanbreda commented on #55
Hi,

Yes David is correct, the trait would be attached to the preferred species, then any species with the same meaning would have assumed to have the same traits, so common names and synonyms would have the same traits.
That would done through reporting that way.

The issue might come if the preferred species changes, but Pantheon has this issue to. I think in that case we just have to assume the

[2017-09-20 14:30] andrewvanbreda commented on #55
@BirenRathod Hi Biren, am trying to clear out the plantar data from the test warehouse, however a lot of the attributes I can't see at all, are you about to run this sql on the test warehouse and send me the result. Thanks. Looks ok on my box which is a bit odd

select * from indicia.taxa_taxon_list_attributes where caption in (
'BR Habitats','Origin','Biogeographic element, eastern limit category

[2017-09-20 14:34] sacrevert commented on #56
@andrewvanbreda sorry Andy, I missed this question. No, the row.number column is not important to us. I was a bit concerned that there were 'missing' rows however (e.g. between 40 and 53), but checking back to the original NVC communities table available from JNCC shows that the discrepancy is also present in their table, and thus must result from some historic formatting issue. For the row 40/53

[2017-09-20 14:35] sacrevert commented on #56
FYI I am now looking at the SQL/understanding the data structure and will get back to you later.

[2017-09-20 14:40] andrewvanbreda commented on #55
Note to myself: Confusingly the dev warehouse run looks like it was fine and isn't missing the attributes

[2017-09-20 15:14] BirenRathod commented on #55
I just ran on test warehouse and none of the row has returned. So, no result.

[2017-09-20 15:21] andrewvanbreda commented on #56
@sacrevert OK, just let me know when you are ready. I think there is still a question about whether we need to do something with sources, but we'll worry about your findings first before discussing that

[2017-09-20 15:35] andrewvanbreda commented on #55
Um...OK thanks for letting me know. I will have to think about this. I think it would unlikely that it was anything wrong with the run that you did, otherwise it wouldn't have worked at all.
Will need to think, maybe existing data on the warehouse is intefering with it or something.
Good job we have done this test warehouse run

[2017-09-21 08:30] andrewvanbreda commented on #55
Somewhat luckily, I have managed to work out what is wrong very quickly this morning. It is simple and annoying. I thought I might not be able to find out why so easily.
The website record for the plant portal website had the name "Plant portal" when it should of been "Plant Portal" on the test warehouse.
I have made sure this is correct on live too. I should probably make the SQL cope with this i

[2017-09-21 10:01] andrewvanbreda commented on #55
I have done most of the cleanup now, but a bit of it might need setting directly in the db

@BirenRathod could you get me the following four counts from the test warehouse please. Thanks

select count(*)
from indicia.taxa_taxon_list_attribute_values
where taxa_taxon_list_attribute_id in (236,235,234,233,232,231,230,229,228,213,215,224,223,222,221,
217,216,226,211,210,214,219,227,225,212,220,218);

[2017-09-21 10:22] BirenRathod commented on #55
All results are below. IT should be in a same order as query.
[PlantPortal.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1320799/PlantPortal.zip)

[2017-09-21 10:32] andrewvanbreda commented on #55
@BirenRathod Brilliant these numbers are exactly perfect

Could you run the following then on test warehouse, keeping in mind it is possible the final query might fail with an error, do not worry if you see that, just let me know. I expect the problem would only occur on my own machine though

update indicia.termlists_term_attribute_values
set deleted=true
where termlists_term_attribute_id in (
se

[2017-09-21 10:38] BirenRathod commented on #55
Results are ....
First,second & third 2 rows affected & last 263274 rows affected.

[2017-09-21 10:40] andrewvanbreda commented on #55
@BirenRathod That is perfect.
So what I will do now is prepare for you to do a new run on test warehouse. I will need to send you a new SQL file

[2017-09-21 10:48] sacrevert commented on #56
@andrewvanbreda The maximum abundance of species SQL works as expected on dev, however, I can’t get the ‘Species constancy value’ example to work, and I’ve tried several TVK/community name combinations, including ones that work in the maximum abundance SQL. Here is an example of what is not working (with comments removed):

Correction: it does work, but does not return results.

from indicia.taxa_

[2017-09-21 11:08] andrewvanbreda commented on #55
New sql file
[PlantAtt Importer (for test warehouse with pref species corrections).txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1320913/PlantAtt.Importer.for.test.warehouse.with.pref.species.corrections.txt)

[2017-09-21 11:09] andrewvanbreda commented on #55
@BirenRathod The above will need running on the test warehouse with the same "tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2_additional_correction.txt" file as before. The only this you need to do is change the file path in the sql file

Thanks

[2017-09-21 12:43] sacrevert commented on #56
hi @andrewvanbreda

On our dev warehouse the species constancy term ids are as follows (ids = 11450-11454); see:

In your SQL this is joined to termlists_terms (tt_species_con_val) as folllows

So the termlists_terms.id's are 12486-12490 (see the results of following SQL)

In your SQL the termlists_terms are then joined to the taxa_taxon_lists_attribute_values (ttlav) as follows:

so the values 12

[2017-09-21 13:02] BirenRathod commented on #55
Done.

[2017-09-21 13:04] andrewvanbreda commented on #56
@sacrevert OK, those termlist_term ids are definitely right as I checked the warehouse UI.

What does the following do? (this is a slightly different checks as the attribute values could be there but the int_value might not be populated)

select count (id)
from indicia.taxa_taxon_list_attribute_values where taxa_taxon_list_attribute_id = 82;

[2017-09-21 13:07] andrewvanbreda commented on #55
@BirenRathod I assume that worked then, do you know how many rows it has affected?

[2017-09-21 13:11] sacrevert commented on #56
That returns 0. So I suppose that means it is not populated?

[2017-09-21 13:16] BirenRathod commented on #55
yes, but no information of records apart from this message "query result with 1 row discarded."

[2017-09-21 13:19] andrewvanbreda commented on #56
it does, I will have a think why that might of happened. Don't forgot that apart from on my own machine, this was the first run. I will get back to you about it. I will look at the sql and see how it might of failed to work

[2017-09-21 13:20] sacrevert commented on #56
Fine, no problem.

[2017-09-21 13:36] andrewvanbreda commented on #56
OK, I think I can see what is wrong. That attribute seems to have been added as a text attribute instead of a lookup.
What is causing this is actually only one character in the code. I am sure I saw this working fine on my box, so maybe it accidentally got changed after, or perhaps my machine has a setting that is causing it not to be an issue on my box.
I think what will happen is I will apply th

[2017-09-21 14:19] sacrevert commented on #56
Just spotted a separate issue:

Note here that at some point you have done a find-and-replace on 'na's on the spreadsheet, and this has also deleted the string 'na' from all community names

e.g. see

This should be 'Festuca ovina ...', but is "Festuca ovi-Avenula pratensis grassland" on the dev warehouse at the moment.

[2017-09-21 14:21] andrewvanbreda commented on #55
Hi @BirenRathod

OK, here is some sql to check the data is there (although the last count I am hoping is 0). Run on test warehouse

select count(*)
from indicia.taxa_taxon_list_attribute_values
where taxa_taxon_list_attribute_id >= 237 and taxa_taxon_list_attribute_id <= 277 and deleted=false;

select taxa_taxon_list_attribute_id,count(*)
from indicia.taxa_taxon_list_attribute_values
where taxa_ta

[2017-09-21 14:30] BirenRathod commented on #55
Results are as follows:
1. 52276
2. [PlantAtt_termlists_taxa.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1321582/PlantAtt_termlists_taxa.zip)
3. nil

[2017-09-21 14:41] andrewvanbreda commented on #55
@sacrevert @BirenRathod OK these numbers certainly seem good. So we might be lookin at doing a live run. I suggest we don't rush to do that today, and I will have a think just to make sure we haven't forgotten anything. I may send a little bit more sql to double check some of the database values.
Certainly looks to me that we could be looking at the live run tomorrow (or as soon as convenient for

[2017-09-21 14:45] andrewvanbreda commented on #56
@sacrevert
OK thanks for letting me know, I was aware of that danger and deliberately tried to avoid something like that. Maybe it was working on the other columns too when I didn't realise it.
We need another run anyway as we also have the preferred species issue with the NVC code.

[2017-09-21 15:17] andrewvanbreda commented on #56
@sacrevert Good spot, interestingly though, that issue doesn't look like being caused by an NA replacement as the data file looks fine. I will just have to check the code to see if there is any NA replacement handling in their that I didn't realise.

Just let me know if you spot anything else. Keep in mind that I have tested on my machine also, so you may wish to take that in't account when decidi

[2017-09-21 15:27] sacrevert commented on #56
@andrewvanbreda I have done a bit more work on the community level attributes, and can confirm that they are loaded, but have not worked out how to link the values to actual community names just yet. It might be easier if you can provide some examples; I've quite a bit of other work on at the mo, and although I'm sure I will work it out, some example tests would save some time. Cheers

[2017-09-21 15:31] andrewvanbreda commented on #56
@sacrevert OK no problem, I will get that to you. Prob not today, but probably by tomorrow

[2017-09-21 16:24] sacrevert commented on #56
@andrewvanbreda OK, I did actually get my head back around this, and it seems OK. The following gave the answers that I would expect given the raw data.

join indicia.termlists_term_attributes ttla on ttla.id = ttlav.termlists_term_attribute_id AND ttla.deleted=false
join indicia.termlists_terms tt on tt.id = ttlav.termlists_term_id and tt.deleted=false
join indicia.terms t on t.id = tt.term_id li

[2017-09-21 16:26] sacrevert commented on #56
@andrewvanbreda One tiny thing, could you capitalise 'tree' in "tree/shrub height" for consistency (not your fault, this was in the original spreadsheet)? Cheers.

[2017-09-21 16:50] andrewvanbreda commented on #56
@sacrevert Yes I will change tree. I will make a note of it, might be safer to just change in the warehouse after importing, I will look at the importer and decide if there is any risk to changing importer

[2017-09-22 09:04] andrewvanbreda commented on #55
Hi @BirenRathod,
Some final tests to try on the test warehouse whenever you get the chance, thanks, if these pass we can think about the live run, bit difficult to write on my own box without all the data but hopefully they are ok

select distinct t.taxon,t.external_key,ttl.id
from plant_portal_importer.tbl_plant_att tpa
join indicia.taxa t on t.external_key=tpa.preferred_tvk and t.deleted=false
j

[2017-09-22 09:58] sacrevert commented on #42
@johnvanbreda could you confirm when this is done? Thanks.

[2017-09-22 10:50] BirenRathod commented on #55
@andrewvanbreda

Here are the results.
[PlantPortal.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1324236/PlantPortal.zip)

Last query returned with no result.

[2017-09-22 10:56] andrewvanbreda commented on #55
@BirenRathod OK that is great thanks. I will get back to you with my conclusions.
The last query returning nothing is correct.
That is to test if there are any PlantAtt attributes present with no attribute values saved against them. So 0 is good for that

[2017-09-22 11:11] andrewvanbreda commented on #55
Hi @BirenRathod
We have at least one failure in there. Biren, could you try running this for me on test warehouse, thanks

select ttl.taxon_list_id,ttl.preferred,ttl.deleted,t.deleted
from taxa_taxon_lists ttl
join taxa t on t.id = ttl.taxon_id and t.deleted=false
where t.external_key in
('NBNSYS0100003621','NBNSYS0000002168','NBNSYS0000002392'
'NHMSYS0100002165','NBNSYS0000002149','NBNSYS00000030

[2017-09-22 11:35] BirenRathod commented on #55
@andrewvanbreda
No result.

[2017-09-22 12:52] andrewvanbreda commented on #55
@BirenRathod Thanks Biren.

@sacrevert I am doing my final checks on the latest PlantAtt run on the test warehouse and I have noticed something. Some of the preferred_tvks in the import file do not appear to be in the BRC database (unless my SQL is wrong).

They are:
'NBNSYS0100003621','NBNSYS0000002168','NBNSYS0000002392'
'NHMSYS0100002165','NBNSYS0000002149','NBNSYS0000003001'
'NHMSYS0000345863'

[2017-09-22 12:56] sacrevert commented on #55
@andrewvanbreda *groans* (at TVKs, not at you : ) ). I'll have a look at this asap.

AVB: I used to be a tester, I am used to being groaned at ;)

[2017-09-22 13:27] andrewvanbreda commented on #55
Hi @BirenRathod

Sorry to be annoying, could you try running this SQL, one of the SQLs I sent you earlier is subtly wrong.
Also the other SQL is just double check the external keys I have mentioned to Oli really are missing, so I have done the most basic sql for this

select distinct t.taxon,t.external_key,ttl.id
from plant_portal_importer.tbl_plant_att tpa
join indicia.taxa t on t.external_key=tp

[2017-09-22 13:31] sacrevert commented on #55
@andrewvanbreda The second lot of SQL gives the following on the **test** warehouse (I can't run the first block for you as I don't have permissions for the right schema on the test warehouse). I presume the fact that these TVKs are deleted means that I **do** need to provide you with new TVKs?
57128;t
57125;t
57126;t
57124;t
57122;t
57120;t
57127;t
57129;t
57121;t
57123;t
78393;t
78397;t
78392;t

[2017-09-22 13:42] BirenRathod commented on #55
@andrewvanbreda

Hear are the results in zip file.
[PlantPortal.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1324697/PlantPortal.zip)

[2017-09-22 13:43] andrewvanbreda commented on #55
Hi @sacrevert,

OK, this is kind of good as it means the test is correct and we have picked this up before live (pity I didn't notice earlier, but I was concentrating too much on the importer code itself which is working)

The first SQL isn't urgent as I believe it only failed previously because the test was wrong (it included non-preferred species in the test). As long as it is run before live an

[2017-09-22 13:47] DavidRoy commented on #55
I think option 2.  I think this has arisen because the names are not longer recommended and the old names have been depreciated.  I suggest we (Oli) uses the taxon_meaning_id to find the current preferred name and then load against the associated TVK (external_key).

[2017-09-22 15:17] andrewvanbreda commented on #56
Hi @sacrevert,

At the moment the situation is
1. I have corrected the preferred species situation and committed.
2. The tree/shrub height issue is just the original data file, we should simply be able to correct the name in the upload file before uploading
3. The problem with the "na" missing in the community name was a problem with the replacements in v2 of the file (which is the one which was u

[2017-09-22 15:42] sacrevert commented on #56
@andrewvanbreda OK fine, I will continue working on the TVK issue then.

The source terms should be:
Term:
"British Plant Communities (NVC floristic tables)"

NVC source link:
"http://jncc.defra.gov.uk/page-4265"

NVC source reference:
"Rodwell, J.S. (Ed.). (1991). British Plant Communities (5 Volumes). Cambridge University Press, Cambridge, UK."

[2017-09-22 15:46] andrewvanbreda commented on #56
@sacrevert OK, great I will add that too the code and then we can look to do another run of this next week

[2017-09-22 16:28] sacrevert commented on #55
Actually, that earlier query was misleading, as it hid the fact that not all of those TVKs are actually in the warehouses. Running this on live:

from taxa t
where t.external_key in
('NBNSYS0100003621','NBNSYS0000002168','NBNSYS0000002392'
'NHMSYS0100002165','NBNSYS0000002149','NBNSYS0000003001'
'NHMSYS0000345863','NBNSYS0100006056','NBNSYS0000003890'
'NBNSYS0000004653','NHMSYS0000462200','NHMSYS0

[2017-09-25 08:54] andrewvanbreda commented on #55
Hi @sacrevert  ,

Yes you are right, I didn’t print the TVKs against the taxa_taxon_list_ids, as the number of results was almost exactly the same as the original number of tvks then it might hide that some of the TVks are not in the warehouse

I should of done this, as all the deleted items could (in theory) be for the same tvk, obviously that wouldn’t be the case in practice.
I think this one wi

[2017-09-25 12:20] andrewvanbreda commented on #56
Source added to the taxa_taxon_list_attributes along with associated link/reference. Committed.

Note that the source_id doesn't appear on the termlists terms attributes table, so I will need to amend that table separately sometime. So the source is not on the communities attribute at the moment.

We can amend that simply in the db if needed after import, as it is just one id that needs adding.

[2017-09-26 10:06] sacrevert commented on #55
@andrewvanbreda I have done this. See attached file below. I have put these changes into my earlier version of the file, but this doesn't include an error correction that you introduced above ([here](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/issues/55#issuecomment-329432898)), so, I am just communicating them to you in the file for you to use as a lookup for the version

[2017-09-26 10:21] andrewvanbreda commented on #55
@sacrevert OK, that is great thanks.
So I will need to make sure the data files are all OK.
I will try to work out if we need another run. It depends if there is any coding changes.
One of the sql queries I got Biren to run was basically return the traits for one of the species so I will need to analyse that.
There are a few things for me to do, so I will need to look at this all and advise.

Will

[2017-09-26 10:25] andrewvanbreda commented on #55
@BirenRathod Hi Biren,
I realised there is another problem with one of the queries I wrote earlier, are you able to run this particular again on the test warehouse. Sorry to be a pain, it is a bit difficult as the setup on my machine is slightly different. Ideally it will return nothing, basically returns any matched species that don't have any attribute values for PlantAtt

select distinct t.taxo

[2017-09-26 10:54] andrewvanbreda commented on #55
@sacrevert
OK, I think I have changed the file so that it will work. I will try a quick run on my own box, and when I have finished getting test results from biren we can decide what to do
Note the following changes have been made to the data file you supplied (I will upload changes once confirmed working). These notes are mainly for my benefit so I know what has been done to the original file
1.

[2017-09-26 11:12] BirenRathod commented on #55
@andrewvanbreda
No result.

[2017-09-26 12:39] andrewvanbreda commented on #55
@BirenRathod Brilliant thanks Biren.

[2017-09-26 14:32] andrewvanbreda commented on #55
@BirenRathod All my tests have now passed apart from 1, there is just one query I have left and that is one of the queries has a few duplicate rows, however the query didn't have the taxa_taxon_list_attribute_ID in. Biren could you run the below query which is the same query but includes the ID, I think we will probably see they are just duplicated by my SQL query rather than being database duplic

[2017-09-26 14:59] BirenRathod commented on #55
@andrewvanbreda
Here are the results.
[PlantAtt_Query.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1333626/PlantAtt_Query.zip)

[2017-09-26 15:01] andrewvanbreda commented on #55
Ok thanks. Darn, not what I was hoping for. I will do another run on my own box and hopefully resolve this remaining issue

[2017-09-27 11:04] andrewvanbreda commented on #55
@BirenRathod Hi Biren, this doesn't fail on my own box. I am afraid I am going to have to get you to run that query again with the taxa_taxon_list_id included so I can see which taxa have got the values attached to them

select ttl.id as ttl_id,ttlav.id as ttlav_id,ttla.caption,ttlav.int_value,ttlav.text_value,ttlav.float_value
from indicia.taxa_taxon_list_attribute_values ttlav
join indicia.taxa_

[2017-09-27 11:11] BirenRathod commented on #55
Here are the results.
[PlantAtt_Query_27092017.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1336812/PlantAtt_Query_27092017.zip)

[2017-09-27 11:38] andrewvanbreda commented on #55
Interesting, it looks like it is still attaching to non-preferred species. I will have to take a look at this

[2017-09-27 12:06] andrewvanbreda commented on #55
Afraid I am completely bemused by this at the moment.
We can see that No of 10-km squares in Channel Islands has imported onto one taxon.
But
No of 10-km squares in Ireland has imported onto several.
Even though a diff comp shows the code is the same for these apart from the attribute names :(

[2017-09-27 14:36] andrewvanbreda commented on #55
hi @BirenRathod
Sorry I am going to be reaching new heights of annoyingness!
Can I get you to run the following on the test warehouse, really confused by this issue
This will hopefully let me see a direct comparison of the difference between the Ireland and Channel Islands attribute behaviour, the preferred and deleted state of the taxa involved in the failure.
Some of this code is directly from t

[2017-09-27 17:14] BirenRathod commented on #55
Here are the results.

[2017-09-27 17:15] BirenRathod commented on #55
Here are the results.
[PlantPortal.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1338098/PlantPortal.zip)

[2017-09-27 19:50] andrewvanbreda commented on #55
Hi @BirenRathod ,

That is great thanks. This looks like it is behaving perfectly, apart from the end result in the database. It is trying to insert just the one value onto the preferred species.
You can see why I am confused.
I will have a little think, but it might be that we just have to do a re-run and see if it does the same thing, not ideal, but at the moment I am at a loss.
Will let you kno

[2017-09-27 19:59] andrewvanbreda commented on #55
I think actually, this must be something left over from a previous run that I have not managed to delete correctly. It must be, as the code is working. I cannot see any other way.
Plan of action.
1. In the morning I will send scripts to clear our the data
2. Then we will run a few test sql queries (the same ones we already used) and make sure they return nothing (they should return nothing as we w

[2017-09-28 08:13] andrewvanbreda commented on #55
@BirenRathod
Actually we can checked the created_on of the troublesome data, Biren could you run this on test warehouse please, I will prepare some scripts to remove the existing PlantAtt data from the test warehouse.

select ttlav.taxa_taxon_list_id,ttlav.id,ttlav.created_on,ttla.caption
from indicia.taxa_taxon_list_attribute_values ttlav
join indicia.taxa_taxon_list_attributes ttla on ttla.id =

[2017-09-28 08:20] BirenRathod commented on #55
@andrewvanbreda

Here is the result.
[PlantAtt_taxa_28092017.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1340054/PlantAtt_taxa_28092017.zip)

[2017-09-28 08:23] andrewvanbreda commented on #55
OK thanks. Crumbs, not old data either then.
I will prepare the cleanout scripts anyway for now.

[2017-09-28 08:24] sacrevert commented on #3
I can't remember whether we discussed having a habitat field on this form. David and I were thinking, particularly in relation to status (e.g. planted in/outside of a garden), whether it would be useful to have one level of habitat options available (as per the iRecord general form). @kwal2 @japonicus

[2017-09-28 08:52] andrewvanbreda commented on #55
Hi @BirenRathod
Yes there is a problem with old data, I have noticed when preparing to remove the old data. A couple of the old attributes had been left behind, in fact they had been partially removed (they were no longer associated with a species list).
This will definetely be the issue, as the attributes are the ones causing the trouble.

So we will go ahead with the clearout, can you run the fo

[2017-09-28 09:24] japonicus commented on #3
I can see that if the form is used generally that there could be a problem with recording in gardens. (BSBI members ought to work on the basis of not recording in gardens - though there's obviously a great deal of ambiguity and scope for interpretation of that guidance).

The habitat categories used for the standard iRecord form are not a good fit if the aim is to distinguish garden v's non-garden

[2017-09-28 09:35] sacrevert commented on #3
The iRecord form options are based on EUNIS levels 2 and 3 (or perhaps 1 and 2), anyway, the point is that if we wanted to we could restrict this to a subset, and/or use a finer level. (At the moment 'Arable land, gardens or parks' splits into 'Arable and horticultural' and 'Gardens or parks', but these could be split further if desired).

Perhaps the habitat option(s) could appear conditionally i

[2017-09-28 09:54] DavidRoy commented on #3
I would favour an appropriate way of recording habitat (adapting EUNIS as Oli suggests) and giving/linking to guidance on how and where to record 'the BSBI way'.

The relevant bit of the EUNIS hierachy for gardens is:
http://eunis.eea.europa.eu/habitats-code-browser.jsp?expand=I,I2,I2.2#level_I2.2

Here is the list of adapted EUNIS terms used on general iRecord input forms.  Can you review - @kwal

[2017-09-28 10:06] BirenRathod commented on #55
@andrewvanbreda

I just ran these and updated all records.

First three query has updated 4 records.
Fourth has updated 301842 records.
And last two has updated 67 records.

[2017-09-28 10:29] kwal2 commented on #3
I've commented on the adapted EUNIS terms. Have not spent much time on it but tried to pick main ommissions/weaknesses from a plant recording perspective. Some may be resolved by allowing finer resolution. See what you think.
[EUNIS.for.iRecord_Final (1) KJW comment.xlsx](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1340483/EUNIS.for.iRecord_Final.1.KJW.comment.xlsx)

[2017-09-28 10:39] sacrevert commented on #3
Thanks Kev. It seems then that, in principle at least, you do not object to having an additional, potentially quite long, drop-down habitat field.

Perhaps then there are two tasks:
(i) add a general message of the type Tom suggests (I can create an issue for this).
(ii) think about the best set of EUNIS categories (possibly with finer divisions and/or augmented definitions). I suppose if we do al

[2017-09-28 11:09] kwal2 commented on #3
Agreed. I'm happy to do (ii) and to keep strictly within the confines of broader EUNIS ;-) There may be ommssions which need creating/adding. I've gone through this for NPMS and ALienatt so have a good idea of where the problems lie from a plant's perspective.

[2017-09-28 13:23] andrewvanbreda commented on #55
Hi @BirenRathod ,

OK, I have finished clearing out the test warehouse. So can you now run these please on the test warehouse before we look to do another run, these will to confirm this cleanout has worked correctly

1.  (should return nothing, make sure the taxa don't have any attribute values for plantatt after cleaned warehouse)

select distinct t.taxon,t.external_key,ttl.id
from plant_portal_

[2017-09-28 13:49] BirenRathod commented on #55
No result. phew.

[2017-09-28 13:53] andrewvanbreda commented on #55
Hi @BirenRathod
OK that is great thanks. I will now give you some instructions for the rerun, but don't do anything until I say so as there are a few new things (such as a new data file)

[2017-09-28 13:59] andrewvanbreda commented on #55
[PlantAtt Importer (for test warehouse).txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1341141/PlantAtt.Importer.for.test.warehouse.txt)

[2017-09-28 15:17] andrewvanbreda commented on #55
[tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2_TVKupdate.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1341391/tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2_TVKupdate.txt)

[2017-09-28 15:22] andrewvanbreda commented on #55
Hi @BirenRathod

Can you run the following against the test warehouse

drop table plant_portal_importer.tbl_plant_att;
drop schema plant_portal_importer;

Then run the sql file (PlantAtt Importer (for test warehouse).txt) I have just uploaded against the new data file I have uploaded just above, this is different to the previous one (tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2_TVKup

[2017-09-28 16:02] BirenRathod commented on #55
I will let you know once it has done.

[2017-09-28 18:42] andrewvanbreda commented on #55
Hi Biren,
I just realised something. I didn't apply the change that was supposed to be made to the BR Habitats on one of the lines in the new file. If you haven't done the rerun can you use this file instead. It isn't a critical issue as it is a known issue on a test run, but it is nice to try and make this one perfect if we can
[tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2_TVKupdate

[2017-09-29 08:13] BirenRathod commented on #55
Not yet, but I will do now.

[2017-09-29 09:27] BirenRathod commented on #55
I have just finished running that SQL. No problem so far apart from previous message like 'query result with 1 row discarded.'

[2017-09-29 09:43] andrewvanbreda commented on #55
That is great thanks. Could you run these tests. They are roughly what we ran before, I am hoping they are empty apart from the last one

select distinct t.taxon,t.external_key,ttl.id
from plant_portal_importer.tbl_plant_att tpa
join indicia.taxa t on t.external_key=tpa.preferred_tvk and t.deleted=false
join indicia.taxa_taxon_lists ttl on ttl.taxon_id = t.id and ttl.taxon_list_id=34 and ttl.prefe

[2017-09-29 09:48] BirenRathod commented on #55
@andrewvanbreda

First has no result.
Here are from the rest queries.
[PlantPortal.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1343862/PlantPortal.zip)

[2017-09-29 09:53] andrewvanbreda commented on #55
@BirenRathod That is great thanks. I will have a look at the other 2 results. I think one of them is probably incorrect sql, although the problem with the non-matching external keys is odd. I will investigate and let you know. Hopefully, simple data issue won't need new run

[2017-09-29 11:52] andrewvanbreda commented on #55
@sacrevert
I think two of the new TVKs don’t have a match at all in the Indicia database.
NHMSYS0000460429
NHMSYS0000459967

If we can get the correct TVks for these I don't think we would need to do another rerun (or alternatively if we find my test is wrong!)

[2017-09-29 12:23] andrewvanbreda commented on #55
Hi @BirenRathod

Could you try and run this sql for me thanks. One of my SQLs earlier was a bit wrong I think, and the other one is a more accurate version of the sql.

select tpa.preferred_tvk
from plant_portal_importer.tbl_plant_att tpa
where tpa.preferred_tvk not in
(select t.external_key
from indicia.taxa t
join indicia.taxa_taxon_lists ttl on ttl.taxon_id = t.id and ttl.preferred=true and ttl

[2017-09-29 12:44] sacrevert commented on #55
@andrewvanbreda Here you go:
NHMSYS0000460429 --> NHMSYS0000352722
NHMSYS0000459967 --> NBNSYS0000161679

[2017-09-29 12:49] andrewvanbreda commented on #55
@sacrevert OK thanks, I will adjust the data file, just need to hear back from those two tests I sent Biren. Then I think we can do a live run if all ok
I don't think it would be worth doing a test run for just two taxa. If they aren't found on the live run we can problem just rerun the import on two species I think. Anyway, waiting to hear back from biren now

[2017-09-29 12:54] BirenRathod commented on #55
@andrewvanbreda
Here are the results.

[PlantPortal.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1344388/PlantPortal.zip)

[2017-09-29 13:46] andrewvanbreda commented on #55
OK, those results are strange, but I wrote the SQL quickly. I will test them on my own machine to check they are doing what I want

[2017-09-29 14:49] andrewvanbreda commented on #55
Hi @BirenRathod

I am confused, my tests are behaving like they should on my machine.

Sorry I realise I realise this process is being a pain, could you run this on the test warehouse for me please.

select distinct taxa_taxon_list_attribute_id
from indicia.taxa_taxon_list_attribute_values ttlav
where ttlav.deleted=false

select t.external_key,ttl.taxon_list_id,ttl.preferred,ttl.deleted
from indic

[2017-09-29 14:55] BirenRathod commented on #55
Here are the results.
[PlantPortal.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1344763/PlantPortal.zip)

[2017-09-29 15:26] andrewvanbreda commented on #55
Hi @BirenRathod
I am expecting 3 sets of results, but there are two in the one you sent me, I think it is the third one that is missing. Thanks

[2017-09-29 15:28] BirenRathod commented on #55
@andrewvanbreda
No result in third one. Sorry I should have to mentioned this.

[2017-09-29 15:49] andrewvanbreda commented on #55
@sacrevert @BirenRathod
I thought I was going crazy today (as you may have seen from my posts). I have tests failing when the importer should be reliable, I am questioning my test SQL.
I believe I now have the answer. The tests should be failing. What is happening is I think because we have been running the importer several times (whch is not really something it was ever really designed to do, at

[2017-09-29 15:52] sacrevert commented on #55
I can see how that would be confusing! Happy for you to run on live on Monday. I'll be travelling a bit next week, but will be on email.

[2017-09-29 15:59] sacrevert opened #77 "recording form guidance message"
@kwal2 @japonicus @DavidRoy @sacrevert

We have decided that a guidance message would be useful on the BSBI form. If it could be immediately below the "Enter a vascular plant record card" text, then it would appear above all of the data entry/review tabs.

My suggestion for the text is:
"This card has been designed for recording plants according to the BSBI guidelines. Species that are planted in

[2017-09-29 16:02] sacrevert opened #78 "EUNIS categories placeholder"
See discussion within issue #3

[2017-09-29 18:41] johnvanbreda commented on #77
Done. If the document is placed on a CEH server then let me know and I can change the link.

[2017-09-29 18:41] #77 closed, assigned to johnvanbreda

[2017-10-01 08:57] sacrevert opened #79 "Enable Channel Islands UTM grid"
Enable Channel Islands UTM grid in the spatial reference drop down menu (and display grid on map)

Nested in #3

[2017-10-02 08:53] johnvanbreda commented on #32
Now done.

[2017-10-02 08:53] #32 closed, assigned to johnvanbreda

[2017-10-02 08:55] sacrevert commented on #19
@johnvanbreda I realise this is only waiting on the code to be upgraded, but I'm just wondering whether the move of the determiner field is included in this code?

[2017-10-02 09:20] johnvanbreda commented on #19
Added GPS precision and moved determiner to + button.

[2017-10-02 12:22] andrewvanbreda commented on #55
@sacrevert
I am now happy with the code, that problem I confirmed my suspicion on my machine this morning, that issue with the extra attributes only happens after more that one run, given that it is easy to fix if it does occur (just delete them), doesn't occur on first run, I have not fixed the issue as it would be more risky than any benefit, retests etc

Unfortunately I am still uneasy about th

[2017-10-02 12:57] sacrevert commented on #55
@andrewvanbreda is it necessary for the names to be attached to the system's preferred TVK? I had been assuming that as long as we attached to a TVK that was linked to the preferred TVK in another database table, then all would be fine.

And yes, somehow I did manage to mix up those last two TVKs!

[2017-10-02 13:18] andrewvanbreda commented on #55
@sacrevert Hi Oli, the names are only present in my post for clarity of the post, they don't serve a purpose in the importer.
Noted about the mix-up that is fine.
Any thoughts on points 1 and 2 at all?

[2017-10-02 13:22] sacrevert commented on #55
OK, but I still wonder whether the system needs to be attaching to the preferred name's TVK. Given that the preferred name (and associated TVK) may well change through time, isn't it just the case that we need to attach it to any TVK that can be associated with the preferred TVK in use at any point in time. Surely this is a benefit of a relational database?

[2017-10-02 13:30] johnvanbreda commented on #55
I agree - the design of the data model is such that you can attach data to any taxon name and then use the relationships to identify the currently preferred name when pulling out the data.

[2017-10-02 13:35] andrewvanbreda commented on #55
I think I would need to to look at the pantheon discussions about this again before answering this, because I think this should be the same as that

[2017-10-02 14:23] andrewvanbreda commented on #55
Am trying to read the initial Pantheon notes on this, but it is hard partly as it has been a while and it is complicated.
But also it was in the days before we started using Github for tracking.
However it looks like Pantheon has some set of rules to try to attach the the Preferred species first, synonyms otherwise.
It is a different situation actually the there are preferred tvks and species tvks

[2017-10-02 14:31] sacrevert commented on #55
Ok, it sounds like you are asking me to address 1 and 2 [above](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/issues/55#issuecomment-333518366). I will do this later today unless I hear any different in the meantime.

[2017-10-02 14:35] andrewvanbreda commented on #55
Yes, I think if we address 1 and 2 are address all will be fine I believe
I supplied what I think the TVKs will be for 2, so I think you need to confirm what I did.
For 1 it might be harder work. They should be in the warehouse, but do not seem to be preferred in the master list, I could get more info from Biren if you need.

There is not rush on my part

[2017-10-02 19:42] sacrevert commented on #34
@johnvanbreda when you are next working on these items, could you prioritise this one please, it seems like the one that might spook recorders the most. Thanks.

[2017-10-02 19:59] sacrevert opened #80 "Wildcard help text -- font size"
Can we increase the font size of the "Use * as a wildcard when searching for species names." text below the species grid. Perhaps so that it appears the same size as the 'Comment' and other field text when that is expanded. I think people with poor eyesight might have trouble reading it at the moment.

[2017-10-02 20:25] sacrevert opened #81 "Survey summary enhancement"
It would be nice if, on the "Review and submit" tab, a count of the number of taxa entered appeared (I suppose we could further enhance these summary options using data from iRecord in the future, e.g. number of species recorded by others in the same monad/hectad/whatever etc etc).

[2017-10-04 13:33] johnvanbreda commented on #34
Fixed

[2017-10-04 13:33] #34 closed, assigned to johnvanbreda

[2017-10-04 13:37] johnvanbreda commented on #79
Can you confirm the format please - should this be the WA/WV format military grid, or just an easting northing? I've recently had dealings with Jersey where they've expected the latter rather than the former.

[2017-10-04 14:00] johnvanbreda commented on #38
I'm not 100% sure I agree this is spurious. In this case, the records will be linked via the parent sample to the Benson location record. If you have chosen a site in the Location field to link your records to, then it makes sense to show the boundary of the site on the review I think, even if you've added a larger 1km square. If you didn't mean to link the records to the Benson site then perhaps

[2017-10-04 14:12] japonicus commented on #79
In the context of gridsquare-based botanical recording it should be WA/WV because easting/northing co-ordinates would denote an absolute point rather than a square.

[2017-10-04 14:15] johnvanbreda commented on #79
Ok - thanks, that's done.

[2017-10-04 14:15] #79 closed, assigned to johnvanbreda

[2017-10-04 14:21] johnvanbreda commented on #80
Done

[2017-10-04 14:21] #80 closed, assigned to johnvanbreda

[2017-10-04 14:34] japonicus commented on #38
I think this issue is not hugely import, so is probably not worth spending much time on.

I'm unsure how the relationship between saved sites and associated records (that have their own independent grid-reference) works. E.g. it appears that it would be possible to associated my 'Benson' saved locality (SU616918) with a record from an incompatible grid-square (e.g. SU6190).  I don't know if that m

[2017-10-04 20:25] johnvanbreda commented on #38
Samples have a location_id foreign key pointing to the saved sites which is optional. There is also a free text samples.location_name field. When you enter a location name it searches your saved sites and if you pick one, then the samples.location_id is filled in, otherwise the entered text is filled into samples.location_name as free text. You were expecting the latter but got the former.

It is

[2017-10-05 09:37] sacrevert commented on #79
The WA/WV (UTM) based system is of course traditional, but the Jersey recorders use a government app that saves and exports records in lat/long. So, if we do eventually allow for recorders to upload spreadsheets of records to this system, we might need to allow for lat/longs in Jersey (and convert them to UTM grid squares). I'm not suggesting reopening this, it is just a reminder for myself.

[2017-10-05 10:38] sacrevert commented on #38
As far as I can see it sounds as though this should not create problems in terms of actually associating erroneous grid references with occurrences directly, as long as all syncs/downloads etc. understand how the association between saved sites and actual record geo-references works.

Would a good solution, then, be to change the colour of the site geo-reference on the Review tab as John suggests,

[2017-10-05 11:33] johnvanbreda commented on #38
I'll await confirmation before changing anything. The guidance could presumably be generic as the issues are similar when using the normal recording forms?

[2017-10-05 12:45] sacrevert commented on #33
@johnvanbreda it looks like this field has been removed from the view of records received via the BSBI card. Is that in response to this bug report? I think it would be useful to have the record's VC affiliation displayed using the standard names of the vice-counties.

[2017-10-05 13:01] sacrevert commented on #38
yes, exactly. @kitenetter and @DavidRoy are best placed to tell us what might already exist and where.

[2017-10-06 08:55] sacrevert opened #82 "Editing submitted 'cards'"
At the moment there is no way to edit cards, besides entering the card by editing an from individual record.  A list of samples would be useful. I suppose this links to the enhancement in #64 but simply providing a list of submitted samples might be easier than the requirement in #64 to deal with unsubmitted forms as well.
I think this is an important enhancement.

Nested in #3

[2017-10-06 09:06] sacrevert opened #83 "Fine-scale grid ref info lost on edits"
If fine-scale information is added for a plant, but then the card is edited (going in via a record through 'My records') by adding an additional fine-scale record at an existing grid ref, or by altering an existing record to be more fine scale by using an existing fine-scale grid ref, then the fine-scale record detail is not saved. I think this also applies if a new record with the same fine-scale

[2017-10-06 10:00] johnvanbreda commented on #82
I agree with this suggestion. @DavidRoy I wonder if this is a general requirement though - should there be a "My samples" added to the Explore menu (or perhaps "my form submissions" or something more user friendly).
We could then add a flag to the vascular plants form called "in progress" and withhold in progress records from reports and verification, then display this flag on the my samples list.

[2017-10-06 10:57] johnvanbreda commented on #83
Fixed.

[2017-10-06 10:57] #83 closed, assigned to johnvanbreda

[2017-10-06 11:37] johnvanbreda commented on #33
The VC field should be filled in for you as you complete the form, but it seems some forms are being filled in without the vice county value. Do you know how this was achieved (i.e. what browser, and what steps/key strokes & mouse clicks resulted in you getting to the 2nd tab without a Vice County value)?

[2017-10-06 12:34] japonicus commented on #19
Sorry have only just noticed the implementation of this.

'GPS Precision' obviously only makes sense if the user is recording a centroid point derived from a GPS device.  The prominence now given to this field is confusing if instead (as will commonly be the case) the precise grid-ref denotes a grid square.

It seems unclear whether, having entered a 6-fig grid square I'm also supposed to fill in

[2017-10-06 12:40] sacrevert commented on #33
I also got this error on records that I was editing earlier e.g. https://www.brc.ac.uk/irecord/record-details?occurrence_id=6003084 but I did select 'Oxfordshire' through the pop-up window (the square overlapped Berks/Oxon), this might also apply to Tom's initial checks as well, because he lives close to the vice-county borders. I am using Windows 7 and Chrome.

[2017-10-06 12:52] japonicus commented on #33
The '732' code on the summary in iRecord occurs if I pick a grid-square that intersects a boundary and choose the county(e.g. SU6191 and pick Oxfordshire)
https://www.brc.ac.uk/irecord/record-details?occurrence_id=6003960

If instead I use a non-ambiguous grid-square (SU6090 for Berkshire) then the county is auto-filled on the form but the VC field does not appear at all on the summary in iRecord.

[2017-10-06 12:52] sacrevert commented on #19
I agree with all of Tom's points, and think that all the checks that he recommends should be implemented. There is clearly potential for a lot of confusion here, I doubt all that many recorders will understand the distinction between centroid and grid square precisions (however it is important and should be kept).

**Question:** Is it possible/simple to have a '?' icon next to the column header (o

[2017-10-06 12:57] DavidRoy commented on #82
I agree that this is a general requirement and could usefully be either:
- a new report under the Explore menu
- a new tab under the Explore-my records report.  This report is effectively a 'my occurrences' report.
 All occurrences belong to a sample, although some samples (rare instance) can lack occurrences.

Probably a separate report is clearest to users, and allows more flexibility.  I agree

[2017-10-06 19:21] johnvanbreda commented on #33
I've fixed it so that all new records will save the vice county field correctly. I've also fixed it so that the name of the VC is displayed rather than the internal location record ID.

[2017-10-06 19:21] #33 closed, assigned to johnvanbreda

[2017-10-09 08:05] johnvanbreda commented on #49
@andrewvanbreda The test server linked above seems to have a config problem with MySQL. However it might be a good idea if I could review the code changes as well - can you point me to the commits or relevant branches?

[2017-10-09 08:55] andrewvanbreda commented on #49
@johnvanbreda
Is it this you are getting? that is the error I am getting
"Error

The website encountered an unexpected error. Please try again later.
Error messagePDOException: SQLSTATE[HY000] [1862] Your password has expired. To log in you must change it using a client that supports expired passwords. in lock_may_be_available() (line 167 of D:\web sites\drupal\v7\multisite\includes\lock.inc)."

B

[2017-10-09 09:18] johnvanbreda commented on #42
@sacrevert This is now done

[2017-10-09 09:18] #42 closed, assigned to johnvanbreda

[2017-10-09 09:28] andrewvanbreda commented on #49
try feature-new-importer-mode both a client_helper and warehouse branch are called this

In the warehouse there is a variable throughout the code call allowCommitToDB, I think most of the changes relate to that.

[2017-10-09 15:47] johnvanbreda commented on #19
Although I agree, the implementation was such that you could only enter a gps coordinate if the main sample was also set to GPS lat long, which would always result in the warning about the finer spatial ref being outside the parent sample's one. I've changed the code now so that you can enter OSGB or OSIE grid reference for the parent sample and a GPS lat long or a grid square for the finer grid r

[2017-10-09 18:53] japonicus commented on #19
John, thanks very much for these changes. My concerns were that people often don't grasp of how precision works and are inclined to try to fill in every blank field on a form.  It's possible that I was overstating the issues, but it would have been problematic if people misunderstood and misused the precision field.

I want recording to reach the point where GPS use is ubiquitous and were precisio

[2017-10-09 19:45] johnvanbreda commented on #49
@BirenRathod see the error at http://test.brc.ac.uk/plantportal/normal-importer.

[2017-10-09 21:41] sacrevert commented on #19
I think Tom's idea about enabling the precision field if something is sub-6 figure OS is sensible. The current approach doesn't really work, because many people will have their GPS set to OS, and will want to report precisions relative to this (I would not switch my etrex unit to lat/long to record a location + precision).

[2017-10-10 08:34] BirenRathod commented on #49
@andrewvanbreda & @johnvanbreda, Yes, The expired password error has been resolved now.

[2017-10-10 10:25] andrewvanbreda commented on #56
termlists_term attributes now has source_id column. Will probably update this field manually after import though, as the field might not be present when the importer is run as it is currently on the development branch code

[2017-10-11 10:21] johnvanbreda commented on #49
Thanks Biren.

Andy - comments on the UI:
* Prevent commits on error - this needs better wording, most users won't understand the word commit. Perhaps "Reject entire import if there are any errors" vs "Reject only rows with errors".
* Use sample external key to match occurrences into sample -  also needs better wording for the same reason. Perhaps "Auto-detect samples" vs "Samples determined by a

[2017-10-11 10:29] johnvanbreda commented on #19
It's getting a bit arbitrary as to when this field should be enabled IMHO and I can see some users asking why the field enables in some cases and not others. Would a more transparent solution not be to leave it enabled all the time but rename the column to "Precision if GPS used (m)"?

[2017-10-11 11:13] johnvanbreda commented on #31
* Clicking on the map is now limited to 1km resolution.
* Change added to develop branch (for next feature release) to prevent the grid ref hints shown under the map from showing invalid precisions.

Still to do - editing a grid ref should update the help/nag text.

[2017-10-11 12:03] johnvanbreda commented on #31
Change added to develop branch for next feature release - editing the grid ref manually removes the help text, since it was really designed to assist when clicking on the map.

[2017-10-11 13:05] andrewvanbreda commented on #49
I will try to make some of the simpler changes, but I am not sure we have budget at the moment for any changes that would require significant retest.
I will let you know what I manage to do

[2017-10-11 13:54] andrewvanbreda commented on #49
Wording changed to
**Reject entire import if there are any errors:**
with helpText
_"Select this checkbox to prevent the importing of any rows if there are any errors at all. Leave this checkbox switched off to import valid rows."_

and

**"Samples determined by a provided sample key field:"**
_Select this checkbox to import occurrences onto samples using the sample external key field to determine

[2017-10-11 14:01] andrewvanbreda commented on #49
Again in reference to MY_ORM, I am not sure off the top of my head, again it is something I would need to try again later.
However I remember clearly the main gripe I had with getting it to work was the validation. Getting it to not save was easy, but I remember having various issues with getting it to report back the correct errors to the user.
In the end I was having to let it perform a normal i

[2017-10-12 09:58] johnvanbreda commented on #81
Fixed in develop branch so will be updated at next feature release.

[2017-10-12 15:42] sacrevert commented on #19
I think perhaps it would be less arbitrary if it was only enabled for 10-figure grid refs. These are what is likely to be noted by recorders with a GPS unit anyway (in OS grid format, with a precision). 8-figs can be assumed to represent a square, given that websites such as [this ](http://www.cucaera.co.uk/grp)provide square-refs down to that resolution.

So, if @japonicus is in agreement, I thin

[2017-10-12 15:47] japonicus commented on #19
I'd be very happy with @sacrevert's suggestions.

[2017-10-13 11:05] #81 closed, assigned to johnvanbreda

[2017-10-16 09:22] johnvanbreda commented on #19
Changes now done and deployed.

[2017-10-16 09:22] #19 closed, assigned to johnvanbreda

[2017-10-16 09:23] #31 closed, assigned to johnvanbreda

[2017-10-16 13:59] johnvanbreda commented on #41
I've implemented the first point above - if you enter a grid ref then change the auto-selected VC to a different one that doesn't overlap the grid ref you get a validation error.

For the finer grid refs, we are already validating they are inside the main sample grid ref so are unlikely to get transpositions and other wildly incorrect refs. So the only situation we want to avoid is where the main

[2017-10-16 14:08] sacrevert commented on #41
Yes, I see what you mean. Would a simple enhancement be to show vice-county boundaries on the review map?

[2017-10-16 18:38] johnvanbreda commented on #41
Yes, I think that is no more than an hour's work. Let me know if you want me to do that.

[2017-10-16 20:58] sacrevert commented on #41
@DavidRoy is this OK? Not sure if this will have benefits for other sites?

[2017-10-17 06:44] DavidRoy commented on #41
I agree that this would be useful.  @johnvanbreda please go ahead with this

[2017-10-17 07:02] sacrevert commented on #41
When you implement this, can you also add some fixed text somewhere (e.g. below the review map but above the summary data) that says:
"Please check that any fine-scale records that you have made are assigned to the correct vice-county."

thanks!

[2017-10-18 10:42] johnvanbreda commented on #41
The chosen vice county boundary is now loaded onto the map. Just need to add the suggested text from the above comment to the review tab.

[2017-10-21 12:15] sacrevert opened #84 "Other guidance text font size"
Can we also increase the font size of grey guidance text on the first page ("Grid square" tab) of the card please. The size used in #80 is fine I think. Thanks.

[2017-10-31 13:28] andrewvanbreda commented on #55
@sacrevert Just wondering if there has been any progress regarding this. More specifically, just checking that you aren't waiting on something from me before you are able to progress?
Don't worry if you have it in hand, just let me know if you need me to do anything.

[2017-10-31 13:36] sacrevert commented on #55
Not yet, sorry, got a significant NPMS deadline at the moment. Will try and get to it soon.

[2017-10-31 14:13] andrewvanbreda commented on #55
OK, no problem. Good luck with your work. I will look at that report parameter problem fix now for NPMS.

[2017-11-02 15:00] sacrevert opened #85 "Vice-county chooser not prompted under some scenarios"
The vice-county chooser does not appear if you first select a grid square entirely within a VC before going on to select a second grid square that crosses a VC boundary.

Also, if you change your square selection more than twice, the red VC boundary is lost (only applies if you select several by clicking on the map ,if you select several by manually typing different squares, the VC boundary is ret

[2017-11-02 15:10] sacrevert opened #86 "Show precision radii on 'Review and submit' map"
Currently the precision radii of 10 fig grid references are not mapped. It would be nice if these could be shown on the Review and submit map (makes the records easier to spot for one thing).

[2017-11-03 09:49] kitenetter commented on #38
I'm not aware of any existing guidance on how iRecord handles location names/My Sites etc., and I agree that it would be useful both for this plants form and more generally. I will draft something when I can.

[2017-11-14 17:10] sacrevert commented on #55
[tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v4.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1471802/tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v4.zip)
I really hope this works now! I loaded the set of TVKs that we had previously to the test_warehouse and used the following query to get the preferred TVK. I then checked them again in Exce

[2017-11-14 17:32] andrewvanbreda commented on #55
@sacrevert I will look at this as soon as I can tomorrow, as it would be advantageous to get this done  very soonwhile I can still remember. Need to decide if another test warehouse run is required or if we go straight to live. Can't comment on that now until I see my notes, might depend on how difficult it is to do another test one (clearing out old data) and whether there have been any code chan

[2017-11-15 12:42] sacrevert commented on #56
As per https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/issues/55#issuecomment-344329033 but for NVC data
[NVC_DDBparsed_v5.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1474706/NVC_DDBparsed_v5.zip)

[2017-11-15 13:50] andrewvanbreda commented on #56
@sacrevert OK thanks. Am just about to look at the Plant Att situation this afternoon....need to refresh memory, will let you know my thoughts on NVC too as soon as I can

[2017-11-15 14:16] andrewvanbreda commented on #55
Hi @sacrevert,
I have looked at the notes on the situation with this importer. I don't think we should do yet another dev/test warehouse run. Ideally if we had all the time in the world we would of course, but there haven't been any actual code changes since the last run.
All problems have been either caused by multiple-runs on the same warehouse, or problems with the data file.
However it would a

[2017-11-15 14:21] sacrevert commented on #55
Sounds fine. Note that some previous manual changes involves TVKs may no longer be necessary, because I have deleted some rows entirely. I have only just now realised that perhaps that wasn't the best course of action, but hopefully the lines in your loading code are easy to remove.

I think the following can be removed from your loading file:

delete from plant_portal_importer.tbl_plant_att
where

[2017-11-15 14:26] andrewvanbreda commented on #55
Yes, I think I already moved those lines.
Don't worry about any changes that are redundant, I will leave those.
Will let you know how I get on. Fingers crossed we can run this very soon

[2017-11-15 14:35] andrewvanbreda commented on #56
@sacrevert OK thanks, I think the code has changed with this importer since last run (unlike PlantAtt which hadn't changed), and we also have a new importer file. However a major advantage with this importer is we haven't done a test warehouse run yet, so we can do a clean run on that.
So I suggest roughly the same course of action as PlantAtt, but with a test warehouse run also.
I think the tests

[2017-11-15 14:39] sacrevert commented on #56
Great. Hopefully the 'Species' column in this new file should map exactly onto the species names in the full set of NVC table information, so hopefully the new TVKs will slot right in.

[2017-11-16 15:38] andrewvanbreda commented on #55
@BirenRathod
I think we are ready for a live run of this on the live warehouse.
You will find the data file below. Also a SQL file. This file is only the first bit of the SQL (it loads the data from the file into a plant_portal_importer schema).
Once the data is loaded into the schema, I will do some last tests before the final import is run. For instance I can check all the TVKs are present in th

[2017-11-16 15:40] andrewvanbreda commented on #55
[tbl_plant_att_19_nov_08_with_tvk_corrections_v4_avb_format.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1479124/tbl_plant_att_19_nov_08_with_tvk_corrections_v4_avb_format.txt)

[PlantAtt Importer Live Part 1.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1479134/PlantAtt.Importer.Live.Part.1.txt)

[2017-11-16 15:41] andrewvanbreda commented on #55
As per before, the file extensions have been changed to allow upload, also you need to put the file path you are going to use into the SQL file

[2017-11-17 09:06] andrewvanbreda commented on #55
Hi @BirenRathod ,

After you run that file, could you run these two SQL statements. The result of the first one doesn't matter as long as it doesn't error (the table needs to exist). Hopefully the second will return nothing, or at the very least return very few rows.

select id
from indicia.termlists_term_attributes
limit 1;

select tpa.preferred_tvk
from plant_portal_importer.tbl_plant_att tpa
le

[2017-11-20 11:35] BirenRathod commented on #55
Hi @andrewvanbreda

Here is the file attached.

[PlatAtlas_attri.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1487422/PlatAtlas_attri.zip)

[2017-11-20 11:36] BirenRathod commented on #55
Also, The attached file is the result of second query and first query returned no result.

[2017-11-20 11:58] andrewvanbreda commented on #55
OK, 1 is fine as long as it isn't an error, the table just needs to be there (it is a fairly new table, hence I am checking).
I will have a look into result 2, maybe it is a mistake with what I am trying to do there.

[2017-11-20 11:59] andrewvanbreda commented on #55
@BirenRathod Thanks by the way

[2017-11-20 12:00] BirenRathod commented on #55
@andrewvanbreda
Like wise, no problem.

[2017-11-20 13:54] andrewvanbreda commented on #55
@BirenRathod
I have checked the warehouse UI, and I am sure these tvks should be ok. Am sure I have done something silly.

Could you try running these two queries thanks, just going to try to find the problem with one of them, then hopefully all should become clear.

select t.id,ttl.id
from plant_portal_importer.tbl_plant_att tpa
left join indicia.taxa t on t.external_key = tpa.preferred_tvk
left

[2017-11-22 21:33] sacrevert commented on #78
Following on from #3 :

I think what is ultimately needed is to go back to the spreadsheet that you (@kwal2) uploaded at the bottom of the discussion here: https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/issues/3 and, for all those habitats where you think some expansion is needed, extract the relevant Level 3 or 4 habitats from the master EUNIS list. Then, if someone does sel

[2017-11-24 17:53] BirenRathod commented on #55
Hello @andrewvanbreda

Please find enclosed file.
[NBNSYS0000003838_Plant.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1502304/NBNSYS0000003838_Plant.zip)

[2017-11-27 12:18] andrewvanbreda commented on #55
@BirenRathod Hi Biren, I think the problem here is simply my original test SQL is not performing the test correctly. Can we try this instead please.
Thanks,

select tpa.preferred_tvk
from plant_portal_importer.tbl_plant_att tpa
left join indicia.taxa t on t.external_key = tpa.preferred_tvk AND t.deleted=false
left join indicia.taxa_taxon_lists ttl on ttl.taxon_id=t.id AND preferred=true AND taxon_

[2017-11-27 12:26] BirenRathod commented on #55
Hello @andrewvanbreda

Attached are the results.
[data-1511785458592_preferred_tvk.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1505781/data-1511785458592_preferred_tvk.zip)

[2017-11-27 12:36] andrewvanbreda commented on #55
Hi @BirenRathod ,
That is great thanks. That now looks like a sensible number, I will have a think what to do about these today.

[2017-11-27 15:14] andrewvanbreda commented on #55
@sacrevert
There still appear to be a problem with the TVKs. Actually I am not sure the problem is with the TVKs as such.
Look at the above file from Biren. These are TVKs I believe we still don't have a preferred TVK in the UK Master List in the database for but appear in the PlantAtt import file.
Take the first one for example NBNSYS0000003002. According to NBN atlas this is Lychnis viscaria L.

[2017-11-27 15:17] sacrevert commented on #55
My main thoughts on the TVKs in the Indicia warehouse are unprintable!

Can you have a look at [this comment](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/issues/55#issuecomment-344329033) above, and see whether there is some fundamental misunderstanding in the way that I looked up the alleged "preferred" TVK in the system? Clearly I am doing something wrong somewhere...

[2017-11-27 15:20] andrewvanbreda commented on #55
@sacrevert Yep, I will just finish what I am doing, and have a look in about 10 mins.
If there is something wrong, I don't think it is very wrong, don't forget we have only 30 failures out of 1800 lines....so you must be doing something right if you ask me

[2017-11-27 15:54] andrewvanbreda commented on #55
@sacrevert Looking at the sql a few things spring to mind

select cttl2.preferred_taxon, cttl2.external_key from plant_portal_importer.my_table mt join (select * from indicia.cache_taxa_taxon_lists cttl where cttl.preferred = TRUE) cttl2 on cttl2.external_key = mt.taxon_tvk group by cttl2.preferred_taxon, cttl2.external_key order by cttl2.preferred_taxon asc;

Obviously the writing style differs t

[2017-11-27 22:00] andrewvanbreda commented on #55
@sacrevert Hi again.
Just had another quick think about what is happening here. I don't think the source of the trouble is the TVKs you have got. I know I mentioned about your sql not checking the taxon list. But this should not matter when you are retrieving a TVK.
It might be a problem if it isn't in the Master List, but it doesn't mean the TVK is wrong.

Given most of the problem items seem to

[2017-11-28 08:49] johnvanbreda commented on #55
Anagallis minima is a synonym of Centunculus minimus, not a preferred name. You can only enter it on iRecord if you enable the entry of synonyms using the filter popup at the top of a species entry grid.

[2017-11-28 09:01] johnvanbreda commented on #55
Also - about NBNSYS0000003002 Lychnis viscaria, this is also a synonym, this time of Silene viscaria. It can only be entered into iRecord if you enable synonym input.
I wonder if the problems looking up TVK stem from a misunderstanding about our external key field. We use it to store the *preferred name TVK* even for a synonym - so the whole group of names which define a single taxonomic concept s

[2017-11-28 14:30] andrewvanbreda commented on #55
Hi @johnvanbreda @sacrevert
I can confirm it looks like those preferred_tvks in the import data are incorrect. So Anagallis minima in the import data is NHMSYS0000455902 and I think the tvk on the preferred species is NBNSYS0000143890

I remember actually the external_key always hold the preferred tvk, although I didn't realise the synonym's own tvk was kept in search_code

Given this situation I

[2017-11-28 14:52] johnvanbreda commented on #55
Is your importer completely separate code to the standard one? The standard one already supports a field 'Species or taxon search code" for occurrences.

[2017-11-28 14:53] andrewvanbreda commented on #55
@johnvanbreda Yes it is completely separate. SQL scripts based loosely on the Pantheon importer.

[2017-11-28 18:09] sacrevert commented on #55
@johnvanbreda @andrewvanbreda sorry, have been on a union course. Just to say that I am very aware of all the potential synonym/other taxonomic issues in the list. My (eventual) strategy was to try and find the best TVK that I could (which might not necessarily be the current preferred name in Indicia), and then use that to look up the preferred TVK using the query [here](https://github.com/Biolog

[2017-11-29 12:57] andrewvanbreda commented on #55
Hi,
Yes I will do this as soon I can for you.

[2017-11-29 17:21] andrewvanbreda commented on #55
Isn't the solution this? (I tested on my machine, then changed it to use your table name, so if there are any typos when I changed the names you might need to correct)
Just get your tvks, join to the search code which we know is the species tvk, then get the external key which we know is always the preferred tvk.
Use left joins so we always return rows even if we don't find data, and also make sur

[2017-11-29 17:25] andrewvanbreda commented on #55
@sacrevert suggested solution above, am assuming mt.taxon_tvk is a tvk that you need to find the preferred tvk for.
If it is already a preferred one, it should still work but both columns in the returned data will be the same

[2017-11-29 17:33] andrewvanbreda commented on #55
Note to AVB, Don't forget to reload the plant_portal_importer.tbl_plant_att data table once this is all done and ready

[2017-11-29 20:18] sacrevert commented on #55
Thanks Andy. I'll do this in a little while -- useful to know about the search_code field anyway.

[2017-11-30 10:21] sacrevert commented on #55
This appears to have only partly worked. I wonder if this is because I am using the test warehouse rather than the live warehouse? For example, the example for Lychnis viscaria (NBNSYS0000003002) has been redirected, but the one for Anagallis minima (NHMSYS0000455902 ) has come back with the same TVK.
[tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v5.zip](https://github.com/BiologicalRec

[2017-11-30 12:29] andrewvanbreda commented on #55
@sacrevert I don't have access to query the BRC databases. Whenever I come back with information from them (without asking someone) it means I have got the info from the Warehouse UI, or by some other way such as a website report.
However I very quickly switched one of the forms on the npms training site to see if it still accepted Anagallis minima if the form was changed to accept preferred names

[2017-11-30 12:32] sacrevert commented on #55
Great, that sounds very likely given that the UKSI is not properly up-to-date w.r.t. synonyms etc. I'll repeat this exercise for the NVC stuff later today.

[2017-11-30 16:29] andrewvanbreda commented on #55
@sacrevert I just started preparing this for Biren, but noticed your new v5 file only includes the tvk columns. Do you have a version of the file with all the columns, or alternatively I think the full import file includes the tvks sorted by species, so if you can order your results the same way as the original file I could paste the tvks in (although me pasting them in might be more liable to err

[2017-12-07 21:56] andrewvanbreda commented on #55
@sacrevert @BirenRathod
Hi. I seemed to get tham VLookup thing working, I checked one of the tvks that had a different preferred_tvk and it seems to get the right one.
(Row 89 is an example if you wanted to check).
The only think I noticed oli was that your file with the preferred tvks had one less row at the bottom, I think it must of been missed, but from what I can tell I think it is a preferre

[2017-12-07 21:57] andrewvanbreda commented on #55
[PlantAtt.Importer.Live.Part.1.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1540753/PlantAtt.Importer.Live.Part.1.txt)

[2017-12-07 21:58] andrewvanbreda commented on #55
[tbl_plant_att_19_nov_08_with_tvk_corrections_v4_avb_format_and_new_tvks.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1540754/tbl_plant_att_19_nov_08_with_tvk_corrections_v4_avb_format_and_new_tvks.txt)

[2017-12-07 21:59] andrewvanbreda commented on #55
Then @BirenRathod can you run the following sql which is the same as what we did before when we finally got it working

select tpa.preferred_tvk
from plant_portal_importer.tbl_plant_att tpa
left join indicia.taxa t on t.external_key = tpa.preferred_tvk AND t.deleted=false
left join indicia.taxa_taxon_lists ttl on ttl.taxon_id=t.id AND preferred=true AND taxon_list_id = 15 AND ttl.deleted=false
GRO

[2017-12-08 09:30] BirenRathod commented on #55
Hello @andrewvanbreda

Attached are the results.
[data-1512724799270_Preferred_TVK.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1542144/data-1512724799270_Preferred_TVK.zip)

[2017-12-08 11:30] andrewvanbreda commented on #55
@BirenRathod @sacrevert
Hi there, so we have some results from the latest run
My conclusions are:

1. I think something is not right with this run, look at the sql result file of tvks that are in the PlantAtt data but not in indicia, there are tvks there that are being reported that are not in the new data file.
For instance, the first one reported in the result (NBNSYS0000003002) does not appear

[2017-12-08 11:42] andrewvanbreda commented on #55
@sacrevert just for you info, even though I the run didn't do what I hoped, I think these are the tvks that are going to be causing us an issue going forward (see below)
I have deduced this using the following reasoning in case you are interested.
(These do appear in the latest data file and they appear to be correctly in the latest data file because your species_tvk, preferred_tvk spreadsheet is

[2017-12-12 12:11] andrewvanbreda commented on #55
@sacrevert @BirenRathod
Hi Biren, can you run the following on live

update plant_portal_importer.tbl_plant_att as tpa
set preferred_tvk=t.external_key,updated_tvk=true,old_tvk=preferred_tvk
FROM indicia.taxa t
where tpa.preferred_tvk=t.search_code AND t.deleted=false AND t.external_key!=t.search_code
AND t.id in
(select taxon_id
from indicia.taxa_taxon_lists
where taxon_list_id = 15 AND deleted=f

[2017-12-12 13:47] andrewvanbreda commented on #55
@BirenRathod
Hi actually while you are at it, it would be useful if you then run the same sql we used before as well, thanks

select tpa.preferred_tvk
from plant_portal_importer.tbl_plant_att tpa
left join indicia.taxa t on t.external_key = tpa.preferred_tvk AND t.deleted=false
left join indicia.taxa_taxon_lists ttl on ttl.taxon_id=t.id AND preferred=true AND taxon_list_id = 15 AND ttl.deleted=fal

[2017-12-12 15:24] BirenRathod commented on #55
@andrewvanbreda
While, I was running the update query, I got this error - > Error Message column "updated_tvk" of relation "tbl_plant_att" does not exist

Send me another query by updating a column name.

[2017-12-12 16:35] andrewvanbreda commented on #55
@BirenRathod Hi biren, yes you are right. I ran the query quite a few times on my machine, so forgot you needed the column creation bit too, here it is

ALTER TABLE plant_portal_importer.tbl_plant_att
ADD COLUMN updated_tvk boolean default false;

ALTER TABLE plant_portal_importer.tbl_plant_att
ADD COLUMN old_tvk varchar default null;

[2017-12-12 17:25] BirenRathod commented on #55
@andrewvanbreda
Thanks for your alter query which has added both columns and updated query ran fine.
Here are the attached results.
[Plantatt_results_tvk.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1552626/Plantatt_results_tvk.zip)

[2017-12-12 17:32] andrewvanbreda commented on #55
@BirenRathod
Thanks Biren.
This looks very hopeful. There appears to be 1 unfixed tvk I will need to look at this evening as am doing some NPMS data access stuff at this very second.
@sacrevert
The file you will be interested in, is in the zip file Biren has supplied above (data-1513099287584_updated_true.csv), these are the corrected tvks. You prob won't want to spend ages checking these are all

[2017-12-12 20:42] andrewvanbreda commented on #55
@sacrevert
I have checked the first 6 updated tvks, and they look OK to me, just by doing a simple search on google for nbn and then the key. The name on the PlantAtt data row is usually matching a synonym, and sometimes the accepted name on NBN for the new TVK.
This suggests to me the idea has worked, as we would expect the original taxon to be a synonym of the preferred species (otherwise it wou

[2017-12-13 09:55] sacrevert commented on #55
@andrewvanbreda these results look fine. I have no idea why Gentianella anglica is missing from the UKSI, it should be there by rights. Historically it was subsumed in another taxon by some authors, but it was listed as a separate species in the New Flora of the British Isles 2nd ed. (1997), so it really should be there. This is probably just one of many errors in the UKSI that we are waiting on u

[2017-12-13 14:10] andrewvanbreda commented on #55
@sacrevert
Um....it is tempting to set up a fake one, I think we could set it to "Allow data entry" off so users cannot see it.
However, then we have the faff of hacking the db to fix it later. I think we should be simply be able to rerun (some of) the importer with just 1 row once we fix it, and we won't need a hack. So I if you happy I will get Jim to do the final run now.
I don't think we need

[2017-12-13 14:34] sacrevert commented on #55
Fine, sounds good to me. Let's leave it and re-run at a later date. Happy for Jim to do the final run whenever it is convenient for you both. @andrewvanbreda

[2017-12-13 15:57] andrewvanbreda commented on #55
Hi @JimBacon ,

After a lot of development we are finally ready to run a custom SQL import script on live that will import the PlantAtt data.
Actually the importer has already been half-run (before further checks were done), so you don’t even need to worry about the data file, the data is already in a schema in the database.

All you need to run are drop statements which drop a couple of test colu

[2017-12-13 15:58] andrewvanbreda commented on #55
ALTER TABLE plant_portal_importer.tbl_plant_att drop column updated_tvk;
ALTER TABLE plant_portal_importer.tbl_plant_att drop column old_tvk;

[2017-12-13 15:59] andrewvanbreda commented on #55
[PlantAtt Importer for live (Part 2).txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1556149/PlantAtt.Importer.for.live.Part.2.txt)

[2017-12-14 10:54] andrewvanbreda commented on #55
@sacrevert Jim has confirmed the PlantAtt script has run without error.

So what we need to do is check that the data is there. Are you able to query the live database or should I get jim to run something for us?
We aren't trying to find bugs, but just a random selection of data is there fine (if there was any kind of problem it wouldn't be subtle, it would be something like no data has come acros

[2017-12-14 10:55] sacrevert commented on #55
That’s fine, I can do that. Good news at last : )

From: andrewvanbreda [mailto:notifications@github.com]
Sent: 14 December 2017 10:55
To: BiologicalRecordsCentre/BSBI-Card-and-PlantPortal <BSBI-Card-and-PlantPortal@noreply.github.com>
Cc: Pescott, Oliver L. <olipes@nerc.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [BiologicalRecordsCentre/BSBI-Card-and-PlantPortal] PlantAtt import ob

[2017-12-14 11:54] JimBacon commented on #55
The website interface allows for some easy checking. You can see :

- termlists at http://warehouse1.indicia.org.uk/index.php/termlist, IDs 706 to 717.
- terms  of a termlist at e.g. http://warehouse1.indicia.org.uk/index.php/termlist/edit/707
- term attributes at http://warehouse1.indicia.org.uk/index.php/termlists_term_attribute
- term attribute values at e.g. http://warehouse1.indicia.org.uk/in

[2017-12-14 16:22] sacrevert commented on #55
@JimBacon This looks good to me as far as I have investigated it. @andrewvanbreda I presume you are happy that this has worked based on the warehouse entries and types of list?

[2017-12-14 20:46] andrewvanbreda commented on #55
@sacrevert @JimBacon
Hi yes, I didn't think to look in the warehouse UI :(
I think really I just wanted to check that it looks like it has put a lot of values into taxa_taxon_list_attribute_values.
Actually I will get you some sql just to check that, am sure I have used some before in my tests.
Just to make sure there are values for all the attributes and taxa.
Will get back to you. I certainly lo

[2017-12-20 10:30] andrewvanbreda commented on #55
@JimBacon
Hi Jim,
When you get a chance, could you try running these statements, I am hoping they won't return anything for the first query, and I think perhaps just one taxon for the second query......hoping anyway. Thanks

select ttla.id
from indicia.taxa_taxon_list_attributes ttla
where ttla.id > 40 And ttla.deleted=false
And ttla.id not in
(select ttlav.taxa_taxon_list_attribute_id
from indici

[2017-12-20 11:41] JimBacon commented on #55
As expected, no results for the first query and one for the second (NHMSYS0000459021).   _Gentianella anglica_ was present in our UK Master list but it was deleted in April 2015 along with numerous synonyms. It is present in UKSI, see http://www.nhm.ac.uk/our-science/data/uk-species/species/gentianella_anglica.html

[2017-12-20 11:57] andrewvanbreda commented on #55
@sacrevert @JimBacon
Hi Oli, We have just run some queries to check that
A. All the Plant Att taxa_taxon_list attributes have at least one value
B. All the Plant Att tvks have a least one taxa_taxon_list attribute_value

These look to have worked, so am happy now the PlantAtt import was successful.
There is one Plant Att tvk that is being reported as having no data in the Indicia database, it is t

[2017-12-20 12:19] JimBacon commented on #55
My impression is that there is an error in the Indicia species list that needs correcting and, once corrected, you would naturally add the plant attribute data.

What I would be interested to know is why the taxon was deleted, whether by an update from UKSI and, if so, does it indicate some sort of fault and will it happen again?

[2017-12-20 12:34] andrewvanbreda commented on #55
@JimBacon
Um.....need to think, as I remember there was a bug a few years back, I think I was the one who fixed it in the end actually.
I can't remember this very second, I will have to think, but there was a problem where if you deleted a species from a species list, it deleted the actual species record....or perhaps if you deleted from a child list it deleted it from the parent list.
It may have

[2017-12-20 15:32] andrewvanbreda commented on #55
@JimBacon
I think this bug was before we were using Github, however I have found the emails relating to it.
Originally the behaviour that was witnessed was I deleted a species list taxon from a child list and the parent vanished.
However in the database it looks like what was happening is that the taxa record was getting deleted even though this wasn't the last taxa_taxon_list item.

For Gentianel

[2017-12-20 17:21] JimBacon commented on #55
Nice idea @andrewvanbreda  but I don't think it is anything to do with that bug. Hundreds of taxa were deleted on 3/4/2015 (or, to be more precise, were last updated on that date and their deleted flag is true).
This may be largely correct behaviour but I will raise a separate issue as it may need investigating more.

[2017-12-20 18:15] andrewvanbreda commented on #55
@JimBacon Yep, sounds like it isn't that bug then, as bug was only affecting one at a time when delete was clicked in the Warehouse UI

[2017-12-20 20:40] sacrevert commented on #55
@JimBacon @andrewvanbreda Just to say that this taxon should not be in a deleted state. As I said somewhere above, either we can wait for the next UKSI update (which should include BSBI input), or we can investigate now. If there are other taxa that can be identified as having been deleted at the same time, then i am happy to review them.

[Addition] I have now reviewed the list at https://github.

[2017-12-21 11:50] andrewvanbreda commented on #55
OK, let me know when the reinstatement is finished and we can deal with the PlantAtt data for that species (probably will involved rerunning part of the importer for that species only in the data file).
Note to myself (AVB): We probably need to drop the current plant_portal_importer.tbl_plant_att before re-run otherwise we might end up importing all the data again

[2018-01-16 17:36] sacrevert commented on #55
@andrewvanbreda I doubt the item concerning the missing species will be sorted soon. So presumably this is as done as it can be for the moment. Shall we leave it open to remind us about the missing species data, and move on to the NVC community data (which can go through the same SQL checks for the TVK as we used here). No great rush though, NPMS is probably more urgent in general.

[2018-01-16 18:26] andrewvanbreda commented on #55
@sacrevert Yes, the NVC is on my To Do list so am hopeful we will find it an easier egg to crack given what we have learnt from PlantAtt. I will leave it up to you whether perhaps you want to close this PlantAtt issue or leave it open until the missing species is fixed.

[2018-01-16 18:34] andrewvanbreda commented on #55
@sacrevert BTW there is probably no need for you to do anything on NVC until I have looked at that issue again, and then I will request what I need at that time in order for us to complete.
I can't remember off the top of my head exactly where we were with it.

[2018-01-17 10:37] sacrevert commented on #85
@johnvanbreda @DavidRoy just wondering whether it would be possible for some work to be done on this in the near future?

[2018-01-17 10:37] sacrevert commented on #86
@johnvanbreda @DavidRoy this would also be a nice thing to implement before lots of people start using the system (otherwise it is quite hard to spot the 10 fig records)

[2018-01-29 11:07] sacrevert commented on #78
Comments on bryophyte form that may be relevant here:

[2018-11-01 15:17] andrewvanbreda opened #87 "Get Plant Portal dev site importer running"
The importer on the Plant Portal dev site site needs to be setup

Currently tasks are
1. Update the Warehouse Plant Portal Module config file on the Dev Warehouse.
This file has been sent to BRC sys admin by email.
(I believe this Warehouse is currently running the dev branch, this branch has got the Plant Portal importer change merged into it with the exception of the changes that relate to the g

[2018-11-05 11:02] BirenRathod commented on #87
@andrewvanbreda
Plant portal is running from dev branch. I just updated code on iform and client_helpers folders.

[2018-11-05 11:44] andrewvanbreda commented on #87
@BirenRathod Hi, Thanks that looks up to date now, so I will configure it.

[2018-11-05 13:19] andrewvanbreda commented on #87
@BirenRathod
Hi Biren,
Am having problems with the performance of the dev warehouse. Sometimes it is taking ages to load pages and when I try and save a term (into location types) it is taking so long it doesn't even seem to work at all. Click Save and it looks like the next page is taking ages to load, nothing obvious to me in logs, and the item doesn't save?
Any thoughts?

[2018-11-05 13:53] BirenRathod commented on #87
@andrewvanbreda

I'm not sure, what is causing this? I just restarted the server, see if that make any difference.

[2018-11-05 14:20] andrewvanbreda commented on #87
@BirenRathod
Seems to still be doing same thing. I have to go out now, so we can look at this another time.

[2018-11-05 14:26] BirenRathod commented on #87
@andrewvanbreda
Did you check your connection? I have got no problem from my machine. or may be that particular page has got some problem. Could you send me the link, so I could check from my end too.

[2018-11-06 13:58] andrewvanbreda commented on #87
Hi @BirenRathod,
Yes might be an idea. Can you see what happens at your end if you create a term on this page called
"Plant Portal Plot" and click Save.
https://devwarehouse.indicia.org.uk/index.php/termlists_term/create/5

[2018-11-07 10:18] andrewvanbreda commented on #87
@BirenRathod This still doesn't work, even if I use my emergency 3G dongle connection.

[2018-11-07 11:07] andrewvanbreda commented on #87
@BirenRathod
Note I have just done some other configuration tasks, you might be right, and this is limited to one screen. Any thoughts? There didn't seem to be anything in the log which is odd if it was a code issue.

[2018-11-07 11:10] johnvanbreda commented on #87
I'll take a look in case it's a v2 issue.

[2018-11-07 11:18] johnvanbreda commented on #87
Ok - I've found the issue. It relates to the queuing of changes to the new cache table attrs_json data field, which might need an update across many records if you change a term. I probably need to optimise a query so will look at that now.

[2018-11-07 11:28] BirenRathod commented on #87
@johnvanbreda , @andrewvanbreda

Sorry I couldn't able to message yesterday as my password expired. Yes, I found the bug too which John has just discovered.
@johnvanbreda , to my surprise this was not throwing any error in the log too apart from this notice, "Trying to filter on unknown column wantColumns."

[2018-11-07 11:52] johnvanbreda commented on #87
@andrewvanbreda I've applied a performance fix and updated the dev warehouse.

[2018-11-07 12:22] andrewvanbreda commented on #87
@johnvanbreda @BirenRathod
OK thanks. I noticed a Plant Portal Plot had been created already, so changed the name as a test.
The first time I did it, it hung again, although it did save the change this time when I manually re-loaded page.
Then I changed the name back and it was fine.
So I think best leave for now, and I will keep an eye on it. Thanks for the fix.

[2019-01-16 14:09] andrewvanbreda commented on #87
@BirenRathod @sacrevert
Biren, we should be able to get the Plant Portal site running now.
Is the Dev Warehouse running the latest development branch code?
Also can the iForm on the Plant Portal Dev site be updated to the latest code, I made some changes to fix compatibility with some general changes that had been introduced in Indicia (I have seen this working on my own machine now)

[2019-01-16 21:53] BirenRathod commented on #87
@andrewvanbreda

I have upgraded code today from dev branch on dev warehouse. Also, I updated code on PlantPortal site too.

[2019-01-18 09:59] andrewvanbreda commented on #87
@BirenRathod @DavidRoy @sacrevert
OK, thanks Biren. That is working much better than it was. However I am finding the actual import isn't creating the plot, not sure why that is, I will have a look, that works OK on my machine.
David/Oli: As noted this is now running much that it was. It isn't importing the actual records, am not sure why that is yet, however you can run through the Wizard.
It mig

[2019-01-18 10:06] andrewvanbreda commented on #87
Actually looks like reports are missing, I will double-check these have been committed.

[2019-01-18 10:17] andrewvanbreda commented on #87
@BirenRathod Looks like I forgot to commit some reports. I have done this now there is now a plant_portal in reports_for_prebuilt_forms that should be on the dev warehouse. It it is in the dev branch now.

[2019-01-18 12:32] BirenRathod commented on #87
@andrewvanbreda
if you are already planning to move this report into brc_reports folder, better do it now and I will pull code on dev warehouse.

[2019-01-18 12:48] BirenRathod commented on #87
@andrewvanbreda
Another reason to do that John has not included that folder in warehouse 2 reports folder. you need to move that to brc_report folder. let me know once you finish then I will pull code from brc_report.

[2019-01-18 15:29] andrewvanbreda commented on #87
@BirenRathod That is a good point. This folder is not in brc_reports yet. I will need to change some paths in iForm code to do that though.
I can add that to my To Do list.
Is it possible to just have it in reports_for_prebuilt_forms for now

Thanks

[2019-01-18 16:53] BirenRathod commented on #87
@andrewvanbreda
I pulled the code of plantportal now.

[2019-01-18 20:21] andrewvanbreda commented on #87
Thanks @BirenRathod. Still getting the same issue, but that might simply be that although the reports was A problem, it might not of been THE problem.
Will see if I can reproduce it on my own machine.

[2019-11-05 15:10] andrewvanbreda commented on #87
Hi @BirenRathod @DavidRoy @sacrevert

I just looked at the Plant Portal importer again.

I think last time we spoke there were two problems stopping it working.

1. One of the problems was occurring on the dev site AND my machine.

2. One of the problems ONLY occurred on the BRC Plant Portal Dev site, my machine was fine running the same code.

As a result of this, me and Biren added a lot of logg

[2019-11-06 18:07] BirenRathod commented on #87
@andrewvanbreda
Here are my actions
1. I made another copy of iform module & pulled the code from develop branch.
2. Dev warehouse has upgraded on 31st Oct and I checked today again, it is up to date.

[2019-11-06 22:53] andrewvanbreda commented on #87
@BirenRathod
Thanks Biren. I think actually this is working now, there is just one problem I accidently left a log message in that gets displayed (hence my confusion why I thought it wasn't working).
We can leave it in for now, it can just be removed during another update in the future.

[2019-11-06 22:53] #87 closed, assigned to nobody