[2016-05-05 09:58] andrewvanbreda opened #1 "Useful information from old emails"
This information was provided in email conversations prior to the move to Github for conversation tracking.
For simplicity, elements such as information in email footers and email “niceties” have been removed from the transcript. In some places, to clean up the information, I have made edits, or added additional information and these more major edits are denoted by “avb edit”
I have also reversed

[2016-05-05 10:02] andrewvanbreda commented on #1
(avb edit: Email headers removed. Original email sent by Andrew van Breda on 07 January 2016, responses by David Roy on 9th January if you wish to locate the original emails.
I have indicated John’s response with “JVB:” and David’s  with “DR:”
Andrew van Breda wrote)

Here are some questions relating to the PLANTATT data.
**1. The PLANTATT_19_Nov_08.xls spreadsheet I am looking at has the
attribut

[2016-05-05 10:03] andrewvanbreda commented on #1
Note: Numbering seems to have become broken when above comment was posted. Ignore question numbering.

[2016-05-05 10:08] andrewvanbreda commented on #1
(avb edit: Email headers removed. Original email sent by Andrew van Breda on 13 January 2016 if you wish to locate the original emails.

In answer to your question about the preferred species. As I
mentioned, the data we are going to import for the Plant Portal
doesn't currently have TVKs, so for this answer I will assume those
will be present eventually like for Pantheon.

At the time of import,

[2016-05-05 10:57] andrewvanbreda opened #2 "Useful information from emails (from early May 2016)"
This information was provided in email conversations prior to the move to Github for conversation tracking.
For simplicity, elements such as information in email footers and email “niceties” have been removed from the transcript. In some places, to clean up the information, I have made edits, or added additional information and these more major edits are denoted by “avb edit”
I have also reversed

[2016-05-05 11:13] andrewvanbreda commented on #2
(avb edit: Email headers removed. Original email sent by Andrew van Breda on 4 May 2016 if you wish to locate the original emails.)
1. Looking at the Attributes and Sources tab, there is a column heading of "lone" however I can't find this on the data tab. My guess is that the Attributes and Sources tab is wrong and the column heading listed should have been "SBI". But that is a guess, can you con

[2016-05-05 11:13] andrewvanbreda commented on #2
(avb edit: Email headers removed. Original email sent by Oliver Pescott on 4 May 2016 if you wish to locate the original emails.)

Thanks Andy. I'm not sure about 1 and 2, the NBI and SBI headings don't spring immediately to mind - I presume there has been some renaming at some point.

I think you are right regarding 3, this info will be in the taxon hierarchy, although there may be decisions abou

[2016-05-05 11:14] andrewvanbreda commented on #2
(avb edit: Email headers removed. Original email sent by Andrew van Breda on 4 May 2016 if you wish to locate the original emails.)

Actually I think 2 was previously discussed and it meant "not recorded", false and true.

Having said that I just realised I forgot that we are now using Github for
conversation tracking. So I will put a list of queries and answers in there.

I have gathered the docu

[2016-05-05 11:14] andrewvanbreda commented on #2
(avb edit: Email headers removed. Original email sent by Oliver Pescott on 4 May 2016 if you wish to locate the original emails.)

There might be aggregates used in PLANTATT that may not be in Indicia, but it may just be a case of differing labels, and making sure the right thing has been matched. I would appreciate a full list to check (not just mismatches) in the final instance.

[2016-05-05 11:15] andrewvanbreda commented on #2
(avb edit: Email headers removed. Original email sent by Oliver Pescott on 5 May 2016 if you wish to locate the original emails.)

David has pointed out that PLANTATT is already held in a MySQL database linked to a Drupal webpage (https://www.brc.ac.uk/plantatlas/ ) that Biren is currently in the process of moving to Drupal 7. Not sure if this helps you at all?

[2016-05-05 11:23] andrewvanbreda commented on #2
Thanks for letting me know.
In actual reality I do not think it will help for the following reasons.
1. The data would still need importing from MySQL into the Indicia database (Postgres)
2.  I think importing data between different database types is going to be much more difficult than from a simple spreadsheet. It might of been simpler if the format of the tables between the two databases matche

[2016-05-09 10:42] sacrevert commented on #1
I will assume that all of the above issues are solved unless I hear differently.

[2016-05-09 12:54] andrewvanbreda commented on #1
i wouldn't like to say it is all resolved, the importer is still in development. Some might have answers, but not been coded yet for instance.
Don't worry about them for now, if I need anything, I will raise it in a separate thread and leave this one just to act as an archive.

[2016-05-09 12:56] sacrevert commented on #1
Fine - I will continue thinking in general about user interfaces and uses anyway.

[2016-05-30 19:43] DavidRoy opened #3 "Develop input system for vascular plants (BSBI)"
Develop input system as per attached specification

[BSBI online recording interface mockup v4 2016 05 30.docx](https://github.com/BiologicalRecordsCentre/PlantPortal/files/290018/BSBI.online.recording.interface.mockup.v4.2016.05.30.docx)

[2016-06-09 10:12] sacrevert opened #4 "Develop input system for plot data"
Latest versions of spec and work plan here:
[Plant Portal Work Plan_v2016 06 09.docx](https://github.com/BiologicalRecordsCentre/PlantPortal/files/306645/Plant.Portal.Work.Plan_v2016.06.09.docx)
[PlantPortalDevelopment_v2016 05 31.docx](https://github.com/BiologicalRecordsCentre/PlantPortal/files/306650/PlantPortalDevelopment_v2016.05.31.docx)

Nested in #46

[2016-06-12 18:59] andrewvanbreda commented on #4
I took a look at your new comments in the work plan. There isn't anything in there that is unexpected. You are correct that a user bulk import would want to use the same code as a large historical import, as essentially to the computer they are the same (or at least very similar) things. This makes life much easier, in particular testing effort and bug fix effort are reduced as essentially fixing

[2016-07-11 08:36] sacrevert commented on #4
Latest version of spec, phone meeting 07 July 2016 and
[Plant Portal Skype Meeting Notes – 7th July 2016.docx](https://github.com/BiologicalRecordsCentre/PlantPortal/files/356722/Plant.Portal.Skype.Meeting.Notes.7th.July.2016.docx)
[AvB comments on Skype issues 11th July 2016.docx](https://github.com/BiologicalRecordsCentre/PlantPortal/files/356723/AvB.comments.on.Skype.issues.11th.July.2016.docx)

[2016-07-13 10:04] andrewvanbreda commented on #4
I have a question regarding the importer. I have a pretty good idea of how the grouping of the samples/plots can work. However having started coding the importer I have noticed an issue, how do we decide if the sample or plot being imported should be created as a new one, or try to use an existing one in the database. We could just try to only use the existing plot locations if all the fields matc

[2016-07-13 13:04] sacrevert commented on #4
Hi Andy, when you say "how do we decide if the sample or plot being imported should be created as a new one, or try to use an existing one in the database" I presume you are talking about sample/plot groupings only. If so, I think that the method of testing to see whether that combination of plot name (or ID), grid ref (or other spatial ref) and plot group ID already exist, and the same for sample

[2016-07-13 13:44] andrewvanbreda commented on #4
Hi Oli,

OK, I thought we would just use the Sample ID during the import of rows and then not store it, but you are right, it is better if we store that too.
OK, I can see us getting confused with terminology here as there is also a Sample ID in the database sense, what we are talking about is the names the users will be entering to identify the samples.
So let's refer to these as
-Sample identifi

[2016-07-13 14:45] DavidRoy commented on #4
Is there also a role for the ‘External Key’ field in the Indicia Samples table?

From: andrewvanbreda [mailto:notifications@github.com]
Sent: 13 July 2016 14:45
To: BiologicalRecordsCentre/PlantPortal PlantPortal@noreply.github.com
Cc: Roy, David B. dbr@ceh.ac.uk; Assign assign@noreply.github.com
Subject: Re: [BiologicalRecordsCentre/PlantPortal] Develop input system for plot data (#4)

Hi Oli,

O

[2016-07-13 14:52] sacrevert commented on #4
OK. Thanks Andy. Just to say that I think the idea of restricting the Plot group identifier name to a single value might be worthwhile, then this could be described in documentation as a project ID, and would make it clearer that new samples were to be added to a particular project (i.e. set of plots). I can't really see a lot of value in letting users specify multiple subgroups of plots within a

[2016-07-13 16:18] andrewvanbreda commented on #4
In answer to David's query about the external_key.

I have not used the external key on the sample (or locations) table before (just on the termlist table)

I think normally we would use it as a unique id to identify the sample/location (although it isn't enforced to be unique in the database).
I suppose it could store the Sample identifier name, or even the Sample/Plot group identifier names if w

[2016-07-13 16:27] sacrevert commented on #4
I'm afraid I can't comment on the use or otherwise of the external_key field. However I think that all IDs (in the database sense) should be enforced to be unique (although I know that we have agreed that non-unique user-assigned identifiers will be stored and displayed as well). Unique database IDs might be important in the long run if the scientific community want to use them in data archiving r

[2016-07-13 18:32] andrewvanbreda commented on #4
Yes, when I meant not unique, I was just referring to the external_key field, if for instance we used this field to store the group identifier then it would be the same for all the samples or plots in the group and therefore not unique for the sample or plot (location).
I think for now I will press ahead with storing the identifiers as attributes anyway, as at the moment I don't see any obvious di

[2016-07-14 07:02] DavidRoy commented on #4
Agreed, thanks

From: andrewvanbreda [mailto:notifications@github.com]
Sent: 13 July 2016 19:33
To: BiologicalRecordsCentre/PlantPortal PlantPortal@noreply.github.com
Cc: Roy, David B. dbr@ceh.ac.uk; Assign assign@noreply.github.com
Subject: Re: [BiologicalRecordsCentre/PlantPortal] Develop input system for plot data (#4)

Yes, when I meant not unique, I was just referring to the external_key fiel

[2016-07-15 11:16] andrewvanbreda commented on #4
I have spoken to John about my suggestions for the database and after much thought we have decided those initial suggestions I made are the best way to go apart from one change listed below, and also one question also listed below.
1. A slight alteration to the plan is that where we have attributes that need to be associated with the species and the community.
   My initial suggestions was to enco

[2016-07-18 08:22] sacrevert commented on #4
1. Ok, this sounds like a good idea.
2. Plot groups are basically for organising plots into projects, and so for the storage of project metadata, as described in other posts above. Sample groups (whether at one point in time or across years) are so that users can keep tabs on samples that were in a particular habitat patch; this might also become more directly useful in the future if we enable the

[2016-07-18 09:03] andrewvanbreda commented on #4
I suppose the only issue I have here is that we might want to assign sample groups for a user at some point in the future so that user is able to perform some operation on the samples (editing or whatever). I suppose in that case we  could assign the group in the same way as a square is on NPMS (by saving the ID of the item to assign against the person in the database).
I will speak to John about

[2016-07-20 09:25] andrewvanbreda opened #5 "Details of how the importer will work exactly"
Nested in #46

Hi, I just wanted to bring up the topic of how the importer will actually work. Now I have started to really get into programming it, I have a better idea of how it can work. Mainly we need to strike a balance between functionality, and what is feasable. In particular we need to make it functional, but also keep in mind if it becomes too complex it might become less reliable and als

[2016-07-20 16:03] andrewvanbreda commented on #5
Having had another day's worth of thinking about this, I think my above comments are still valid, however I think we would need to extend the suggestion to possibly include sections on the page which MUST be corrected before the import can continue. For instance, if the sample's identifier name match's another sample's but there is a mismatch for the other data for the sample such as its spatial r

[2016-07-20 16:08] andrewvanbreda commented on #5
Actually I think the correction procedure would have to just be to force the import data to use a different sample identifier name. But the point still stands to have different sections. Some for corrections that must be made, and some for the user to confirm that the correct import is about to happen.

[2016-07-21 10:32] sacrevert commented on #5
Regarding your first question, I prefer simply flagging up the (potential) errors, and simply asking them to make their own changes and re-upload the CSV. I think this is better for the user's personal audit trail in general, rather than editing on screen.

 On a related topic, if we open up other users groups for plot/sample additions, won't this make the issue of group identifiers quite complica

[2016-07-21 12:32] andrewvanbreda commented on #5
OK. I think my answer is in danger of getting so complicated it might end up being useless. So I will split it into several much shorter answers
1. First I think yes we can have plot groups and sample groups and the user is only allowed to assign to ones they have permissions for.
   That permission system could work a bit like NPMS with some differences.

So, the group name is held as a termlist

[2016-07-21 12:34] andrewvanbreda commented on #5
Now thinking about your point about simplicity of the identifier system for individual plots and samples

Now thinking about this. Plot identifiers are used if users are importing new samples to existing plots in the database.
Again, looking at sample identifiers, these are used when importing occurrences that they go onto the same sample.

Now we only need the permissions system at the grouping l

[2016-07-21 13:00] sacrevert commented on #5
OK, yes, that makes sense. I had neglected the fact that that the match would need to be across all of Name/Spatial Reference/Group Name etc.

One thing that does occur to me, which is related to this, is the display and accessibility of the unique database ID number. If academics use a certain set of plots/samples for an analysis that will be published in the academic literature, then it would be

[2016-07-21 14:35] andrewvanbreda commented on #5
I think this situation is OK. Don't forget, using my suggestion a sample or plot could be assigned to any number of groups.
There is no reason why a group could not be made for a particular set of plots/samples and then the set of samples/plots would be viewed on a grid like usual in Indicia.
That grid would show the IDs if we want it to
If that grid has a download option enabled then that that se

[2016-07-21 15:19] andrewvanbreda commented on #5
There is a complication with my model that I just want to address so you know what is going on before I progress further.
That is the problem of the uniqueness of the group names.

There are two issues here.
1. We enforce a unique group name across all groups, but this causes a problem as it means I have to examine the database more before the import is made to make sure they aren't reusing a grou

[2016-07-21 15:32] sacrevert commented on #5
Yes, I agree with your solution. Does this mean we would not be checking the other fields on import (e.g. spatial ref?) - what happens if they put in a new group number by accident, but meant to attach to an existing group (for which they had the correct spatial ref)?

[2016-07-21 15:48] andrewvanbreda commented on #5
Situation: If they enter a new group name/number by accident.

A: If you remember we have a page displayed before the final import confirmation button is pressed.
That page would display the record in the section labelled for New Samples With New Sample Groups

Providing the user checks this page, they would see the data is about to be treated incorrectly and would be able to amend it to use the e

[2016-07-21 15:57] andrewvanbreda commented on #5
For occurrence uploads. A match for an existing sample would be made using if the spatial reference, date, sample group etc matched exactly

Only if an exact match was found for a sample that the user has permission to attach to would it be flagged in the
"Occurrences to attach to existing samples" section

Otherwise it would flag in the
"Occurrences to attach to new samples" section and the user

[2016-07-21 16:00] andrewvanbreda commented on #5
Obviously all these possible different scenarios are complicated behind the scenes, however don't forget the user would probably not usually encounter all the different situations during one import, so what they see on the screen hopefully won't be too complex.

[2016-07-22 11:28] andrewvanbreda opened #6 "Sensitivity requirements"
I could not see any mention of sensitivity in the scoping document. What are the requirements for this and plant portal?

Is the assumption if there is any sensitive data then people in a group would have rights to see it at full precision?
If not, then things could become complicated.

Even then, we need to make sure we are careful about who can assign rights to the groups if there is sensitive d

[2016-07-22 13:20] sacrevert commented on #6
I don't think that there will be any issues with sensitivity for the historical data that we hold. Whether or not we want to allow users to mark samples as sensitive (and degrade the precision of viewing and download), I don't know. I would be inclined to insist on openness for all datasets uploaded (that is, a Creative Commons license must be chosen). I'm not sure about what @DavidRoy thinks. It

[2016-07-22 13:32] DavidRoy commented on #6
I agree with Oli.  Not an immediate requirement

[2016-07-22 14:12] andrewvanbreda commented on #6
I am not sure what your thoughts on what an embargo period would involve, so it is difficult for me to say if it is much work.

[2016-07-22 14:14] sacrevert commented on #6
Well, probably the ability to degrade species occurrences within a set of samples to 10 x 10 km, both for viewing and download.

[2016-07-22 14:22] DavidRoy commented on #6
I do not think this requirement is needed at this stage.  I suggest we build on the premise of fitting within CC licence frameworks to start with

[2016-10-04 14:16] sacrevert commented on #3
Develop input system as per attached specification (update)

[BSBI.online.recording.interface.mockup.v5.2016.10.04.docx](https://github.com/BiologicalRecordsCentre/PlantPortal/files/508669/BSBI.online.recording.interface.mockup.v5.2016.10.04.docx)
@johnvanbreda

[2016-10-11 13:22] johnvanbreda opened #7 "Vascular plants card vice county handling"
From the spec:
VC is specified at sample level and is autofilled in an (editable) column on the species data page; but, if the square straddles two or more VCs, a warning message appears and the auto-fill does not occur (but VC number will be a required field) to force entry. If, for example, all records are in one VC, then the user could still use standard Indicia tools to autofill a column.
See

[2016-10-11 13:27] johnvanbreda opened #8 "Vascular plant card multiple recorder names"
From the spec:
It would also be useful to enforce separate boxes for multiple recorder names (i.e. provide a ‘+’ option add as many additional boxes as there are recorders). This would be much better for enforcing the separation of names, which is highly desirable for BSBI DDb data exchange.

See #3 for umbrella issue.

[2016-10-11 13:29] johnvanbreda opened #9 "Vascular plant card habitat at the record level"
Allow recording of habitat (standard iRecord options- at the record level)
See #3 for umbrella issue.

@DavidRoy David asked:
Does habitat make sense as a grid square attribute?  I note that this field is on the BSBI record form coversheet.  Do recorders use this, for example, to just record woodlands in a grid square.  Then submit another ëcardí for grasslands?

Response from @sacrevert
For vascu

[2016-10-11 14:21] johnvanbreda commented on #9
Listing multiple habitats at the per-record level might make the user interface quite complex/messy?

[2016-10-11 14:37] johnvanbreda opened #10 "Species list entry additional columns"
From the specification:
It would be useful if there was a way to make some columns standard and some additional – i.e. columns that could be expanded/selected if required (e.g. sensitivity*). We can decide which columns will be standard and which additional later (unless the developer needs this now in order to code it efficiently). It would, however, be good if the underlying code was flexible, i

[2016-10-11 14:39] DavidRoy commented on #10
Could this be met from the functionality deployed on Pantheon, although in that context it is for a reporting grid (not an input grid)?

[2016-10-11 14:40] DavidRoy commented on #9
I think this would have to be a single value field to be usable.  Oli and I will define the list

[2016-10-11 14:41] johnvanbreda commented on #10
I think this requirement maps quite closely to code we already have in place for making the input grid "responsive". This means that the grid will respond appropriately by changing its layout/behaviour when on a smaller screen. I've enabled this feature now, so, for example if you reduce your browser's width you'll notice the Comment column disappears and reduce it further to see other columns dis

[2016-10-11 14:43] johnvanbreda opened #11 "Upload pages for herbarium specimens and literature records."
From the specification:
As TH has already commented (email to KJW 16/5/2016), herbarium specimens and literature records contain a number of extra fields. I suggest that we create specific upload pages for these record types – these pages would only allow for the upload of sets of records, and would set out a template to be adhered to.

See #3 for umbrella issue.

[2016-10-11 14:43] johnvanbreda commented on #11
Please can I have a list of fields for herbarium and literature records.

[2016-10-11 14:49] johnvanbreda opened #12 "Vascular plant card site field"
From the specification:
A locality or site name field would also be available

See #3 for umbrella issue.

[2016-10-11 14:49] johnvanbreda commented on #12
This is already there - see the location name field. It allows you to save to My Sites.

[2016-10-11 14:49] #12 closed, assigned to nobody

[2016-10-11 14:50] DavidRoy commented on #10
Agreed.  I suggest we review column priorities after testing

[2016-10-11 14:56] johnvanbreda opened #13 "Vascular plant card determiner field"
From the spec:
[Add] determined/confirmed by (i.e. additional name(s) field.

See #3 for umbrella term.

[2016-10-11 14:57] johnvanbreda commented on #13
This is now done.

[2016-10-11 14:57] #13 closed, assigned to nobody

[2016-10-11 14:58] johnvanbreda opened #14 "Vascular plant card grid ref warnings included in review"
From the spec:
TH suggests that “the system should immediately reject precise gridrefs that fall outside the survey gridsquare”; to me, that seems rather too restrictive, given that I expect a reasonable number of recorders will record occasional records outside of the target grid square – perhaps a compromise could be that records edited to be outside of the grid square could generate a ‘exclamat

[2016-10-11 15:28] DavidRoy opened #15 "Occurrence attributes do not follow through to review tab"
Via testing.  This is the plant records tab, not the status field values
![image](https://cloud.githubusercontent.com/assets/2699478/19276809/807a3a6a-8fcf-11e6-85f4-9c9898e84773.png)

Resulting review tab does not pick up correct status values (that we copied down the grid automatically)
![image](https://cloud.githubusercontent.com/assets/2699478/19276859/a572c01c-8fcf-11e6-8fc3-3ed524c70425.png)

[2016-10-11 16:09] DavidRoy opened #16 "Changes to 'Review and submit tab'"
#3 Occurrence attributes should be left blank, rather use text = 'undefined'

Species column values currently say 'undefined' even though species are given in the grid.

If you add a habitat as sample attribute, it does not have a label on the 'review' tab

[2016-10-11 16:22] johnvanbreda commented on #15
This bug is fixed in the code already - commit https://github.com/Indicia-Team/media/commit/928b85b50c7dfedfc0bbd68ace549745561a949f. I'll apply the fix at the next iRecord code update, hopefully in the next few days.

[2016-10-11 18:35] sacrevert commented on #9
@DavidRoy @johnvanbreda On reflection, I wonder whether this is worth the effort. As far as I am aware the habitat attributes captured at the physical card level have never been digitised, and even if they were in the BRC Oracle database, there is no corresponding field in the BSBI DDb (afaik). I propose putting this issue on hold - at least until Kevin and Tom comment (I seem recall Kev was not v

[2016-10-11 18:43] sacrevert commented on #11
@DavidRoy @johnvanbreda hi john, thanks for confirming that this is not a big task, and is possible. This idea was not developed to any great extent in the spec, nor in conversation with the BSBI; so, I think this is something that we will now seek more input into from Kevin Walker and Tom Humphrey.

Noting here that coding may be needed for proper treatment of vague dates (alternative appears to

[2016-10-11 18:44] sacrevert commented on #10
This approach seems to be exactly what is required. Thanks!

Can we make the current standard column 'Sensitivity' an 'additional column' when the column responsiveness is programmed.

[2016-10-11 19:15] DavidRoy opened #17 "Map should zoom in as selected"
#3 As the maps is clicked, it should zoom in with each click and display message about level of grid ref selected.  Plus switch to satellite when sufficiently zoomed in.  To replicate functionality on other iRecord input forms.

[2016-10-12 08:53] sacrevert opened #18 "Add overview map to Review and submit page"
#3 It would be nice to add an overview visualisation map to the Review and submit page, particularly if we are allowing people to enter precise grid refs outside of the selected monad/tetrad.

[2016-10-12 09:40] johnvanbreda commented on #9
Ok, I will remove the habitat field - we can add it back if needs be.

[2016-10-12 09:55] sacrevert opened #19 "GPS precision field [almost ready to close]"
Allow standard field alongside finer-scale grid ref to capture GPS precision (this should be mapable as for records coming through the iRecord app).

Nested in #3

[2016-10-12 10:43] johnvanbreda commented on #17
Fixed.

[2016-10-12 10:46] johnvanbreda commented on #16
These issues are all fixed in the code, pending the next feature update on iRecord.

[2016-10-12 10:47] johnvanbreda commented on #14
Fixed in the code, pending the next feature update on iRecord.

[2016-10-12 11:42] johnvanbreda commented on #18
Committed the code for this - will be applied in the next feature update for iRecord.

[2016-10-12 14:02] johnvanbreda commented on #8
This can be implemented after the next feature update to iRecord. Requires a multi-value attribute with @control_type=complex_attr_grid and with the @encoding option set to disable storing the values as json.

[2016-10-12 15:54] sacrevert opened #20 "Recorder name should be a required field"
Recorder name should be a required field

Nested in #3

[2016-10-12 16:05] sacrevert opened #21 "Save to basket functionality"
From the spec:
"As well as the ‘submit’ button, there should also be an option to ‘save to basket’, i.e. to save the data entry process for later editing. (One might want to complete entering a list later, or save it until confirmatory information for some species was obtained.)

Area for comment: caching data offline - AvB indicated that this might present some challenges. It seemed (from discuss

[2016-10-17 12:54] johnvanbreda commented on #18
Now applied to iRecord. Please close if OK.

[2016-10-17 12:54] johnvanbreda commented on #16
Now applied to iRecord. Please close if OK.

[2016-10-17 14:44] DavidRoy opened #22 "Location search not working on plant data entry form"
@johnvanbreda

on http://www.brc.ac.uk/irecord/enter-vascular-plants, when entering a place to search for under
**'Or search for a place on the map:'** and clicking on the search button, nothing happens.

This functionality is working on other iRecord input forms
#3

[2016-10-17 14:56] #17 closed, assigned to nobody

[2016-10-17 14:58] #15 closed, assigned to nobody

[2016-10-17 15:00] DavidRoy commented on #14
Warning flag still does not appear in review tab

[2016-10-17 15:00] #18 closed, assigned to nobody

[2016-10-17 15:01] #16 closed, assigned to nobody

[2016-10-17 15:05] DavidRoy opened #23 "Plant records tab no longer showing grid ref of location being entered"
#3 @johnvanbreda

As an example.  This is the first tab:
![image](https://cloud.githubusercontent.com/assets/2699478/19443029/585c0672-9483-11e6-8c40-73636335e758.png)

This is the second tab.  Note 'You are entering records for .'
![image](https://cloud.githubusercontent.com/assets/2699478/19443063/770f6f82-9483-11e6-883a-8081e34e9742.png)

[2016-10-17 15:08] johnvanbreda commented on #22
fixed by switching form to Google Maps Search API rather than GeoPlanet.

[2016-10-17 15:15] sacrevert opened #24 "Review map zooms too far"
Under #3

I think it would be preferable that if records are outside of the monad/tetrad, then, as well as the warning flag, the map on the review page zoomed to the minimal area that bounds all records, including those that are outside of the target square. This would help in assessing errors (e.g. a recorder may enter both mistakes and intentional records outside of the grid square.)

[2016-10-17 18:51] DavidRoy commented on #24
@johnvanbreda

I think it behaves this way?

An additional request is that the grid squares for the detailed grid references have a solid line for their boundary - not dashed lines as currently implemented.  I think this is clearer.

[2016-10-17 18:51] #22 closed, assigned to nobody

[2016-10-17 20:07] sacrevert commented on #24
Sorry, yes, my example wasn't extreme enough to make it obvious.

[2016-10-17 20:07] #24 closed, assigned to nobody

[2016-10-18 07:12] johnvanbreda commented on #23
It only worked for typed in grid refs, not clicks on the map. Now fixed for both.

[2016-10-18 08:36] johnvanbreda commented on #14
Now fixed. Please close if OK.

[2016-10-18 09:45] japonicus commented on #14
Grid reference outlier warnings might need to be re-evaluated if the grid-reference for the card is changed.  It's currently possible to enter records with compatible gridrefs, then change the card-level gridsquare, leaving the records are still marked as valid.
Obviously that's not a normal workflow, but it might happen e.g. if a user gets confused and jumps between cards.

[2016-10-18 11:47] #23 closed, assigned to nobody

[2016-11-17 16:32] sacrevert commented on #5
(i) I'm adding our recent email chain here for archival purposes:
[Discussion post Skype 11 11 2016.docx](https://github.com/BiologicalRecordsCentre/PlantPortal/files/597895/Discussion.post.Skype.11.11.2016.docx)

(ii) However, I realised that I did not review this github issue before writing my responses, and there is one significant conflict. On your long post above (Jul 21) you said:

I realise

[2016-11-17 18:50] andrewvanbreda commented on #5
Adding some more email comments made by me and replied to be Oli to this thread, I will then comment on the points below and above

A. We need to nail down exactly what the groups in the system are used for.

I think I have nailed down what was making me uneasy about what has currently been implemented. I think that we were ultimately aiming for the following fields: spatial reference (best availa

[2016-11-17 19:01] andrewvanbreda commented on #5
Firstly, to deal with the points made in the first comment from today

Point "(ii)"
The issue of how vague spatial references would affect the need for plot and sample IDs, I will deal with this when replying to point "A." below.

Point "(iii)"
Yes the scenario of having no group is already permitted in the code, although without a grouping, the importer will always create a new sample/plot, other

[2016-11-17 20:34] andrewvanbreda commented on #5
Point "A."
I think plots are OK, plots are just Indicia locations. Indicia locations have a name, and this can just be used as the plot ID.  This is effectively how the importer currently works, I just need to rename Plot Name in my importer as Plot ID
However samples are more problematic, as they don't have a similar field, I think at one stage we decided not have a sample ID after all, but at th

[2016-11-18 10:06] sacrevert commented on #5
Point "A"
OK, I see. Just to clarify, I presume that using the Indicia location field for Plot ID won't create confusions around having an additional free text location field (e.g. a user might also want to record a nearby landmark as a general location).
I am now wondering whether we need sample ID; even with a vague spatial ref, as long as Plot ID is provided, and the importer is only searching

[2016-11-18 10:18] sacrevert commented on #5
Point "E"
I think this is necessary, but I'm not sure whether I am going to get around to creating the list this side of Xmas, so, perhaps we can work on the basis that there will be a list that may often result in an error correction type response from the user.

Point "F."
Probably just me misusing terminology. As you say, I can see why a classification might need attributes (e.g. bibliographic

[2016-11-18 11:03] andrewvanbreda commented on #5
Point "A"
I don't there would be confusion as a general landmark could have a different location type.
The only confusion might come if we decided plots needed a name as well as an ID.
However if needed we can just use an attribute for the ID. I am half thinking of that, because the sample will work like that.
However if we do that then we have nothing to put in the location name field.
So my pref

[2016-11-18 12:35] sacrevert commented on #5
Point "A"
Fine, I didn't think it would be a problem, just thought I'd raise it (as an extra field for imports)

Point "K"
Yes, I did think that only allowing BNG might also be a solution -- it does kind of force people to think more explicitly about precision, but I'm sure there are still who would misuse it (e.g. giving a 10 fig reference for a centroid of a much larger area). The lazy side of m

[2016-11-21 15:56] andrewvanbreda commented on #5
Yes, that is true, I didn't think of that, although the BNG reference is of a certain size, that doesn't mean that is an accurate representation of the plot.
So the decision is....
A. Allow entry in the "usual" indicia allowed grid reference systems.
B. Get the user to enter the width, length, diameter of plots as attributes and use these as the basis of the plot size.

So the question remains how

[2016-11-21 16:33] sacrevert commented on #5
I agree with A (although we will recommend BNG), but I'm not sure that B is relevant. My idea was to certainly record length, width, diameter, shape, but these would not be used in any way for the actual display of plot locations, or calculation.

Ultimately the spatial ref provided, along with the precision, give an indication of where the plot is (obviously this is more accurate as the precision

[2016-11-24 09:46] andrewvanbreda commented on #5
Yes, I agree with all of this. I think I will have to see about further validation, as the validation and calculating of whether the samples/plot/group or existing is already very complex. I need to keep in mind the maintainability of the code, if it gets too complex we might end up in a situation where is expensive to change because it would need so much retesting...or it is too difficult to chan

[2016-11-24 10:13] sacrevert commented on #5
OK, no problem. If it is easier, rather than validation, we could provide a standard list of spellings for vice-counties, or demand vice-county numbers instead.

[2016-11-24 11:59] johnvanbreda commented on #10
That's done. Sensitivity, altitude and comment are currently set to hide unless you click + at all screen sizes.

[2016-11-24 12:03] johnvanbreda commented on #19
Will this be an extra column in the species entry grid? If so, what title do you want, and should it be shown in the standard grid columns, or as an extra field under the + button?

[2016-11-24 12:05] johnvanbreda commented on #20
Done - please close if happy.

[2016-11-24 12:08] #20 closed, assigned to nobody

[2016-11-24 12:12] sacrevert commented on #10
+ icon not appearing on my screen (Chrome), although functionality works.

[2016-11-24 12:14] sacrevert commented on #19
Yes, as it is only relevant for edited records with a 'Finer grid ref.' Title: GPS precision. It would probably be best to have on the standard grid (immediately right of Finer grid ref), and have 'Determiner' moved to under the + button, as this will only rarely be used.

[2016-11-24 13:59] andrewvanbreda commented on #5
Yes I think we will just have to see what is best when I reach that bit of code.

[2016-11-24 15:44] johnvanbreda commented on #14
Fixed in the code and will be deployed at the next feature release.

[2016-11-24 15:44] #14 closed, assigned to nobody

[2016-11-24 15:52] johnvanbreda commented on #10
@sacrevert Which icon do you mean? The + symbol only appears in the right column of the row when you've added a species name. It seemed to work for me on Chrome.

[2016-11-24 16:00] sacrevert commented on #10
@johnvanbreda OK, fine, I thought it would be there without adding a species. No problem.

[2016-11-24 16:00] #10 closed, assigned to johnvanbreda

[2016-11-25 16:09] johnvanbreda commented on #7
I've made some progress on adding the VC at the sample level, but will leave this disabled today so as to not affect any demos over the weekend as I don't think it's perfect yet. Here's what it does:

  - adds a Vice county input box which searches against Vice county names on the first tab.
  - if you click on the map or fill in a grid square, then the vice county auto-fills in.
  - if 2 vice cou

[2016-11-25 17:08] sacrevert commented on #7
That sounds good. I think we could probably live with the option of the pop-up question, and then filling in the form twice for your last bullet point. Presumably allowing species level edits for vc membership is a lot more work? I think for the most part recorders would stay inside their vice-county, but filling in the form twice is not that much hassle.

That said, if it is relatively trivial to

[2016-11-26 14:40] johnvanbreda commented on #21
1. For the Save to Basket function, will this allow a form to be saved with some parts of the form incomplete, i.e. does it need to bypass validation for required fields? Or, is it just the same as saving the form with all validation applied, but flagging the form up as unfinished so it doesn't appear on public reports yet, allowing you to browse a list of unfinished forms to edit at a later date?

[2016-11-28 08:33] DavidRoy commented on #7
I agree with Oli.  Perhaps in the first instance we just implement at the sample level.  At this level we can use the full VC name I assume

[2016-11-28 08:36] DavidRoy commented on #19
I agree with both of Oli's suggestions:
add GPS precision field to after 'Finer grid ref.' field
move 'Determiner' field between 'Altitude' and 'Comments' fields

[2016-11-28 08:38] DavidRoy commented on #21
In response.
1. The simpler option is needed.  same as saving the form with all validation applied, but flagging the form up as unfinished so it doesn't appear on public reports yet, allowing you to browse a list of unfinished forms to edit at a later date?
This does raise a question about how a user finds this 'sample' form again.  Does it raise the need for the ability to explore samples?

2. I

[2016-11-28 08:39] #9 closed, assigned to nobody

[2016-11-28 08:44] johnvanbreda commented on #21
1. Agreed. There would need to be a list of unfinished forms available for you to browse. Other ideas include:

   - sending a notification if there are unfinished forms left around for more than, say, 1 month.
   - allowing admins to browse all unfinished forms and either "finish" them or delete them.

Are either of these ideas essential to meet the basic requirement?

[2016-11-28 08:46] DavidRoy commented on #21
I think it is essential to have a way for users to browse their 'unfinished forms'.  The other requirements are not essential at the moment.

[2016-11-28 08:48] johnvanbreda commented on #7
I've now enabled the vice county input at sample level. Let me know if that does the job. Yes - it uses the full VS name - as the population is automatic there are less advantages to using the VC number.

[2016-11-28 09:00] DavidRoy commented on #7
Works well, thanks

[2016-11-28 09:00] #7 closed, assigned to nobody

[2016-11-28 09:46] sacrevert opened #25 "Number of recorders field"
In addition to the time spent recording, and the ability to enter recorder names separately, should we also capture the number of recorders? It seems a simply thing to do, and so we might as well do it now. The reason why this might be needed in addition to the number of names, is that often, on natural history society meetings, not all names are known, or only the leaders names are entered as rec

[2016-11-28 10:15] DavidRoy commented on #25
In principle 'yes' to this.  I'm a little concerned about over-complicating the form with too many mandatory fields.  It would also be good to clarify a few things.
1. would the field be numeric or does it need to cover vague numbers (~10, 10+, 10-15 etc)
2. could it be mandatory but default to a value such as ('1', or 'not recorded').

[2016-11-28 10:22] sacrevert commented on #25
how about 1, 2, 3-5, 6-10, 10-20. 20+ ?
Or, we can consult with Kevin etc. first?

[2016-11-28 11:18] DavidRoy commented on #25
I suggest we (@johnvanbreda !) implement these categories and then seek comment.  Default value = 1.

[2016-11-28 11:23] sacrevert commented on #21
I agree with all the above. I note that Tom Humphrey might need to make changes to his DDb sync so that forms flagged as unfinished are not synced. I'm going to send the demo and the github issues to him and Kevin today for comment anyway.

[2016-11-28 11:29] sacrevert commented on #25
Safer to have default as blank but insist on change to submit?

[2016-11-28 11:51] DavidRoy commented on #25
OK, but we need to be alert to danger of annoying submitters by having too many compulsory fields?

[2016-11-28 11:59] sacrevert commented on #25
I'll ask Kevin etc. to comment on this when I email. I don't know how demanding, e.g. MapMate currently is. The BBS spreadsheets have a lot of detail, but, admittedly, they are not so widely used as this will be. I suppose simplifying in response to user feedback in the future is also not a big task.

[2016-11-28 14:28] johnvanbreda commented on #25
I've added a number of recorders field with categories as suggested (adjusted slightly to avoid overlaps). It's mandatory and has no default.

[2016-11-28 14:41] #25 closed, assigned to nobody

[2016-11-28 19:45] DavidRoy opened #26 "Behaviour of iRecord plant input form when not logged in"
The form should behave as follows when access by a user who is not logged in.

The page should display a message to say
 'To enter records using this form you require an iRecord user account and be logged into the system.  To login or register an iRecord account, please click [here](http://www.brc.ac.uk/irecord/user).

Nested in #3

[2016-11-28 19:45] DavidRoy commented on #3
#26 to be included in list of task.  I'm not sure how to reference to then appear in list above

[2016-11-28 20:45] kwal2 opened #27 "Could 'quantity' be added as an additional record attribute?"
It would be useful to have 'quantity' as an additional attribute of a record on the Plant Record page

[2016-11-28 20:50] kwal2 opened #28 "Charophytes/Lycopods need to be added to the taxon table"
BSBI recorders tend to record Charophytes along with vascular plants and so these need adding to the taxon dictionary.

[2016-11-28 21:02] sacrevert commented on #27
This would presumably be an additional option (i.e appears only when chosen by surveyor clicking +).

Can you specify the categories of the broken log scale that you want?

Nested in #3

[2016-11-28 21:02] sacrevert commented on #28
#3

[2016-11-28 21:10] kwal2 commented on #27
Yes, an additional option. I think I would prefer a free-numeric field rather than categories.

[2016-11-28 21:18] kwal2 opened #29 "Nomenclature is Stace edition 2 not 3"
This is not necessarily a problem but needs updating as most BSBI recorders are now using the third edition of Stace's flora.

[2016-11-28 21:52] sacrevert commented on #29
Not sure whether to leave this issue open, as is dependent on UKSI, not Indicia.
#3

[2016-11-28 21:53] kwal2 commented on #29
Just noticed that there are no Lycopods (Isoetes, Selaginella, Lycopopdium, Huperzia, Lycopodiella, etc.)

[2016-11-28 21:57] sacrevert commented on #29
I will need to check which uksi groups are enabled. I expect Ginkgo is missing too.

[2016-11-28 21:58] sacrevert commented on #29
#28

[2016-11-29 09:48] #6 closed, assigned to DavidRoy

[2016-11-29 10:00] #29 closed, assigned to nobody

[2016-11-29 10:26] sacrevert opened #30 "Increase spatial ref flexibility"
Currently the grid ref field is restricted to 1 km or larger scales. Although the form is targeted at lists from 1km or 2km cells, it would be nice if it also allowed for smaller British National Grid areas.

Also, the error message is confusing to those who don't understand scale/precision. Perhaps once the form allows finer scale grid refs, the error message can just say "please enter a valid gr

[2016-11-29 11:01] japonicus opened #31 "Grid reference precision related"
After clicking on the map to generate a high precision reference the form does not accept it as is too precise -- ideally map generated refs should be limited to 1km for this form.

Editing the resulting ref to 4-figure still leaves a 10m-related message persisting "Excellent! 10m square selected"

Similarly, use of a 10km square from the map, which is subsequently edited to greater precision stil

[2016-11-29 11:16] japonicus opened #32 "Altitude field validation"
Altitude is not validated at the point of entry.

Altitude values such as 'low' or '10m' are accepted.  At the point of final submission the whole set is rejected with an uninformative message: 'The data could not be saved'.

Returning to the record list does expose validation warnings on the altitude field. These warnings are not cleared even after the altitude field is either blanked or set to a

[2016-11-29 11:19] japonicus opened #33 "Vice county displayed using invalid numerical code in iRecord view of record"
e.g. Oxfordshire appears as Vice-county 732

![screenshot 2016-11-29 10 37 02](https://cloud.githubusercontent.com/assets/207360/20707942/9abf7ff8-b625-11e6-88ff-1bb7e3a8cbf8.png)

[2016-11-29 11:23] johnvanbreda commented on #26
We don't have an easy way of displaying a custom access denied page on different pages so I've enabled the standard one. Is that OK?

[2016-11-29 11:24] japonicus opened #34 "Record list on review tab (3) is corrupted after failed submission"
If the submission of records fails for any reason with a "The data could not be saved" error then the list of occurrences is no-longer shown on the review tab (the records are still visible on tab 2 and can still be submitted)

![screenshot 2016-11-29 10 46 46](https://cloud.githubusercontent.com/assets/207360/20708086/3bd1303a-b626-11e6-9f1e-fd042ff28f9e.png)

See #3 for umbrella issue.

[2016-11-29 11:29] japonicus opened #35 "Recorder name and number of recorders incorrectly marked as invalid"
Number of recorders and recorder name fields intermittently declared to be invalid (and block record submission), even though they contain valid content.

This occurs when logged in (so the recorder name is pre-populated).  It may be only after a batch of records has already been sent - not sure, as problem appears intermittently.

Re-entering the two fields (even with identical values) clears the

[2016-11-29 11:33] japonicus opened #36 "SmpAttr 992 and 127 missing (number of recorders and recorder name) missing on edit"
Editing an existing record (without changing number of recorders or recorder name) results in SmpAttr 992 and SmpAttr 127 missing errors after attempted (failed) record submission.

![screenshot 2016-11-29 10 51 38](https://cloud.githubusercontent.com/assets/207360/20708370/75f227c8-b627-11e6-9645-cffe986e9264.png)

possibly related to #35
See #3 for umbrella issue.

[2016-11-29 11:39] japonicus opened #37 "Precise gridrefs not saved"
Precise grid-references are not saved.  I have yet to manage to submit one correctly, but am not absolutely sure whether the precise refs are lost during first submission or after re-submission following an error.

e.g. occurrence id 4333333 should have a precise grid ref of SU616919

Screen shot showing correct settings prior to submission:

![screenshot 2016-11-29 11 08 57](https://cloud.githubu

[2016-11-29 11:50] japonicus opened #38 "Map highlights 'ghost' precise locations that are not set"
There is a conflict between placename linked 'saved' site gridreferences and the used reference shown on the summary map.

Steps to repeat:
Selected a saved placename, e.g. Benson is linked to SU616918 for my account
Gridref is not filled automatically
Enter a 4-fig gridref
Enter a record on tab two, _without a precise gridref_
Summary tab three marks the position of the precise square (SU616918)

[2016-11-29 11:51] japonicus opened #39 "Status should default to blank not 'native'"
Please don't use 'native' as the default for status.

See #3 for umbrella issue.

[2016-11-29 11:55] japonicus opened #40 "Support for Irish Grid-references"
The grid-reference field rejects Irish grid-refs - these should be allowed.

See #3 for umbrella issue.

[2016-11-29 12:01] japonicus opened #41 "Vice-county selection [show boundaries on review]"
The vice-county picker for ambiguous gridrefs is useful when the VC field is not already populated, but shouldn't re-prompt if a valid vc is already filled in.

E.g. if Oxfordshire is already set, then entering SU6189 as the grid-square should prompt me to say whether I meant Oxfordshire or Berkshire.

A secondary problem is that the VC field can subsequently be set to a county that does not match

[2016-11-29 12:09] sacrevert commented on #41
In #7 we suggested that we would require users to fill in the card twice for different VCs (in order to save on development resources). If we stick with that approach, then I suppose we just need to make sure that the precise, non-target VC record is rejected with a helpful error message.

[2016-11-29 12:10] japonicus opened #42 "Precision of surveying time field [vague dates in user profiles]"
Although nice to have, should the 'Time surveying' ~~field be required and, if required,~~ need such precision?

I suspect that many recorders might be hard-pressed to fill this in accurately and if 'required' will give a false answer (which is worse than no information).

The surveying period is capped at 24h which rules out the use of this form for records from >1 day.  (similarly the date field

[2016-11-29 12:19] sacrevert commented on #42
'Time surveying' is not currently mandatory -- are you asking whether it should be? Agreed that half-hourly precision would be sufficient, although this presumably means a drop-down menu would be best?

Surveying is capped at one day, the thinking was that historic data would be (eventually) via a separate form (#11). However, people clearly do still collect data for a grid cell over longer period

[2016-11-29 12:20] japonicus opened #43 "Disallow composite 'super-Vicecounties'"
It's possible to enter multi-VC entities such as 'Sussex' or 'Yorkshire' as the county.

Under some circumstances these can also appear on the county suggestion list after clicking on the map. E.g. zoom out from York and click and the suggested counties list gives:

'North-east Yorkshire'
'Yorkshire'

Nested in #3

[2016-11-29 12:27] japonicus commented on #42
Sorry, yes you're right.  I think having experimented with various invalid values I got confused, as they were blocking form submission. I don't think it should be mandatory - so that part of the form is fine :)

Less fine-grained precision on the survey time field might be useful.

Personally, I'd prefer that multi-day ranges be allowed, but discouraged.

As I understand it #11 is related to herb

[2016-11-29 14:40] sacrevert commented on #42
So @johnvanbreda to implement restricted (half hourly) survey times

@kwal2 to comment on whether to allow vague date ranges on this form.

You are right that #11 was imagined as being intended for herb/lit reports, but it could be extended to deal with vague dates. Personally I think this would be a good opportunity to reduce the practice of vague dates, but @japonicus has a much better idea of t

[2016-11-29 15:21] japonicus commented on #42
For current recording, precision looks to be a non-issue (~ 99% of recent records use precise days).  To me it just seems odd to limit the use of the form to exclude capture of old recording cards (which often lack precise dates). Old recording cards would otherwise a good fit for this data-entry form, whereas I imagine the forms envisaged for #11 would be much more complex.

![Date precision in t

[2016-11-29 16:08] sacrevert commented on #42
OK, thanks Tom, I assumed it would be lower and therefore an increased need to persuade people to shift to day precision. Reversing a previous decision then, can @johnvanbreda enable vague dates, and perhaps include a link to the Recorder 3 page (or other) outlining the accepted formats?

[2016-11-29 16:28] japonicus commented on #42
I've just realised that my precision table above slightly mis-represents things, as the year grouping on the rows implicitly excluded date ranges that spanned multiple years.  That will understate records with only dateclass-level accuracy - but I wouldn't expect any future recording to be so imprecise.

At the risk of adding rarely used complexity, we could insist that dates from 2017 onwards hav

[2016-11-29 17:09] sacrevert commented on #42
Speaking naively, that seems even more complex to me (at least in terms of the user interaction). I don't mind either way, but I would probably be happier with one or the other, and, if we go with allowing vague dates, a message stating that day-resolved data are preferred. if @kwal2 can make the final decision, that would be fine with me.

[2016-11-29 17:21] japonicus opened #44 "Should sensitivity be reason rather than precision based?"
...adding issue/feature request from earlier email discussion.

"If sensitivity is recorded on the form then I don't think this should be expressed as a level of precision-blurring - because that severely ties our hands in terms of how data can eventually be used, released or licensed. If we need 'sensitivity' at all then I think it should be expressed as 'sensitive'/'not-sensitive' i.e. a tick bo

[2016-11-29 17:28] japonicus opened #45 "iRecord precision blurring can add spurious precision"
If a record is created at e.g. 1km precision then blurred to 100m precision then the displayed grid square is a 100m square, centred on the monad. It should not be possible to 'blur' a record to greater precision than it was recorded at.

See the two screen shots below, first is the unblurred monad record:
![screenshot 2016-11-29 17 24 45](https://cloud.githubusercontent.com/assets/207360/20720907

[2016-11-29 20:38] kwal2 commented on #42
Not sure I've followed the detail but there seem to be two separate issues here:

Time surveying - not mandatory and I would be happy with to 30 min accuracy. This is really to help in analyses to determine recorder effort. I can't imagine this needing to be more than 24 hour.

Date ranges - I think we need to allow vague date ranges; certainly to month and year precision as I can imagine recorder

[2016-11-30 08:28] DavidRoy commented on #42
Just catching up with this.  I'm of the view to not implement vague date functionality, because it complicates the user interface (i.e. we loose the simple date picker) for a narrow and diminishing requirement.  I favour creating a cloned version of the form for this purpose and giving a message on the main form along the lines of 'if you want to submit records with a vague date (i.e. that span da

[2016-11-30 08:36] DavidRoy commented on #26
yes, ok

[2016-11-30 08:36] #26 closed, assigned to nobody

[2016-12-03 17:40] andrewvanbreda commented on #5
Email I sent to Oli to confirm how Vice County logic will work is below. Oli's reponses in italics. My further responses to Oli are in Bold

My thinking is as follows

- A column is provided to specify the grid reference type, for each row either "corner", "centroid" or "vague" is specified

_I think we can simplify this to “plot location” or “vague location” (as a required field), and then have a

[2016-12-05 09:15] sacrevert commented on #5
Thanks Andy. Regarding GPS precision, this is basically the radius within which a GPS reading is accurate, and is normally between 1 and 20 m (although this depends on GPS unit and satellite availability). I know that Karolis and John have started to use this information directly from phones in the iRecord app -- some records coming through the app are displayed on a map with a centroid and then a

[2016-12-06 11:39] andrewvanbreda commented on #5
Hi Oli,

That is fine about the GPS precisions, just sounds like an attribute. I just want to check it wasn't something very complex with a learning curve.

As far as the vice county goes I think I understand the situation. You remember I made the suggestion we don't need to save the Vice County as it can be calculated, but then you said we do need to save it.
I think actually we are both right.
I

[2016-12-06 12:16] andrewvanbreda commented on #5
Just a quick note. Am testing the importer with your large import file (6000 or so records). My initial observation is that it would be advantageous to eventually implemented (at low priority, for now anyway) your suggest of collapsible sections on the importer warnings screen, perhaps defaulting to collapsed over a certain number of records. Currently that screen shows the user exactly what it is

[2016-12-06 15:26] andrewvanbreda commented on #5
Just some comments about performance and the loading of the test file you supplied.
I have now been able to run through the large import file. Note that I did have to add a plot ID/name column.
These are my observations:

Loading the import description/warnings screen - 40 seconds (no user feedback is currently provided here)

Create everything apart from samples/occurrences (e.g. groups/plots/gro

[2016-12-07 17:43] andrewvanbreda commented on #5
Am just looking at practical solutions to the issue of bringing the occurrence checks forward in the import wizard.
There are issues here, one is difficulty of implementation, and another is speed. The problem is we can't get our results without consulting the warehouse......possibly 6000 times, then we want to show the results to the user.
Given that effectively we are required to ask the warehou

[2016-12-07 18:14] andrewvanbreda commented on #5
Further to my message above, I put in some code on my machine to impede the submit but still report the errors, and then ran it, the performance of this was about 4 times faster than a full submit (5 minutes instead of 20). This suggests to me it would be possible to run that check, then auto rerun with full submit (if no errors) without a massive reduction in speed. So 20 minutes for upload would

[2016-12-07 22:19] sacrevert commented on #5
In principle I think these ideas are good, although part of me wonders whether, if ultimately a user with errors will get a report and then have to correct species anyway, we should just provide the Indicia (UKSI) species list as a download, and advise them to check against it manually (e.g. Excel, we could provide guidance) before even attempting upload.

I wonder whether we should leave this dec

[2016-12-08 11:01] andrewvanbreda commented on #5
Hi Oli,

Don't worry about my time before next week as I can get on with the auto-generation of spatial references bit e.g. from Vice Counties.

You are correct in that the user will receive a report of some variety of the problem and they would have to act on it.
This could be a file, or we can display it on screen.

As you say, the only way round this would be to try and resolve the problem befo

[2016-12-08 11:06] sacrevert commented on #5
Thanks, I will continue to think about it in advance of the meeting. I was thinking that the guidance provided, would, for example, instruct the user how to compare two lists using VLOOKUP in Excel, allowing them to, in theory, catch all errors before uploading. However, on relection, perhaps this is not that smart, because remaining errors would still need to be checked for and caught anyway (alt

[2016-12-08 11:34] andrewvanbreda commented on #5
Hi Oli,
I am not that familiar with Excel apart from the opening a file with it once in a while, so anything you think would help please go ahead with.
Just one comment, I do not believe the actual lack of any errors would have any computing performance advantage, as the check would still need to be made by the computer to know there wasn't an error. However given that users won't be uploading 600

[2016-12-08 14:58] andrewvanbreda commented on #5
In regards to the processing of rows for the calculation of a spatial reference from a vice county/country, how many rows do you expect would need to be processed as a maximum? There is a performance overhead with this, but I need to work out what can be done practically.
If instance we have a file with 6000 rows and everyone needs this calculating, then this could become an issue

**OLP** perhaps

[2016-12-08 15:18] andrewvanbreda commented on #5
Just a further thought on this issue, I am now thinking actually what I am going to do is simply have a list of vice counties and countries as part of the configuration on the edit tab configuration along with the grid reference we want to use for each.
Then I can very easily get at the values without bothering the warehouse with trying to get these values. A little bit of bother for me to initial

[2016-12-13 10:49] johnvanbreda commented on #40
Irish grid option now enabled.

[2016-12-13 11:03] johnvanbreda commented on #28
The list of species available are limited by output group - currently the following are available:
flowering plant
conifer
fern
horsetail
ginkgo
Please confirm which additional output groups you'd like included.

[2016-12-13 12:16] sacrevert commented on #28
I presume they are named as following:
stonewort
clubmoss
although I am guessing based on the 'informal groups' in the old BRC database

[2016-12-13 12:20] sacrevert commented on #40
Is it easy/possible to have the irish grid appear when 'irish grid' is selected. currently the British grid remains, overlapping Ireland.

[2016-12-14 09:31] johnvanbreda commented on #28
Those are fine - I've added them to the form. Please close if OK.

[2016-12-14 09:31] johnvanbreda commented on #40
I think this is 1-2 days work as it requires new code.

[2016-12-14 09:53] johnvanbreda commented on #44
@sacrevert @DavidRoy what are your opinions on this proposal? We could potentially just have a tickbox for sensitive and use this to set precision to 2km if ticked. Then we'd know (for this dataset at least) that the user had not specified the blur, therefore would be less tied down in how it is interpreted when using the dataset.

[2016-12-14 10:03] johnvanbreda commented on #42
Vague dates - are you aware that there is a possibility to configure Indicia to allow vague dates to be turned on as an option in the user profile? Then all forms would show a vague date compatible input box not just the Plant Portal one.
Times - if I set up a range of possibilities in a drop down, e.g. 0:30, 1:00, 1:30 etc, then how will we encourage the user to be consistent with the way they in

[2016-12-14 10:06] johnvanbreda commented on #39
Done.

[2016-12-14 10:06] #39 closed, assigned to nobody

[2016-12-14 10:08] DavidRoy commented on #40
ok, let's leave this for the time being

[2016-12-14 10:09] DavidRoy commented on #44
I'm happy with that proposal

[2016-12-14 10:12] johnvanbreda commented on #35
Fixed.

[2016-12-14 10:12] #35 closed, assigned to nobody

[2016-12-14 10:12] johnvanbreda commented on #36
Fixed.

[2016-12-14 10:12] #36 closed, assigned to nobody

[2016-12-14 10:13] DavidRoy commented on #42
Thanks for the reminder about the vague date option.  I think this is a good option.  How much effort to implement?  Can the plant input form then give a message to say something like 'if you want to submit records with a vague date, please click here to set this option in your account setting.'

On times, one for @kwal2 to decide but I like the idea of a drop-down list as it's more useful (for mo

[2016-12-14 10:18] DavidRoy commented on #27
@kwal2 just to check, are you suggesting an exact number field?

[2016-12-14 11:14] kwal2 commented on #42
Happy with a drop down giving 30 min intervals. I doubt folks would want to be more precise than that.

[2016-12-14 11:18] DavidRoy commented on #42
Thanks.  What's the maximum or shall we have a final category of 7+ hours?

[2016-12-14 11:23] kwal2 commented on #27
I'm in two minds. I often want to include DAFORs or 'abundant' and increasingly we might start to record cover (as a %). Could there be an option for quantity_numeric (for counts) and quantity_text which could includes a dropdown for DOMIN, DAFOR or is that getting too complicated?

[2016-12-14 11:30] kwal2 commented on #42
Most of my Scottish recording days are 7+ ;-) Any reason why we can't go to 10+?

[2016-12-14 11:31] japonicus commented on #27
Could a single text field be used for this which could be assigned
automatically (by client-side javascript) to the relevant attribute?

i.e.

unqualified numbers go to a count field
n% is treated as % cover
DAFOR single-letter codes
'D1' to 'D10' treated as domin

(anything else flagged as invalid)

this would be simple and efficient from a data-entry perspective (would
avoid cluttering the form

[2016-12-14 11:33] DavidRoy commented on #27
I agree we probably do need options to cover all bases.

John can comment on the effort to implement as Tom suggests, or Tom could take on the client-side javascript coding.

The danger of allowing free-text is you'll get things such as '10-20', '~6', 'common' as well as standard DAFOR terms (if we are lucky).  The question is whether to allow free text and all the variants that will generate

To

[2016-12-14 11:37] DavidRoy commented on #42
To cover the hard-core, the categories are then:

![image](https://cloud.githubusercontent.com/assets/2699478/21180585/a41a9024-c1f1-11e6-96f9-c6747d83770d.png)

[2016-12-14 11:37] japonicus commented on #27
I think free text would be bad, for the reasons you mention.

My suggestion was to have 'free-text' only in the sense that the user doesn't need to pre-select the type of entry they're making, but entries would be validated before submission.  '10-20', '~6', 'common' would be rejected.

[2016-12-14 11:40] DavidRoy commented on #27
Agreed.  Good solution but we are unlikely to have the funds/time to implement immediately.  Unless it is straightforward using existing Indicia functionality

[2016-12-14 11:45] johnvanbreda commented on #27
I think we can use a single free text field but add a regex to the field which validates to allow any of the following options:
any zero or positive integer number
D1 - D10
D, A, F, O or R
0% through to 100%
This is relatively easy to code in Indicia and a bit quicker to implement than using script to map the inputs to different attributes. Any analysis could easily detect which type of value it i

[2016-12-14 11:49] DavidRoy commented on #27
Good solution and ok by me. Kevin might want to add more regular expressions but hopefully not many

[2016-12-14 11:56] #28 closed, assigned to nobody

[2016-12-14 11:57] sacrevert commented on #40
Shall I move to the iRecord issue tracker @DavidRoy ?

[2016-12-14 11:58] DavidRoy commented on #40
Yes, good idea

[2016-12-14 14:39] kwal2 commented on #27
D+ for Domin
LA - locally abundant

[2016-12-14 17:56] sacrevert commented on #44
Me too.

[2016-12-14 18:01] sacrevert commented on #27
I don't really see the point of the % cover or Domin options, without a specified spatial scale they are meaningless. DAFOR is a bit like this too, although at least there one has the option of interpreting it relative to the area surveyed (although likely this will often not be the correct interpretation).

I would recommend sticking with allowing the DAFOR terms + LA and numeric values, or even

[2016-12-14 18:04] #40 closed, assigned to nobody

[2017-01-11 14:51] #45 closed, assigned to nobody

[2017-01-11 15:24] johnvanbreda commented on #42
Categories done for time surveying.

Enabling the account settings is theoretically only about an hour's work, if it all goes to plan. It's not very well tested code though so there is a risk it will need debugging. Shall I give it a try?

[2017-01-11 17:32] DavidRoy commented on #42
Thanks for implementing categories.

If you implement the account settings and a user chooses to enable vague dates, would this then apply to all recording forms for that user?  And if so, does the user loose the date picker in date controls?

[2017-02-17 13:28] sacrevert opened #46 "Plant Portal subproject"
Meta-issue to group those issues that relate to the quadrat archive project ('Plant Portal') but not the BSBI plant card project (at least not directly)

[2017-02-21 09:35] sacrevert commented on #5
# From AvB email (OP reply in bold)

**Sounds good.**

**I think I would stick by this, just to save on development time, and to ensure that users amend the original data file.**

**No comment**

**Yes, sounds good. I suppose this is essential where sample locations are vague to some extent.**

**I think this is fine.**

[2017-02-21 10:37] andrewvanbreda commented on #5
Email that was sent by John that isn't logged in Github:

Briefly summarising from my perspective - I don't get the impression that
much of the code written for the Plant Portal importer with regards to error
handling could be reused in a generic fashion. Therefore there is little benefit
to the Plant Portal project of changing tack and we may as well continue with
the custom importer Andy has bee

[2017-02-21 11:19] andrewvanbreda commented on #5
OK having reviewed all of the above. I think the plan should be

1. I'll get the Plant Portal test site running for you before doing the mentioned amendments.

2. Then change the existing generic importer to support  the following:

A. Warn the user of issues before committing to the database, requiring the user to correct the original file.
Possibly include an option to skip failing rows and cont

[2017-03-17 11:36] andrewvanbreda opened #47 "Code Update Requests"
Nested in #46

Biren: I have attached the zipped version of the file that should be used as the config file for the indicia_svc_plant_portal_import folder on the dev warehouse. Could you move it across whenever you get a chance

[plant_portal_import.php.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/850402/plant_portal_import.php.zip)

[2017-03-17 14:14] andrewvanbreda opened #48 "Initial plot importer warning test observations"
It has been a while since I used the importer and am currently looking into rechecking it so I know what it does as I couldn't remember. This will be available to test on the dev site shortly.
I have tested the importer using identical code on my machine, the only real difference is I altered Oli's test data to use the taxa that are available on my own machine.
My observations are:
The Good:
- Imp

[2017-03-17 14:45] andrewvanbreda commented on #48
I know at least part of the problem with the failing South-east Yorkshire rows is that the importer is expecting them in a separate Vice County column. Can you confirm if you are expecting the vice county to be in a separate column? I think we discussed it would be like that?
Also in the case of an invalid spatial reference currently we just flag it and not import the row. However we could just ge

[2017-03-17 16:39] andrewvanbreda commented on #48
Note about the Vice County problem. I have now seen this working on my machine. The issues were
- Vice County Column required - Details Above
- There was a space on the Vice County column header I created that caused the code to not recognise the column. This is now trimmed by the code. I have seen the spatial reference for South-east Yorkshire now working in the sample on my machine.
The dev site

[2017-03-20 15:48] andrewvanbreda commented on #48
As agreed, I have removed the Sample Group functionality. This seems to be stable on my machine without too much bother even though it involved removing quite a lot of code. I main observation about this is that is does make the importer far easier to understand, particular from the user point of view. Code is not currently on the BRC dev site but can be made as soon as required as it is committed

[2017-03-21 09:47] sacrevert commented on #48
Regarding the vice-county item. One Dec 3rd under #5 we said the following:

Fine.
AVB: Fine

 ...

OLP: I think retain and store in the database. I think all plots should have a stored VC association. Presumably this will make queries against VC much quicker (e.g. for users interested in plots in their area?)
AVB: Fine. The only issue is that if you are wanted to do things with the location I wil

[2017-03-21 10:31] andrewvanbreda commented on #48
Hi,
Yes I think what is described here is the way the code works. It is expecting the Vice County/Country to be in a separate column, so those rows in the example import file won't currently import without alteration.
Currently the list of Vice Counties/Countries is saved as configuration at both the Drupal and Warehouse end so I don't have to keep going to the database. I have seen the lookup of

[2017-03-21 11:18] sacrevert commented on #48
It would be ideal to have all plots having a stored vice-county and country attribute, irrespective of whether that is provided by the user on import. I can see that there are costs to calculating this on import, or when running a query. One solution might be not to do either, but to fill in the missing attributes occasionally by running a code overnight that calculates the missing attributes and

[2017-03-21 11:33] andrewvanbreda commented on #48
I like the idea of doing it afterworlds. Perhaps even immediately after the import invisibly in the background. It is hard to say how much it would add to the budget, it would probably involve going to the database which is what I was trying to minimise, so querying the database and then actioning based on that query is quite different to what it does now.
I think the truth of the matter is we eit

[2017-03-21 11:51] sacrevert commented on #48
OK, fine. I think it is essential in the long term, but I agree that it is better to wait rather than doing it inefficiently now.

[2017-03-21 11:53] andrewvanbreda commented on #48
OK thanks, will keep in mind that it is essential

[2017-03-21 13:32] DavidRoy commented on #48
The existing scheduled task assigns all samples, and occurrences, to a VC.  The samples and occurrence cache tables therefore provide the link to VCs.  I therefore suggest no specific coding needed for the PlantPortal

[2017-03-21 13:55] sacrevert commented on #48
Can you just clarify what you mean - which scheduled task is this? Do you mean existing Indicia core code? Are the cache tables being built automatically anyway then?

[2017-03-21 13:58] DavidRoy commented on #48
Sorry for being vague.  Yes, an automatic task that runs in the background on the Indicia Data Warehouse, every 15 minutes.  It does various processing tasks, including an automatic assignment of sample locations to VCs.  This leads to an update to the cache tables that are then used for reporting.

This does pose the question of what to base reports on - the user-supplied VC or automatic assignme

[2017-03-21 14:01] sacrevert commented on #48
Presumably they would have to use the automatic assignment, given that one of the main reasons for using the cache tables will be to catch those samples/occurrences where the user-supplied VC is missing.

[2017-03-21 14:05] andrewvanbreda commented on #48
Hi David, Do you know how the vice county link is stored in the database?
Is it the location_id? because that could already be in use? I don't see an attribute to hold it.

For reporting I would go with the automatically generated one, it should be more reliable in the case of a clash. If the code is correct the auto-generating one should always be correct.
Note we still need the code I have alrea

[2017-03-21 14:19] johnvanbreda commented on #48
@andrewvanbreda I presume the vice county link is the one created by the spatial index builder. Look in cache_occurrences_functional.location_id_vice_county as a starting point.

[2017-03-21 14:31] andrewvanbreda commented on #48
Ah ok, I think what has happened is I don't have that field on my machine because that particular module is not enabled/installed.  I think the importer is already be working correctly in this Vice County/Country area with the code I have already written.
In summary: the general Indicia code should generate the long term Vice Country link automatically already, and my code handles an auto-generate

[2017-03-21 15:40] andrewvanbreda opened #49 "Indicia importer changes - observations"
I am going to be changing/improving the indicia importer to incorporate changes identified for the Plant Portal project but would generally be useful (as previously discussed on skype).

The main changes will be

- Include an external_key field on the sample which can be provided as an import column and will allow the user to specify exactly what sample the occurrence rows from the import file wil

[2017-03-22 09:48] andrewvanbreda commented on #49
Just getting into coding this morning. However in the code and importer I have noticed an existing field called import_guid. I have never used this field but it sounds very suspiciously . Can anyone shed further light on this field

[2017-03-22 10:08] sacrevert commented on #49
OLP: In theory, that fact that users are being asked to make any corrections prior to submission should mean that there is no need to attach occurrences to existing samples. However, we can still imagine a situation where a genuine error is not picked up by the importer, e.g. a user not including data in the file for submission. If it keeps it simpler, could this situation not simply be dealt with

[2017-03-22 10:56] andrewvanbreda commented on #49
Yes they could certainly be allowed to delete samples. The Plant Portal Importer submits records at status "I" until the user selects the ones they actually want to be submitted "properly" from a  list.
I would imagine this list would have checkboxes for removal.
However that is specific to Plant Portal, so my only query is your request for Plant Portal only, or do you mean the generic importer sh

[2017-03-22 11:22] sacrevert commented on #49
I meant that, post import, the Portal website would allow deletions. So, the deletion functionality would not be a part of the importer at all. Indeed, in might be months before someone realised that they had missed occurrences off of a sample, so, my thinking was that, at that point, a user with appropriate permission would be able to log in, delete the sample, and then re-import it.

[2017-03-22 11:28] andrewvanbreda commented on #49
Yes that is fine, we can do that no problem

[2017-03-22 11:31] sacrevert commented on #49
Great. I'm assuming that deleting things (or flagging things as deleted) doesn't introduce problems that will only become apparent when one tries to re-import samples/occurrences.

[2017-03-22 11:39] johnvanbreda commented on #49
@andrewvanbreda I saw you were questioning the import_guid field. This is a unique identifier given to each bulk import operation. I.e. if I import 1000 records which get split across 500 samples, then the import_guid will be the same for all of them. This allows us to do things like bulk-undo an entire import. If you get errors and download, fix and upload them, they get tagged with the same impo

[2017-03-22 11:49] andrewvanbreda commented on #49
Yes I vaguely worked out what the field did after I wrote the comment, then I pressed the wrong button and posted. Although thanks for the extra detail.
Oli: If a sample is deleted with the deleted flag then effectively it can be thought of as completely deleted (we just set a flag in database as it allows undos). So this means the user can import the same sample again as if it were never imported

[2017-03-28 14:00] BirenRathod commented on #47
This has done.

[2017-03-30 10:05] kazlauskis commented on #27
Hi, any thoughts on when the abundance will be added in? I am planning to adding a plant specific recording form on the iRecord App and link it to this form on the website.

[2017-03-30 10:07] DavidRoy commented on #27
I think Kevin should give the decision on this

[2017-03-30 12:02] kazlauskis opened #50 "Linking iRecord App"
There is a requirement to link the iRecord App to the vascular plant recording form on iRecord. The idea behind it is that the app would be able to enter records of plants in a grid-mode (atlas-mode). Those records submitted this way would result in the vascular plant survey sharing the same editing form on the iRecord website.

A common scenario would be:
1.  User toggles the grid-mode
2. (option

[2017-03-30 13:40] andrewvanbreda commented on #47
Hi Biren,

I am still having a little trouble with this still, am seeing errors, I think I know the trouble and it is my fault. I think what has happened is the plant portal code and the reports_for_prebuilt_forms/plant_portal folder on the dev warehouse are out of sync because that reports folder is not up to date (actually it might not exist at all as I originally forgot to commit it). Are you a

[2017-03-30 20:18] kwal2 commented on #27
OK. Reading the thread I think the consensus is
any integer number
D, A, F, O, R, LA
I agree with Oli that %cover or domin are fairly meaningless with a spatial scale and 99.9% of time are applied to quadrats.

[2017-03-30 20:46] japonicus commented on #27
Based on records in the DDb, LF (89 000 records) is a more widely applied term than LA (25 000 records). Is there a practical difference between the two or is this just down to personal preference? (the other local-dafor codes have very low usage)

Is there a need for absent/looked-for-and-not-found or is that too problematic to implement correctly (or to interpret meaningfully)?

[2017-03-30 20:55] sacrevert commented on #27
In theory there is a difference between LA and LF. Probably worth adding if it is used that frequently.

My personal inclination is to steer clear of negative records. Looked-for-and-not-found can be inferred anyway if they tick 'full survey' (or whatever the suggestion was).

[2017-04-01 13:43] johnvanbreda commented on #50
Ok with me. We need to make sure you submit against the correct sample.input_form and sample.survey_id and use the same attribute IDs.
Is there a requirement to support specific record-level grid references for interesting records as you can in the form, i.e. you enter a list of records in the 1km grid square but for any records that are interesting in the square you can provide a one off grid ref

[2017-04-01 18:06] sacrevert commented on #50
My understanding was that all records will have precise (phone) GPS references through the app, with the selected square (at whatever scale) merely serving as a sample level grouping variable, but it will be interesting to see whether I have this right and Karolis affirms this : )

[2017-04-01 19:28] kazlauskis commented on #50
Hi John, yes, I think this will be done by default. Every subsample will have a location set automatically by GPS or the user.

[2017-04-06 12:48] andrewvanbreda commented on #49
Just to note I have now got a version of the generic indicia importer working on my box that has an option that puts the importer into a mode which only commits to the database once all errors have been corrected by the user. This works pretty well (it isn't perfect yet because it doesn't work with every importer option combination e.g. it doesn't currently work with the "Skip mapping stage where

[2017-04-07 09:42] sacrevert commented on #49
I don't think we have ever discussed a clustering requirement in the import file. Although it would be sensible for the user to arrange stuff like that, I don't think we need make it an absolute requirement. So, as far as sample keys go, I don't think it is a problem if non-clustered rows match, we will just have to make it clear that the sample key is the main group indicator for samples, regardl

[2017-04-13 07:42] andrewvanbreda commented on #49
Hi Oli,
Sorry for my slow reply, it seems I didn't get an email when you replied like I normally get from Github for some reason.
The current importer requires that rows are clustered together to go into the same sample, so changing that does make the programming more complex, however I think it is probably more user friendly to remove this requirement when a sample key is used for matching so I w

[2017-04-13 07:57] sacrevert commented on #49
OK, thanks Andy. I assume that you will have consulted with @johnvanbreda and @DavidRoy regarding these proposed changes to the generic importer (and the resulting choice that a user would then need to make re clustering in the input file)?

[2017-04-13 08:18] andrewvanbreda commented on #49
Not recently. Only with what we discussed the Skype meeting because I think everything I am implementing is the same as what we agreed in that meeting, the only thing is it was a while back and they might of forgotten what I am doing.
A reminder is it is fundamentally two new modes for the generic importer which will also be used by the plant portal importer.
A. Provide a mode where the user can c

[2017-04-18 08:28] DavidRoy commented on #27
Sally Rankin suggests that categories used in Rose might be useful:
abs – absent – useful, e.g. for when actively searching for a plant that was known to be present in the past, but should only be interpreted as ‘not found on dd/mm/yyyy’
c – common
f – frequent
l – local
la – locally abundant
o – occasional
r – rare
vc – very common
vla – very locally abundant
vr – very rare

[2017-04-18 08:36] sacrevert commented on #27
In practice the 'very' additions are not really that useful, plus the DAFOR scale is more widely used than any custom scale, and more familiar to those with any ecological training or consultancy experience. In addition to that, Rose is probably now less widely used than previously, what with the Collins guide and the photographic one from Harrap.

As I said, I'm not that keen on absence records,

[2017-04-19 07:32] andrewvanbreda commented on #49
Hi. How important is the need for rows not to be clustered together when we are using a sample external key to match occurrences rows into samples during import. I am currently looking to implement this change, but I think it will be quite a lot of work because the current importer relies heavily on the occurrence rows to going into the same sample being clustered together on consecutive rows. So

[2017-04-19 08:39] sacrevert commented on #49
Hi. If the removal of the clustering requirement is a pain, then I think we should abandon it. It is not exactly a strange thing to enforce, and so I have no problem enforcing the clustering of occurrences within samples on users.

[2017-04-19 09:42] andrewvanbreda commented on #49
OK, I will do that then as I think it would be hard to implement and provide good value for money. I will implement a warning where if two rows are found to have the same sample external key but are apart in the file then the user should cluster them together (otherwise separate samples will be created).

[2017-04-19 15:00] sacrevert opened #51 "Plant status options"
Nested in #3

Current status options do not clearly map to BSBI Atlas 2020 recording advice.

From this doc (http://bsbi.org/Atlas_2020_Guidance_for_VCRs_v4.pdf)

For nationally native taxa the status of an occurrence (i.e. the origin of a plant at a particular location) need only be recorded if it has clearly been, or is likely to have been, introduced to that particular locality. Therefore the v

[2017-04-19 15:06] DavidRoy commented on #51
Yes.  BSBI to decide. @kwal2

[2017-04-19 19:33] kwal2 commented on #51
I would change the status categories to the following:

Native
Unknown
Introduced
Introduced - planted
Introduced - surviving
Introduced - casual
Introduced - established
Introduced - invasive

That should cover most eventualities. Whilst we are on status I wondered if the status categories could be optimised so that only non-native (introduced) categories come up for non-natives as they will be a

[2017-04-19 19:47] kwal2 commented on #27
I agree with Oli. the extra codes just add more confusion. Lets stick with integers or DAFOR plus LA and LF.

[2017-04-20 08:39] johnvanbreda commented on #27
Is that a decision? The spec I think is:

1. Add an optional abundance field to the fields available for input under the + button.
2. Make this a free text datatype, but use a regular expression to enforce one of the options below:
  - D, A, F, O, R (= a DAFOR value)
  - LA or LF (locally abundant or frequent)
  - an integer for a count

[2017-04-20 08:40] sacrevert commented on #27
Yes. Thanks John.

[2017-04-20 08:48] johnvanbreda commented on #51
Does everyone agree with this list?
Note that implementing functionality based on the non-native flag in UKSI would be a fair bit of work - we can consider this further if everyone agrees its a good idea.

[2017-04-20 08:52] sacrevert commented on #51
I do.

I think the additional functionality should be a longer-term aim, given the number of other bugs and tweaks outstanding. I'll add a new issue for that, but I suppose it can be flagged as an 'enhancement' (now issue #52).

[2017-04-20 08:53] sacrevert opened #52 "Status options filter by non-native UKSI tag"
Nested in #3

From Kevin Walker (BSBI)

From JvB

[2017-04-20 09:25] kwal2 commented on #52
I see this as a 'nice to have' rather than an essential feature so not worth the effort currently. The problem is really distinguishing archaeophytes (introductions) from natives. I struggled when entering a few species last night. Note that there will be complications with national statuses if we include Ireland (native Ireland, introduced GB and vice versa).

[2017-04-20 10:13] DavidRoy commented on #51
I agree to kwal's recommendation.  Presumably with no default value?

[2017-04-20 11:34] johnvanbreda commented on #51
That's done. We probably can't have a useful default without doing the native/non-native work first, unless we just set it to unknown.

[2017-04-20 11:38] DavidRoy commented on #51
agreed.  closing issue

[2017-04-20 11:38] #51 closed, assigned to johnvanbreda, DavidRoy

[2017-04-20 11:53] japonicus commented on #51
The default shouldn't depend on the taxon's national status, because a nationally 'native' taxon can be validly recorded as 'introduced' at a particular site - defaulting to 'native' would be dangerous.

I'm not quite sure of Kevin's plans for status, but I would see 'unknown' as being distinct from 'not recorded' (or blank) and that 'not recorded' should be the default. 'unknown' implies that the

[2017-04-20 12:25] sacrevert commented on #51
@japonicus it seems the default is 'blank' currently. 'blank' is presumably synonymous with 'not recorded'. So, I presume that no changes are needed at this point. I'll add your comment to #52 for future ref though.

[2017-04-20 12:27] sacrevert commented on #52
From Tom Humphrey for reference (although may not be relevant if blank is always the default):

I'm not quite sure of Kevin's plans for status, but I would see 'unknown' as being distinct from 'not recorded' (or blank) and that 'not recorded' should be the default. 'unknown' implies that the recorder was uncertain about status (and that there is reason for doubt) rather than the more common case t

[2017-04-20 12:41] kitenetter commented on #43
Agree that aggregate or other non-standard VCs should be disallowed. Having entered a random grid ref "SU8614" into the iRecord form I got asked if it was in VC West Sussex or in (non-VC) Sussex, which seems unhelpful:

![image](https://cloud.githubusercontent.com/assets/16039111/25231219/f722fc7a-25ce-11e7-9be6-caa1d8576a9c.png)

[2017-04-20 12:47] johnvanbreda commented on #27
Done

[2017-04-20 13:01] #27 closed, assigned to kwal2

[2017-04-20 13:20] andrewvanbreda commented on #49
These changes are coded now into the normal importer (the changes required for using Sample External Key as the identifier, and also the importer mode that doesn't commit unless all errors are fixed). I will merge these changes into the Plant Portal importer and get Biren to update the Plant Portal dev site. I think at that point I will need to discuss the project further with you as I will have i

[2017-04-20 13:36] sacrevert commented on #49
OK, fine - many thanks. I will be away (work, then holiday) from next week, back on the 8th May, but I'm sure I'll be on email.

[2017-04-20 13:38] DavidRoy commented on #3
This feels close to be ready for wider promotion.

I suggest the following key functionality and bug fixes are essential to resolve first, with the rest becoming a future requirement list:
_Priority issues_
GPS precision field #19
Save to basket functionality #21 (now #64  )
Increase spatial ref flexibility #30
Grid reference precision related #31
Altitude field validation #32
Record list on revie

[2017-04-21 10:48] andrewvanbreda commented on #49
OK no problem. David might want to check it so I will keep him informed if the code gets onto the dev site, it might depend on when Biren is available to put the code on the site. Just fixing a bug I found now first

[2017-04-21 10:49] DavidRoy commented on #49
I'd be interested to test when ready, thanks

[2017-04-21 12:35] andrewvanbreda commented on #47
Hi Biren,

Ignore the above requests now as there will be another release in next few days, so not worth dealing with previous one now. I will let you know when new code is ready

[2017-04-21 12:51] andrewvanbreda commented on #49
Hi David,

No problem. If you want to keep an eye on how things are progressing I have a thread here

https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/issues/47

Those are the requests I make to Biren so you can prioritise them. For now I told him to ignore the previous request until I get the new code to him. I will put the new requests in there when I am ready

[2017-04-22 18:22] sacrevert commented on #42
@johnvanbreda I assume this issue can be closed? I'm not sure where you got to regarding implementing this and answering @DavidRoy 's questions, but it looks to me like it could be closed.

[2017-04-22 18:24] sacrevert commented on #8
I'm just wondering whether we have had the 'next feature update', and whether this can be closed. Or perhaps it should be left open until the actual interface for inputting multiple names is enabled?

[2017-04-22 18:27] sacrevert commented on #3
Seems good to me. #8 and #42 (which you don't list) look to be almost done anyway. I suppose out of the things above perhaps #21 is more of an enhancement (essential part now separated out as #64  , enhancement as #65 )
For promotion I'd be happy to write something for BSBI News (inc. you both and Tom), although I expect a page on the BSBI website would also be good (and would perhaps act as a hom

[2017-04-23 10:13] japonicus opened #53 "Status and Stage should default to blank rather than repeating previous entry"
The occurrences form correctly defaults to a blank status column, but newly added rows then acquire the previously used value automatically rather than staying blank.

Recorders may overlook or ignore this, which I think this is likely to lead to a tendency to mis-apply status.

The same problem also applies to the Stage column, which should also default to blank for each entry.

related to #51

[2017-04-23 10:32] japonicus opened #54 "Vascular plant form species filter allows option for non-plant groups"
Clicking the filter icon on the 'species' heading of the occurrence form opens a dialogue box that allows the input form to be modified to accept non-plants.  In the context of a plant recording form this seems nonsensical. It could tempt recorders to add additional taxon groups.  That could create data-flow problems and would also cause the spurious observations to have an inappropriate set of st

[2017-04-23 15:24] johnvanbreda commented on #54
Agreed - I've removed this option.

[2017-04-23 15:24] #54 closed, assigned to nobody

[2017-04-23 15:25] johnvanbreda commented on #53
@sacrevert do you agree?

[2017-04-23 15:26] japonicus commented on #54
thanks :)

[2017-04-23 15:28] sacrevert commented on #53
Yes, certainly. Thanks Tom!

[2017-04-23 16:04] johnvanbreda commented on #53
No problem - done.

[2017-04-23 16:04] #53 closed, assigned to johnvanbreda

[2017-04-24 10:25] johnvanbreda commented on #8
This has now been deployed and is ready for you to check.

[2017-04-27 06:45] andrewvanbreda commented on #49
Just to give you a quick update. The changes to the "normal" importer are ready and committed, that includes support for the different import modes I tried (such as auto-skipping the mapping stage, using occurrence associations, using the different models such as locations). I have tested this, and everything I tried seems to be happy.
I have code merged these changes into the Plant Portal importe

[2017-04-27 12:15] sacrevert commented on #49
Thanks for the update - let me know if you want to talk on the phone at some point.

[2017-04-28 08:49] andrewvanbreda commented on #49
Hi Oli,

It is prob best to talk once I have passed the code to Biren, until that point I am super-busy working on it anyway. The situation as of this morning is I have got the Plant Portal Importer to now merged and working with the new importer code. So this code is now working with both the "normal" importer and the Plant Portal one. I have also committed the code for all of this, however I wou

[2017-04-29 09:22] sacrevert commented on #8
Thanks John. I will have a look. Also flagging @japonicus in case there are other technical data exchange issues that need consideration.

[2017-04-29 09:31] sacrevert commented on #8
Looks good to me, although perhaps we could add a message stating:
"Please us the following format for names: Albert N. Other. If there are a number of recorders, lists can be truncated to those leading the group, but 'Number of recorders' should indicate the true size."

[2017-05-02 11:53] japonicus commented on #8
Looks good.
 I noticed that the ordering of multiple names is unstable if a record is edited. e.g. I entered a record with two recorders "Tom Humphrey" and "A.N. Other". The record initially appeared in search results under "Tom Humphrey", the record page listed both recorders in the order entered.

When I re-displayed the edit view of the record the order of recorder names had reversed.  After sa

[2017-05-02 11:57] japonicus commented on #8
Currently, the summary view of records with multiple names displays only the first of the names, would it be possible to display the full list (or to indicate that there are multiple records, e.g. append an ellipsis suffix).

The detailed view of records has both a 'Recorder' attribute and one or more 'Recorder names' which is confusing. Only 'Recorder names' should be displayed.

Exported records

[2017-05-02 12:10] japonicus commented on #8
The edit form isn't escaping quotes correctly resulting in truncated names (and potential html-injection vulnerabilities) e.g.
'A. "Bert" Other' is truncated to 'A. ' when the record is next edited.

A more minor issue is that names are also truncated at semi-colon when edited, e.g.
'A. N. Other; Foo Bar' becomes 'A. N. Other' after editing.

[2017-05-02 12:12] japonicus commented on #8
Deleting names doesn't work. Clicking the delete button shows the name greyed and struck-through but, after saving the record, the deleted name is still present.

[2017-05-04 09:28] andrewvanbreda commented on #49
Sorry for the delay, I am trying to fix a bug I found in the more complex uploads I have tested. The problem is the spatial references that are auto-generated and shown on the information/warning screens fine but are not being passed to the warehouse. This creates problems when it is trying to compare the spatial references between samples to see which sample the occurrences should go into..oh..co

[2017-05-05 08:24] andrewvanbreda commented on #47
Hi Biren,
I have a new release of plant portal. All the changes are in the develop branches of the warehouse and iform. Are you able to update the dev warehouse and plant portal dev site to the latest dev code, or do you prefer me to give you a list of what files need updating exactly?

[2017-05-05 08:29] andrewvanbreda commented on #49
Hi,
I have now instructed Biren on the required updates, once he has done that I will configure the site for testing. Sorry for the delay on this latest release, the problem is really that whenever a test fails there is always the risk of other breakages. The nature of an importer is that it tends to be completely useless unless it is almost entirely working, unlike a website which can get still b

[2017-05-05 08:30] BirenRathod commented on #47
Hello @andrewvanbreda
No, I'm fine with that. I will let you know once it has done.
I will update warehouse today possibly and iform earlier next week.

[2017-05-05 09:21] andrewvanbreda commented on #47
OK no problem

[2017-05-12 12:38] andrewvanbreda commented on #47
Hi Biren,
John needs to get me to revert the Develop branches because he needs to do a release to iRecord. Is it possible to do the plant portal updates on the client helpers and warehouse from the feature-plant-portal-may-build branches instead? (as these contain the new import code)

[2017-05-12 12:42] BirenRathod commented on #47
@andrewvanbreda , that is absolutely fine. I could do from feature-plant-portal-may-build

[2017-05-12 12:52] andrewvanbreda commented on #47
great. So that will be on dev warehouse and dev plant portal website. Thanks

[2017-05-12 12:54] BirenRathod commented on #47
As long as there are on separate branch, no need to worry.

[2017-05-12 14:30] andrewvanbreda commented on #47
Hi Biren,

Just realised these is a problem with this approach. Can you hold off on this for now until I have time to explain. Will get back to you.

Andy

[2017-05-12 14:34] BirenRathod commented on #47
ok. no problem.

[2017-05-15 08:42] andrewvanbreda commented on #47
Hi Biren, I have checked and the feature-plant-portal-may-build branches do not have the problem I thought they would have so you can update from them. There is a branch for the client_helpers and another with the same name for the warehouse. These need to be placed onto the dev plant portal site and dev warehouse. I am of course assuming that this isn't going to affect anyone else using the dev w

[2017-05-15 08:47] BirenRathod commented on #47
That's ok and I will let you as soon as I done the update.

[2017-05-17 10:01] andrewvanbreda opened #55 "PlantAtt import observations"
Nested in #46

I thought I would create a thread for the Plant Att import as it has been committed for quite a while now and it has gone silent. As I mentioned it has been committed for quite a while now so should be good for a test run at BRC.
I am just double checking I am happy with it. Let me know if you want to do a test run import and I can instruct you on running the SQL.
As I mention as it

[2017-05-17 10:04] andrewvanbreda opened #56 "NVC floristic import observations"
Nested in #46

Again similarly to the thread I just opened for the Plant Att import, I am opening a thread for the floristic import. I haven't taken a look at it yet to refresh my memory but there looks to be some committed code for it. I am less sure that this is complete though in comparison to the Plant Att importer. Will take a look and let you know if it is ready for a run, however my guess i

[2017-05-25 09:08] sacrevert commented on #55
Thanks Andy - I look forward to your conclusions on your test runs.

[2017-05-25 10:17] andrewvanbreda commented on #55
The tests went very well. All the complex bits of the plant att import seem to work fine on my machine ....I wasn't sure as I couldn't remember as it was a while back. There are just a few simple free text fields that need importing that weren't such as comments, I now have code for this and will commit it when I know it is working.
There are just a couple of things to note really.
One is before y

[2017-05-25 15:47] andrewvanbreda commented on #55
We can give this a run whenever you like now. As mentioned, we will just need to adjust the file slightly before importing to get the format right. Or I can even send you the corrected file.
No rush from my end. Whenever you like. Will look at what is happening with the floristic importer now, I can't comment much as I can't remember, although I can say that code does exist for it...how complete t

[2017-05-25 16:24] sacrevert commented on #55
When you say "give it a run", do you mean replicate your test at our end? Presumably this can be done by me? That is to say, no specific technical expertise is required?

[2017-05-25 18:25] andrewvanbreda commented on #55
I suppose what I mean is you will need to make sure that it is doing what you want...that would involve running it. The only thing is we don't have a user interface to view the data with once the import is done, so I could supply some SQL to query the database with or I could whip up a report to display the results visually on the Plant Portal dev site.
We could get Biren to run it if you like the

[2017-05-26 08:29] sacrevert commented on #55
OK, it sounds like perhaps I could watch Biren run it (so that I might learn something), and then inspect the results/structure of the results in the Dev Warehouse database afterwards.

[2017-05-26 08:42] andrewvanbreda commented on #55
Am including Biren on this thread now. Let me know when you might be available to give this a run on Dev warehouse. Keep in mind there will be preparation time, but I don't expect that to be longer than an hour

[2017-05-26 08:43] sacrevert commented on #55
Thanks. Biren is back on to work on Tuesday, so I will ask him then.

[2017-05-26 08:47] andrewvanbreda commented on #55
Do we have a link to the Dev Warehouse user interface, I don't seem to be able to get it to work. I just wanted to check the UK Master List was fully available on that warehouse to import into. I assume that is the list we will use and not one created for Plant Portal specifically (the importer doesn't mind what the species list, it is just an ID number, any species it doesn't find simply won't be

[2017-05-26 08:48] sacrevert commented on #55
Sorry, don't know. @DavidRoy will, although I see no reason why it wouldn't have the UK Master List on it; certainly there is no plan to use a specific Plant Portal list.

[2017-05-26 08:50] andrewvanbreda commented on #55
I have a link, it just seems to have stopped working. Simply says not found. That is fine about the list, that is what I though.

http://192.171.199.237/index.php/login

[2017-05-26 08:51] sacrevert commented on #55
@JimBacon may be the man to ask.

[2017-05-26 10:29] andrewvanbreda commented on #55
Ok, we'll see what Jim says. There definitely seems to be something funny going on, as I double checked the URL (by looking at the warehouse path in iForm settings and then putting index.php/login on the end), but it still isn't working as it is the same URL I thought it was. So I am out of ideas.

[2017-05-26 14:16] andrewvanbreda commented on #56
Something to note about this is I don't have an nvc_floristic import file with preferred_tvks in, they are all species names.
I have copied in the preferred_tvks from the Plant Att data into my file so I have preferred_tvks to test my code with (it doesn't matter too much too me that they are the wrong keys), that is OK for testing, but we need the real ones for the final run if you have them, or

[2017-05-26 16:18] sacrevert commented on #56
Sorry to be dim, but are you saying that the user will need to provide TVKs?

[2017-05-30 10:18] BirenRathod commented on #55
Hello @andrewvanbreda  and @sacrevert , Our warehouse link is devwarehouse.indicia.org.uk, Also Last I cloned from on  28/04, So it is only a month old but It has got  up to date UKSI same as live warehouse as I know we haven't upgraded UKSI on live warehouse.

[2017-05-30 10:26] BirenRathod commented on #55
Hello @andrewvanbreda
Please change the website ID in the iForm setting on test plant portal site. After cloned the old website data have been vanished, so you might need to create new one if you haven't created on live warehouse before.

[2017-05-30 20:58] andrewvanbreda commented on #47
Hi Biren,
Just wondering what is the latest situation with this? I am not sure the level of priority of this, David or Oli will know. Perhaps if there is a delay if you could let them know, no urgency from my end

[2017-05-30 21:00] andrewvanbreda commented on #55
Ok thanks for the info Biren. I will take a look at this tomorrow and let you know when I am in a position when the Plant Att import can be given a run on the dev warehouse

[2017-05-30 21:11] andrewvanbreda commented on #56
Hi Oli,
As far as I am aware the user doesn't deal with the nvc floristic import and it is a one-off import of data performed by BRC. I have a data file David provided a while back. This would preferably have TVKs in instead of species names. The matching could be done with species names, but it is less reliable than an exact TVK. From a coding point of few it doesn't make it more difficult either

[2017-05-31 07:56] sacrevert commented on #56
Got you. Sorry, I didn't initially twig that you were talking about the NVC tables. Yes, it would be better if we labelled the species with TVKs. I'll get on to this.

[2017-05-31 15:36] andrewvanbreda commented on #55
Hi Biren,

I am now going to attempt attach the importer sql file we are going to use to this thread. Further instructions to follow. It is a SQL file, but I think I need to change the file extension to .txt otherwise it won't attach

[2017-05-31 15:37] andrewvanbreda commented on #55
[Plant Att Importer.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1042093/Plant.Att.Importer.txt)

[2017-05-31 15:38] andrewvanbreda commented on #55
Sorry I forgot I need to attach the data file too. Again it is .csv but with need to alter the extension to .txt for upload purposes

[2017-05-31 15:40] andrewvanbreda commented on #55
[tbl_plant_att_19_nov_08_with_tvk_and_format_corrections.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1042099/tbl_plant_att_19_nov_08_with_tvk_and_format_corrections.txt)

[2017-05-31 16:07] andrewvanbreda commented on #55
Okay. I think the first think to say it don't run this on the wrong warehouse as it will run. I suspect it probably won't do anything if run on the wrong warehouse as there isn't a Plant Portal website on live, but best not try. So we are going to run this on Dev Warehouse.
Although the SQL code is split into about 10 files when I committed it, I have supplied it to you in 1 file. I think this mig

[2017-05-31 17:48] BirenRathod commented on #47
Hello @andrewvanbreda , This has updated on dev warehouse and test plant portal site.

[2017-05-31 20:01] andrewvanbreda commented on #47
Hi Biren,

That is great. I will let David and Oli know that I will be preparing the site

[2017-06-01 09:19] andrewvanbreda commented on #47
Hi Biren,

There seems to be a problem with the Plant Portal site, clicking on the Edit Tab on any form is giving an error. This means I cannot configure the form.

Exception: <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd"> <HTML><HEAD><TITLE>Not Found</TITLE> <META HTTP-EQUIV="Content-Type" Content="text/html; charset=us-ascii"></HEAD> <BODY><h2>Not Found

[2017-06-01 10:11] BirenRathod commented on #47
Hello @andrewvanbreda

I have sent you a separate email about plantportal last week. you need to create the plantportal website, survey, sample's attributes and occurrence's attributes again.

The reason to do that is I cloned the dev warehouse with live one which I also emailed you.

[2017-06-01 10:45] BirenRathod commented on #47
I have mentioned here https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/issues/55 about to create ID of plantportal site.

[2017-06-01 11:01] andrewvanbreda commented on #56
Note (mainly to myself): The Community/Sub-community automatic termlist generation has passed testing with random selection of data. One observation is that there is a community "#N/A", but am unsure if this should be an actual community to attach to, or whether we just ignore the community completely in this case. I expect the latter, but the importer currently uses an '#N/A' community. Easy to c

[2017-06-01 11:52] andrewvanbreda commented on #47
Hi yes. Sorry my fault. I created the website but then forgot to change the URL to the dev warehouse on the Plant Portal website

[2017-06-01 16:13] BirenRathod commented on #55
Hello @andrewvanbreda

The data from the CSV file has been imported to dev warehouse. It has taken 03:47 minutes.

[2017-06-01 17:03] andrewvanbreda commented on #55
Biren and Oli have done an import of the data into the dev warehouse this afternoon. The data hasn't been examined yet (Oli is going away so that might be after he is back).
However it sounds like it was probably been successful.
Biren noticed one issue where one row hadn't been copied in from the file. I think this is probably not a code issue, but an oddity with the original file that needs corr

[2017-06-01 17:05] andrewvanbreda commented on #55
The 3:57 run time is roughly what I would expect. It is slower than my machine, but your species list is more complicated, the only species I had in my list were the ones I had copied in from the file. It is good that it isn't vastly longer as that was a danger I suppose

[2017-06-02 14:06] andrewvanbreda commented on #55
Hi Biren,
I think I got confused and am not seeing the row issue you got during import on my own box. I am getting an import of 1887 rows (there are 1888 but one is a header).
You are reporting 1886 import with row 1871 missing. I cannot find a reason for that because I can't see that happening.
Can I confirm where the issue is occurring.  Is the following query returning 1886,
select count(*)
fro

[2017-06-02 14:08] BirenRathod commented on #55
yes, that is right.

[2017-06-02 14:21] andrewvanbreda commented on #55
Interesting....I am not sure what we can do about that because I literally just tell the system to read in the file.
It is one of those ones I could spend hours on just for one line, and I don't think that is a good use of financial resource.
So let's try a reload and hope it works.
We will just be populating the table that holds the file data, we won't rerun the Indicia data structures import cod

[2017-06-02 14:27] andrewvanbreda commented on #55
Hi Biren,

I started getting your problem again, I thought I got it last night but then didn't earlier this afternoon. I just tried my plan I outlined above and it didn't fix it so there is no point in you doing it. However I have an idea, I will try that and get back to you.

[2017-06-02 14:45] andrewvanbreda commented on #55
Hi Biren,

That didn't work. I tried splitting up the file. I can't work out why I didn't get issue earlier. How did you identify which row was the culprit?

[2017-06-02 14:49] andrewvanbreda commented on #55
Ah!!! I have worked it out!!! I just tried to rerun some sql where is it working OK and I realised it is very slightly different. At the end of the sql file that is "failing" there is this extra line
--Manual corrections to the data as discussed with David Roy.
delete from plant_portal_importer.tbl_plant_att
where taxon_name = 'Zostera angustifolia';

So we are correctly not including one of the r

[2017-06-05 09:44] andrewvanbreda commented on #47
Hi Biren,

I am not seeing the latest code on the site. Are you sure it was the feature-plant-portal-may-build branches that were used to updated from?
The importer.php file should have an importOccurrenceIntoSampleLogic option.
Can you check that file contains that word? If it doesn't then something is wrong, I just checked Sourcetree and it looks like that file is ok if the feature-plant-portal-

[2017-06-05 09:50] andrewvanbreda commented on #49
Hi,

Just to let you know I have just attempted to configure the site but it does not appear to be running the latest code even though an attempt was made to update it. I will work with Biren to resolve that.

[2017-06-05 10:42] BirenRathod commented on #47
@andrewvanbreda , It has upgraded now.

[2017-06-05 10:45] andrewvanbreda commented on #47
Great, will take a look thanks

[2017-06-05 10:59] andrewvanbreda commented on #47
I don't understand what is wrong. It still isn't there the latest code.
This is http://test.brc.ac.uk/plantportal/
Could you send me the importer.php file please and I will double check it

[2017-06-05 11:24] BirenRathod commented on #47
Sorry I didn't update that before, I have now.

[2017-06-05 11:35] andrewvanbreda commented on #47
OK thanks no problem. Will take a look

[2017-06-05 11:39] andrewvanbreda commented on #47
Thanks Biren. Looks like the problem I was getting before has been corrected, I can see the options I was after now

[2017-06-05 11:49] andrewvanbreda commented on #47
Hi Biren,

Sorry to be a pain, but am still having issues. I think I know what must be the issue. The whole iForm needs to be updated from that branch not just importer.php
My symptoms are that I can now see the options I want on the edit tab so your last update did work, but enabling them does not show the checkboxes I am expecting on the data entry form, this means that import_helper.php is stil

[2017-06-07 07:32] andrewvanbreda commented on #56
Note (mainly to myself): The Community/Sub-community attributes (Vegetation height cm) import into the new termlist_term_attribute_values has passed testing

[2017-06-07 12:31] andrewvanbreda commented on #56
Hi,
I have now implemented the taxa/Community/Sub-community attributes. These was some debate about this as it was hard to implement as it is a taxon/community combination the attribute is for. Originally we were going to use JSON encoding.
In the end I have fallen back on another idea that I think has worked and that is to use the source id in the taxa_taxon_list_attribute_value to point at the c

[2017-06-07 12:36] andrewvanbreda commented on #56
@BirenRathod this importer is ready for a test run.

We will probably do a similar thing to last time (Plant Att) and run it and then get Oli to examine the results.
So perhaps when Oli is back you two can decide when you are both available to give it a run.

If you give me half a day notice I can send you the SQL in one file to make it easier to run (and put in the ids like taxa taxon list to mak

[2017-06-09 13:28] andrewvanbreda commented on #47
Hi Biren,

I was just wondering if there was any news on this? Any thoughts?

[2017-06-09 16:49] BirenRathod commented on #47
Hello @andrewvanbreda
the iForm module has been updated from the repository of develop branch.

[2017-06-12 08:27] andrewvanbreda commented on #47
Hi Biren,

I just took another look and as the iForm has been updated from the develop branch the options I am expecting have completely disappeared. This is not surprising,
The correct course of action is to update the entire iForm to the feature-plant-portal-may-build branch. Nothing should have come from develop.

Thanks

[2017-06-12 13:13] sacrevert commented on #56
@BirenRathod Biren - do you just want to go ahead with the test when you have a moment, and report the results to Andy and myself? I think my time would be better spent adding in the TVKs for the species in the NVC table.

[2017-06-12 13:26] BirenRathod commented on #56
Yes, I can do it.

When @andrewvanbreda  is ready to send me the next batch. I think tomorrow (Tuesday 13/6) first day in the morning will be fine.

[2017-06-12 13:29] andrewvanbreda commented on #56
Actually that is a good point, I have forgotten we don't have the required TVKs yet (my test file is just full of fake ones).
So we have 3 choices
1. I change the code to use the species name instead, purely for the purposes of the test. I don't think I would recommend this as we want to test the same code that would be run on the final warehouse.

2. We wait until you have finished getting the tv

[2017-06-12 13:36] sacrevert commented on #56
Andy - if you send me the current file, I will try and do it this afternoon. I think that the database query route will need sense-checking regardless, so probably easier for me to do it from scratch.

[2017-06-12 13:38] andrewvanbreda commented on #56
That is very true, it would be no more reliable than if I had used the name to match in the first place, so my idea makes little sense actually. Just replying to your email now

[2017-06-12 13:43] andrewvanbreda commented on #56
I have sent the email now, can you let me know if it arrives. There should be a spreadsheet attached to it.

[2017-06-12 13:44] andrewvanbreda commented on #56
Sending failed, will try and attach to this thread in a sec

[2017-06-12 13:46] andrewvanbreda commented on #56
[NVC_floristic_tables_26_3_2008.xls.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1068332/NVC_floristic_tables_26_3_2008.xls.zip)

[2017-06-12 13:46] sacrevert commented on #56
I have one version that is 6,249 kb, last modified 26/03/2008. Is anything likely to have changed since then?

[2017-06-12 13:49] andrewvanbreda commented on #56
No, that must be it. It is now attached to this thread also. And that is the roughly size of it (unzipped). My computer is a reporting a very slight difference in size, but I think as I am running a mac that is probably due to the way the disc is formatted.

Once you are done with it, send it back to me as I will need to make slight adjustments to the way the file is formatted before importing.

[2017-06-13 09:29] sacrevert commented on #56
[NVCtables_v2.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1070920/NVCtables_v2.zip)

Here is the new version of the file. I have stripped the occasional trailing white spaces from the species names, and entered the (currently) preferred TVK for vascular plants and bryos. Rows not representing species have #N/A in that column; species (lichens and seaweeds) which

[2017-06-14 09:19] andrewvanbreda commented on #56
Hi,
I am downloading this now and will run on my own machine this morning. Hopefully won't take too long, just make sure it runs fine with the new TVKs, the code SHOULD already work, but you never know I suppose with the new file
Will get back to you as soon as I can.

[2017-06-14 13:56] andrewvanbreda commented on #56
Hi,
Sorry for the delay, what I was trying to do on my machine ended up being quite a faff for a lot of reasons. Performance and file size issues trying to import the species/tvks from the import file, also needed to change code to take into account file changes, also needed to adjust the format of the file anyway. Then some of my tests failed with the altered code.
Anyway, I think it is done now.

[2017-06-14 13:57] andrewvanbreda commented on #56
[NVCtables_v2_avb_formatted.csv.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1074811/NVCtables_v2_avb_formatted.csv.zip)

[2017-06-14 13:58] andrewvanbreda commented on #56
Obviously u will need to unzip file

[2017-06-14 13:59] sacrevert commented on #56
Thanks Andy. I look forward to the test results.
I'm not sure I understand the point about duplicates. Species that appear in more than one community type are an essential part of this dataset. This dataset will only be imported once - so, is performance that much of an issue?

[2017-06-14 14:05] andrewvanbreda commented on #56
[nvc_import_for_biren.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1074827/nvc_import_for_biren.txt)

[2017-06-14 14:06] andrewvanbreda commented on #56
All yours Biren, just let me know if you have any questions. You will need to check with David/Oli (or whoever) the priority level of running this, no rush from my end.
Needs running on Dev warehouse

[2017-06-14 14:09] sacrevert commented on #56
@BirenRathod Not a priority, but good to keep the momentum as we are making good progress.

[2017-06-19 12:52] kazlauskis commented on #50
Hi @johnvanbreda, I have this issue (copied here from our email conversation).

I got a bit stuck with the spatialref attribute. I cannot find a way to submit a sample with a finer-located subsample that would render correctly on the vascular plant form.

If I send such a simplified model of a survey level sample with a single child subsample and occurrence
[code]

instead of:
[code]

Then I see t

[2017-06-19 19:17] johnvanbreda commented on #50
Looking at the database, it appears the sample/subsample hierarchy is not being created properly, None of the recent samples in this survey have their parent_id set although I can see you've been submitting samples in pairs which look like they should be linked. So maybe your code for the "samples" json entry is not behaving correctly?
Also note that the sample_method_id=7305 only needs to be set

[2017-06-20 12:43] kazlauskis commented on #50
Thanks @johnvanbreda, using **fkID='parent_id'** instead of **fkID='sample_id'** for child samples has solved the issue.

[2017-06-20 14:18] japonicus opened #57 "Irish and GB grids are super-imposed"
If  an eastern Irish grid square is selected then the map shows a confusing superimposition of both the British and Irish grids, e.g.

 D1235
![screenshot 2017-06-20 15 16 47](https://user-images.githubusercontent.com/207360/27337915-b35e2c3a-55cb-11e7-99bf-5dc4aea6e5c5.png)

Nested under #3

[2017-06-21 15:42] BirenRathod commented on #56
I have now uploaded data from CSV. CSV took just 1 sec to upload data.

Hear is the status of each script.

First script took 16.6 secs.
Second script took 43.2 secs.
Third script took 62 msecs.
Fourth script took 1:59 mins
Fifth script took 1:56 mins

[2017-06-21 16:29] andrewvanbreda commented on #56
Hi Biren,

Performance was a complete unknown, those numbers are fine. Especially for something that only runs once. Thanks for running that Biren
The next step will be to inspect the results. @sacrevert  would you like me to write some SQL again? This one is actually more complex than the Plant Att, so I will need to explain what I have done so we are all happy with it. There are lots of new thin

[2017-06-23 10:38] BirenRathod commented on #47
Hello @andrewvanbreda

I updated the entire iForm module from feature-plant-portal-may-build branch. let me know if any problem.

[2017-06-23 14:42] andrewvanbreda commented on #47
@BirenRathod brilliant, thanks. I will take a look over the weekend.

[2017-06-26 13:31] sacrevert commented on #56
@andrewvanbreda Yes, that would be useful. Thanks.

[2017-06-26 15:33] andrewvanbreda commented on #56
Hi Oli,

OK sure, I will do that soon. David said NPMS is currently higher priority, however I also expect to have that finished shortly anyway.

[2017-06-27 08:02] sacrevert commented on #55
@andrewvanbreda As far as I can see the test import appears to be fine. Happy for this to go ahead on live whenever it is appropriate to do so.

[2017-06-27 09:05] andrewvanbreda commented on #55
@BirenRathod just wait before running this on live as I will have a quick think to make sure I haven't forgotten anything.

[2017-06-27 09:08] BirenRathod commented on #55
No need to rush. Whenever you ready.

[2017-06-28 11:50] andrewvanbreda commented on #55
Just to fill in some information on Github, Oli noticed there was a problem with the TVKs in the original file so sent me a new file. I have run this successfully on my machine. I have performed a few tests and the data looks ok (which is expected as the code hasn't changed). Only a few tests are required as it has already passed testing so we can assume because a few tests are passing then all wi

[2017-06-28 11:57] andrewvanbreda commented on #55
[tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1108583/tbl_plant_att_19_nov_08_with_tvk_and_format_corrections_v2.txt)

[2017-06-28 11:58] andrewvanbreda commented on #55
[Plant Att Importer for Biren test warehouse.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1108585/Plant.Att.Importer.for.Biren.test.warehouse.txt)

[2017-06-28 12:05] andrewvanbreda commented on #55
Important Notes: @BirenRathod  the importer SQL has a different species list id for the test warehouse, it seems to be 34 for the master list. This means that file cannot be run on live.

@ do you just want to double-check I uploaded the right file with the right TVKs? it should be right.

I suggested just holding off on the run for a bit to give us some thinking time, that approach seemed to pay

[2017-06-28 12:14] andrewvanbreda commented on #55
@BirenRathod , perhaps it would be a good idea that you double check the test warehouse species list id is indeed 34. I think I am right, but double check before any run. As I suggestion perhaps we should wait a little while before making the run, at least a few days anyway

[2017-06-28 21:03] andrewvanbreda commented on #56
@sacrevert

I will write you some sql for the NVC import test in a separate message (not tonight).
However here is a quick overview of the data structure. I won't spend too much time explaining as it is obviously time that can be spent on other things, however it is worth explaining to some extent for a few reasons
- A one off import is important to get right at the start
- My interpretation of th

[2017-06-28 21:56] andrewvanbreda commented on #56
@sacrevert seeing as the community level attributes such as "Number of species per sample" work in the same way as other attributes (but are instead just termlist terms attributes). Do you want to see if you can test the data for those without assistance from me, should be similar to Plant Att. Then I can just write you the SQL for the community/taxon combination attributes

[2017-06-30 11:32] andrewvanbreda commented on #47
Hi @BirenRathod,

I am pretty sure the drupal end is ok now, but I think the warehouse is not working as I need. Has that been updated from the warehouse branch with the same name?. It is acting as if it hasn't been updated, which is behaving almost correctly but not quite. There is a new option in the importer which allows us to prevent any commits on any import file rows if there are any errors

[2017-06-30 15:39] BirenRathod commented on #47
Hello @andyvanbreda

The dev warehouse use the develop branch of the repository. and its version ahead of live warehouse. And I have updated today again with the latest code. I could only see your changes on 24th. If that is what you expect to see than it has upgraded now.

[2017-07-02 18:45] andrewvanbreda commented on #47
Hi Biren,

I would put the changes in the Dev branch, however last time I tried that and got told that I shouldn't do that because the dev branch code should be good enough for the next release. So I do not know what to suggest. Oli and David will need to test it, but it seems we can't update the warehouse code from feature- branches, so I am not sure how we are supposed to test. Any thoughts?

[2017-07-03 07:18] DavidRoy commented on #47
Can you check with Jim, John and Karolis that they are ok with Dev warehouse being updated?

[2017-07-03 07:41] andrewvanbreda commented on #47
@davidroy the other possibility would be to just update the plant portal module on the warehouse. I THINK that would result in a situation where it mostly works, however the importer would always be committing lines to the database, even if it is reporting to the user that the commit hasn't happened because they need to recheck their data. That might be OK (although not idea) to demonstrate it to

[2017-07-03 07:51] andrewvanbreda commented on #47
Hi @johnvanbreda @kazlauskis @jimBacon,
See the messages above. The situation is I have a new feature branch that affects the warehouse core files (if I remember off the top of my head some of the core files such as ORM are affected).
I can't merge into develop as the code isn't ready for that, David and Oli still haven't seen it so it wouldn't be ready for a build release. So the code needs to st

[2017-07-03 08:11] johnvanbreda commented on #47
Applying the feature branch (at least temporarily) is OK from my perspective. I agree you should merge develop into the feature branch first.

[2017-07-03 08:28] andrewvanbreda commented on #47
I should add that the new code won't affect the behaviour of the warehouse in the general situation, if the new option isn't passed is will just use existing behaviour. So you won't notice any difference.

[2017-07-03 08:29] kazlauskis commented on #47
I think this is the Biren's & Jim's decision. As long as it doesn't break my stuff, I am OK too with the dev warehouse using feature-branch code.

As a thought, for such reasons like this I think we should be able to launch another warehouse instantly pointing to any branch we need to. Launch a docker container on AWS or somewhere and discard it once it has finished. This way we wouldn't need to h

[2017-07-03 08:36] andrewvanbreda commented on #47
It won't break your stuff once it is working, the code change is actually very simple, if option is set then don't commit, if missing or not set then commit as usual. Maybe a few lines of code as the option is passed through functions, it was a while back since I worked on it, can't remember exact details.
The only way it wouldn't work is if a mistake is made somewhere during the update.

[2017-07-03 08:45] JimBacon commented on #47
Sounds fine to me. If there are no database changes then we can use Git to switch between branches easily. If you output the branch name/commit(?) to the screen instead of the version number that might help others to know what code is in use.

[2017-07-03 08:48] BirenRathod commented on #47
Hello @andyvanbread

Dev warehouse is linked with develop branch, so switching between this two branch is not a problem and John mentioned to create feature branch sounds like a good idea.

[2017-07-03 08:53] andrewvanbreda commented on #47
Hi,
@BirenRathod  Feature branch exists but I need to merge develop into it.

@JimBacon I wasn't quite sure about your suggestion "If you output the branch name/commit(?) to the screen instead of the version number that might help others to know what code is in use."
Is that something you are suggesting Biren needs to do, or is it something you are wanting me to temporarily put into the code.
I wi

[2017-07-03 09:02] BirenRathod commented on #47
Once you merge let me know.
I think he meant to give proper name to feature branch so you don't need to change the version. you can do it this. By using this feature branch every time when I switch to test your code, it should have latest code from develop branch. Once we finished the test, I will switch back to develop branch.

[2017-07-03 09:05] andrewvanbreda commented on #47
OK, the feature branch is already named correctly I think. Just took a quick look at the code in GitHub and will need to get my head round what is happening. I will let you know once done. I will unassign Karolis, Jim and John now from this issue for now. Will let them know once we are done.
I will get back to you Biren.

[2017-07-03 09:06] JimBacon commented on #47
@andrewvanbreda my thought was that if you modified application\views\templates\template.php to show the branch name in the footer then it would remind us what code is running.

[2017-07-03 09:13] andrewvanbreda commented on #47
Yes @JimBacon  that would make sense, I will take a look at trying to include that.

Actually it might be a thought if sometime in the future we make it visually clearer whether we are running live, dev on the test warehouse and branches that are being run.
At the moment even my own machine warehouse looks like live unless I check the URL, it wouldn't be too bad apart from I want to run scheduled

[2017-07-03 09:16] johnvanbreda commented on #47
There is a config setting called warehouse_title in the indicia.php config file that at least partially solves this. We may need to make it clearer.

[2017-07-03 09:19] BirenRathod commented on #47
At least on dev warehouse, 'dev' has already placed that.

[2017-07-03 09:21] andrewvanbreda commented on #47
OK, thanks, I will do that on my own machine. It is only the scheduled tasks running on my own box which become a problem where trouble could really occur if a mistake is made, any attribute editing it is always obvious.

[2017-07-03 13:36] andrewvanbreda commented on #47
@birenrathod sorry for the delay, it went a bit chaotic after merging wiped out all my changes in the feature branch because I had previously had to undo some changes in Develop and these undos got copied too :(
Anyway, I think it is fixed now, so try and give it a go at update the dev warehouse whenever you are ready.
All being well no-one will notice a difference apart from me

[2017-07-03 13:37] andrewvanbreda commented on #47
oh, the feature branch to use in feature-plant-portal-importer-may-build

[2017-07-03 15:10] BirenRathod commented on #47
Dev warehouse has been switched on to feature branch (feature-plant-portal-importer-may-build).

[2017-07-04 08:02] andrewvanbreda commented on #47
Brilliant, thanks will take a look, hopefully no-one else will notice a difference apart from I have used @jimbacon suggestion of labelling the footer on the home-page

[2017-07-04 08:40] andrewvanbreda commented on #49
@sacrevert @davidroy @johnvanbreda the changes to the "normal" importer that have come from the discussions on the Plant Portal project are now available here if you wanted to test/check them.

http://test.brc.ac.uk/plantportal/normal-importer

Perhaps it might be a good idea if you take a look without me explaining in detail because obviously it needs to be understandable to a user without my inp

[2017-07-04 13:08] andrewvanbreda commented on #55
Hi @sacrevert. Just a thought on this, do you think it is worth making use of the source_id on the attributes in the database to indicate they are from Plant Portal Plant Att. I know in the Pantheon project we used sources. If not I think we should start having a think about maybe getting round to running this on the test warehouse and then live. I say this because we would want to run it whilst i

[2017-07-04 14:11] sacrevert commented on #55
@andrewvanbreda Yes, I think that is worthwhile. What type of field is source_id? Is it just an integer that points to a website list, or is it a text field where we add a scientific reference? Happy for these Plantatt data to be loaded to test again and then live when this is done.

[2017-07-04 14:46] andrewvanbreda commented on #55
It is an ID that will point to a term in the sources term list.

That term could be simply called "Plant Att" or be more complex.
- We can use multiple terms for different attributes if you need, so we don't just have to have one source term "Plant Att" if the attributes come from different places
- As we now have term attributes in Indicia, you could do something like have a term name "Plant Att"

[2017-07-04 14:55] sacrevert commented on #55
OK, can the term be "PLANTATT" (all caps, no space).

Year = 2004
Authors = Hill, M.O., Preston, C.D. & Roy, D.B.
Link = http://brc.ac.uk/sites/www.brc.ac.uk/files/biblio/PLANTATT_19_Nov_08.zip

I'm assuming that it is worth storing the link as it could then be displayed on a webpage that was reporting plant portal results. Very happy for @BirenRathod to run the data on the test warehouse again wh

[2017-07-04 14:59] andrewvanbreda commented on #55
That should be no problem. Will let you know once done.
We can store the link, worst comes to the worst we just get rid of the link if we find it isn't useful or doesn't work.

[2017-07-05 14:28] andrewvanbreda commented on #48
I have configured it on the Plant Portal Dev site, however what has happened is the update to the warehouse has overwritten the config file, I will need to get Biren to reinstate it (I think he is back tomorrow).

If you like you can use the "Normal Importer" on the Plant Portal dev site now to see changes relating to that importer which should be working in full (http://test.brc.ac.uk/plantportal

[2017-07-05 16:43] sacrevert commented on #48
Thanks @andrewvanbreda - so, I should try and upload one of the files (or similar) that I previously sent to you for testing and development, yes?

[2017-07-05 17:45] andrewvanbreda commented on #48
Hi @sacrevert
The actually upload itself won't work until that config file I mentioned on the warehouse is fixed, hopefully tomorrow.
However you can still have a look around the screens on the importer before the actual final upload button is clicked.
I would maybe just create a file with a couple of lines in it, then you could put a deliberate mistake in it, and try the re-upload facility...perh

[2017-07-05 18:05] andrewvanbreda commented on #48
One further note on this, as a general rule (on any project) I wouldn't do a huge import first, because if it doesn't go how you expect you won't be able to see what happened because there will be too much data,

[2017-07-05 20:06] andrewvanbreda commented on #48
@sacrevert, I will now upload some files that you can use to see different bits of functionality. For now leave the general Spatial Reference System drop-down at the very start of the Wizard OFF as we will supply the ref system on each row separately.
You will know the drop-down I am talking about as it has a page of its own.

Take note of my previous note above about mapping the Sample ID to the

[2017-07-05 20:11] andrewvanbreda commented on #48
This first file is quite a complex situation (even though there are only 3 rows)
In the data rows 2 and 3 have the same sample ID (so should go into the same sample).
However row 2 is having its spatial reference taken from the Vice County but row 3 is from the country as the vice county is missing.
These means their spatial references are different and the system is flagging this as they should b

[2017-07-05 20:12] andrewvanbreda commented on #48
[Test File for Oli 1.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1125912/Test.File.for.Oli.1.txt)

**OLP response:** The logic seems fine, although there are some elements of the system's response that  I don't quite follow:

`The following rows have been found to have inconsistancies:
Daisy,2010,3984,52.62865N 1.46538W,4326,Test plot name,HL10,,England (row num

[2017-07-05 20:17] andrewvanbreda commented on #48
Test file 2's situation is simpler but the user is again warned that they need to re-upload the file.
Rows 1 and 3 share the same sample id (external key) so should go into the same sample.
The user is warned rows for the same sample need to be place on consecutive rows in the file
[Test File for Oli 2.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1125931/Test.Fil

[2017-07-05 20:29] andrewvanbreda commented on #48
File 3's row 3 is missing a spatial reference but also a vice county and country to fill it in with. The user is warned this must be corrected before an upload can continue.
Not also on the warnings screen that row 2 has its spatial reference generated by the vice county and the spatial reference system is present even though it was missing in the original file
[Test File for Oli 3.txt](https://gi

[2017-07-05 20:39] andrewvanbreda commented on #48
File 4 is a simple valid file that would allow import. Note that the user still has the option to re-upload if they wish.
Unfortunately until the warehouse config is corrected I can't show you it picking up existing Plot Groups and Plots. I think I needed to do something when committing the code to stop it being overwritten
[Test File for Oli 4.txt](https://github.com/BiologicalRecordsCentre/BSBI-

[2017-07-06 09:32] andrewvanbreda commented on #47
Hi @BirenRathod,
Most of the deployment of the dev plant portal importer has worked with one exception. The config file on the warehouse has been overwritten. I thought this was a problem, however I release it might be a good thing as it would have been wrong.
Find attached, this needs to go into the config folder in the warehouse indicia_svc_plant_port
[Uploading plant_portal_import.txt…]()
al_im

[2017-07-06 09:32] andrewvanbreda commented on #47
[plant_portal_import.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1127383/plant_portal_import.txt)

[2017-07-06 10:10] andrewvanbreda commented on #48
Hi @sacrevert,
I just tried running your original importer file on the dev site, completely untouched so I didn't try to change the formatting. The importer has detected and correctly warned the user of inconsistencies in the file, so it has behaved correctly (so far) as far as I can tell. You can try it yourself.
It warns the user of lots of different samples that appear to have the same sample i

[2017-07-06 10:11] andrewvanbreda commented on #48
This is the file
[HLS_test_data_HL10.txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1127489/HLS_test_data_HL10.txt)

[2017-07-06 11:26] andrewvanbreda commented on #48
I should further add that we can have occurrences at different spatial references to the main sample by using sub-samples, that is a built-in indicia function. However I have not tried/tested/coded for plant portal, it would add an extra layer of complexity

[2017-07-11 09:57] BirenRathod commented on #55
Just to make sure, do I have run on test warehouse or dev warehouse?

[2017-07-12 08:23] andrewvanbreda commented on #55
Hi @BirenRathod  Am just chatting to Oli and David about this on email, when a run is required I will give exact instructions on what needs to be done so don't worry. For now don't run anything until I get back to you.

[2017-07-12 08:28] BirenRathod commented on #55
@andrewvanbreda , Ahh, that's good. Clear my confusion. looking forward to.

[2017-07-13 08:29] andrewvanbreda commented on #55
@sacrevert Before I commit can I confirm this format is OK for the term
"PLANTATT - Hill, M.O., Preston, C.D. & Roy, D.B. (2004)"
I put the authors after a hyphen and the year in brackets

[2017-07-13 08:33] sacrevert commented on #55
Now we are going for a full citation in one field, can you use:
"Hill, M.O., Preston, C.D., & Roy, D.B. (2004). PLANTATT- attributes of British and Irish plants. NERC Centre for Ecology & Hydrology: Monks Wood."

[2017-07-13 08:46] andrewvanbreda commented on #55
Yes, I have changed that. I will let you know once it is committed

[2017-07-13 08:48] andrewvanbreda commented on #55
BTW, in the link field I won't be putting the HTML, just the link address, this makes more sense having thought about it. Any code using the link can then do what it likes with it, including inserting its own HTML

[2017-07-13 10:06] andrewvanbreda commented on #55
Hi @sacrevert I just tried a run and my machine is reporting that term is quite a bit longer than the maximum. It seems to be 145 characters (inc spaces), the limit is 100. You have two options
1. Shorten it
2. We can put some of it in other termlist_term attributes like the link is

Let me know

[2017-07-13 10:09] andrewvanbreda commented on #55
Note that option 2 isn't that difficult considering I already have code that sets up the link

[2017-07-13 11:41] sacrevert commented on #55
Happy to go with 2 if you are. Thanks!

[2017-07-13 11:50] andrewvanbreda commented on #55
Yes, that is probably most elegant. I will add that it, should be easy seeing as we have the link as an attribute anyway

[2017-07-13 14:35] andrewvanbreda commented on #55
Again before I commit, there are now
Main term = PLANTATT - attributes of British and Irish plants.
Authors attribute = Hill, M.O., Preston, C.D., & Roy, D.B. (2004). NERC Centre for Ecology & Hydrology: Monks Wood.
Link attribute = http://brc.ac.uk/sites/www.brc.ac.uk/files/biblio/PLANTATT_19_Nov_08.zip

**OLP comment**: Not sure if this matters at all, but the second attribute would be better na

[2017-07-14 08:21] andrewvanbreda commented on #55
@sacrevert When are we going to try a run of this? We would want to do the test warehouse run, check it is OK, then run on live immediately after. I assume this isn't going to be a good idea right before your holiday so shall we wait?
Personally I think that would be best unless there is urgency around this. I just don't want to be in a situation where there are problems to solve today if you are

[2017-07-14 08:23] DavidRoy commented on #55
We'll wait a few weeks before doing this.  Probably in early August. thanks

[2017-07-14 08:48] andrewvanbreda commented on #55
Hi David,

No problem. I will get Biren's instructions ready sometime so we are ready to go when the time comes.

[2017-07-14 09:18] andrewvanbreda commented on #55
Just a word on what I have chosen to do with this as I had to make some decisions on how this was going to work.
Also there is a question @johnvanbreda I want to bring up given we have some more time to think about this.
The sources in Indicia are actually split into 3 termlists. Attribute sources, attribute value sources and term sources.
I realise actually there is a problem with this in that we

[2017-08-01 09:22] sacrevert commented on #55
Once @johnvanbreda has commented on this, and any subsequent changes have been made, I would be happy for Biren to run another test.

[2017-08-01 10:42] sacrevert commented on #48
@andrewvanbreda Just to say that I am going through these tests now.

In relation to the above comment, I still don't see that we need anything as complex as sub-samples at this time. It may be useful in the future for 'nested' sampling (e.g. surveyors record a large plot, say 10 x 10 m, and then a smaller plot that is spatially nested within it (e.g. a 1 x 1 m plot)), but this is not likely to be

[2017-08-01 12:14] andrewvanbreda commented on #48
@sacrevert yes a simple solution is better but we need a way of overcoming a problem with your test file where we had samples with the same sample ID but different spatial references (if I remember correctly). The importer will warn you during import so you will see it.
@BirenRathod has the dev warehouse been switched back to the dev branch? In which case Oli I don't think the importer will work p

[2017-08-01 12:25] BirenRathod commented on #48
@andrewvanbreda , yes it has switched to develop branch. last week.

[2017-08-01 12:26] sacrevert commented on #48
@andrewvanbreda

This was my mistake with the test file. Occurrences with the same sample ID should have the same spatial ref, as they should all relate to the same plot. Sorry about that error.

[2017-08-01 12:30] andrewvanbreda commented on #48
Biren has just confirmed the warehouse is not running the Plant Portal branch anymore. So feel free to continue testing, but if it does something you aren't expecting let me know and I will (might) be able to tell you if it is a bug or just the warehouse code branch being wrong

[2017-08-01 12:33] sacrevert commented on #48
I'm probably going to move on to finishing the TVK coding for the NVC data now (lichens were outstanding), so feel free to look at my edited comments relating to the 4 test files above.
Regarding further dev work, David's email seems to me to confirm that we can work on the following (from his email):

My impression was that it was OK to work on these items, but not to commit to additional new dev

[2017-08-01 12:37] BirenRathod commented on #48
I'm working most of days like Tuesday,Wednesday,Thursday in this month. Off may be for long weekends.
So no problem on those days.

[2017-08-01 12:37] andrewvanbreda commented on #48
OK that is fine then (in response to Oli's point). I will need to work out where we are with these things I can't remember where we are off the top of my head.
Oli have you tried the plot importer yet, if not you might want to get Biren to switch the warehouse branch for you

[2017-08-01 12:45] sacrevert commented on #48
Do you mean the 'normal importer'? http://test.brc.ac.uk/plantportal/normal-importer
I'm not sure I recall exactly what I should be testing here, or why I am testing it. Under what circumstances would this be used for Plant Portal imports? (i.e. I understand that the normal importer has been enhanced by the addition of code developed for the plant portal, but, given that I didn't use the normal im

[2017-08-01 12:52] andrewvanbreda commented on #48
No, the importer you are interested in is this one
http://test.brc.ac.uk/plantportal/import-records-from-file

The "normal importer" has been placed on the site so anyone who is interest (You/John/David) can see how the Plant Portal importer affects the standard Indicia importer.
It seems sensible to place this page on the site because that is the only place that is up to date with the Plant Porta

[2017-08-01 12:55] sacrevert commented on #48
OK, I understand. I have in fact already tested this with your 4 files, that it what was confusing me. Perhaps you did not see that I have edited all of your posts above concerning these files with my initial feedback. I could make additional minor comments on labelling etc., but for the moment I have restricted feedback to what I saw as the more substantial issues. Sorry, I thought that by editin

[2017-08-01 12:55] andrewvanbreda commented on #48
Just to clarify the "normal importer" page will not be on the final Plant Portal site and doesn't need testing, it is just there for anyone to see

[2017-08-01 13:01] andrewvanbreda commented on #48
Ah OK, no I didn't see your comments I do not know why as I usually get emails, maybe it doesn't email me if you edit a comment I made originally.
I will take a look at what you have said, feel free to edit your test file and retry it if you wish, but I would advise getting Biren to switch branch on the warehouse first. You can go ahead without doing that if you wish, as long as you are happy that

[2017-08-01 14:39] sacrevert commented on #56
[NVCtables_v3.zip](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1190910/NVCtables_v3.zip)

Here is what should be the final version of the file. Again, I have stripped the occasional trailing white spaces from the species names, and entered the (currently) preferred TVK for vascular plants, bryos, lichens and seaweeds. Rows not representing species have NA in the TVK

[2017-08-01 15:01] andrewvanbreda opened #58 "Plot data importer terminology changes"
Any changes you want to wording of terminology in the plot data importer can be placed in this thread

Nested in #46

[2017-08-01 15:02] sacrevert commented on #48
Regarding the results from the test files above:

1. Some work needed on labelling and wording, but in most cases this should be straightforward (see #58).
2. Contents of spatial ref field when using 'vague' VC/country boundary. My concern here is that the grid ref field is ending up with a precise grid reference, even though it is actually vague. Your reply didn’t really address the issue of whet

[2017-08-01 15:03] andrewvanbreda opened #59 "Plot data importer - check warnings for the user are clear"

[2017-08-01 15:04] andrewvanbreda commented on #59
AVB : Check warnings for the user are clear and amend with guidance from Oli

[2017-08-01 15:27] andrewvanbreda commented on #48
That is true actually, on my machine when I was programming the importer there was a column to indicate whether this was a vague spatial reference or precise one. I seem to have forgotten to put this on the dev site, probably because the code didn't really do anything with it.
I could change it so this is set to vague automatically if a Country or Vice County is used.

As for whether it is sensibl

[2017-08-01 15:41] sacrevert commented on #48
OK, I am happy if their is a field indicating that it is a 'vague' reference. As long as that exists that I am happy that future coding could take account of this in mapping and exporting to other systems. For example, if the reference if flagged as vague, then a map might know to use a boundary rather than a point etc.
Regarding hiding these vague points from the user, I think this is desirable i

[2017-08-01 15:43] sacrevert opened #60 "Hide vague boundary centroids from user in error reporting"
Not also on the warnings screen that row 2 has its spatial reference generated by the vice county and the spatial reference system is present even though it was missing in the original file
Test File for Oli 3.txt

The answer is they can’t easily be unified, as one screen are warnings specific to Plant Portal, the other screen is now part of the standard importer and the warnings are generated by

[2017-08-01 15:47] andrewvanbreda commented on #48
OK, I will leave it off my To Do list for now. I will create the column I mentioned as it is just an attribute and will be easy to add to the dev site

[2017-08-02 09:08] andrewvanbreda commented on #48
Just to summarise all the discussion from yesterday.
I will assume the terminology and error message wording issues will be dealt with gradually over time as these now have separate threads and do not require any immediate action.
I think I am correct in understand that we are holding off on the hiding of the precise spatial reference from the user right now until more funding is confirmed (again

[2017-08-02 09:45] andrewvanbreda commented on #48
Hi @sacrevert
I just checked, I was talked rubbish actually, I thought I checked this yesterday but must of missed it. That attribute I was referring to was always there on the site
It is called "Plant Portal spatial reference type" and it currently accepts the terms "Accurate" and "Vague". It was always on the mapping screen in the mapping drop-down next to each column it can be found under the "

[2017-08-02 09:51] sacrevert commented on #48
Thanks Andy. I agree with your summary, and with your suggestion to close this thread and start a new one for the new import tests with the data that I previously created (not real data, but closer to reality).

@BirenRathod Can you do the 'branch switching' thing that Andy mentions?

[2017-08-02 09:52] sacrevert commented on #48
Yes, I think the "Plant Portal spatial reference type" definitely needs to be set automatically.

[2017-08-02 09:52] BirenRathod commented on #48
@andrewvanbreda, do we need to switch branch?

[2017-08-02 09:59] sacrevert commented on #48
"Plant Portal spatial reference type" -- do we want the terms to be 'vague' and 'accurate', it is a bit misleading. How about 'boundary' for Country and VC, and 'gridded' for anything else? I'm just thinking that a hectad (10 x 10 km) is also 'vague'? Thanks @andrewvanbreda

[2017-08-02 10:13] sacrevert commented on #58
Map screen: What is 'Occurrences :: Zero abundance'? Presumably this is a generic option that can be dropped from the Plant Portal interface?

**AVB Response:** : This is a true or false value that indicates whether we want to explicitly record an abundance of zero in the database, or does an entry of zero not get recorded.
I can hide this for Plant Portal, I think I was mostly guessing what we ne

[2017-08-02 10:15] sacrevert commented on #58
Map screen: 'Occurrences :: Sensitivity precision'
Did we agree that we were going to have a sensitivity blurring option for the Plant Portal? I can't remember. I don't think that we should provide this option off the shelf. We can think about providing it in the future if people ask for it, otherwise I would rather encourage people not to select for their data to be blurred (of course, people can

[2017-08-02 10:17] andrewvanbreda commented on #48
@BirenRathod Yes Biren can you switch the dev warehouse branch to plant-portal-porter-may-build as it sounds like Oli is going to do the testing now. Can you let Oli know when you are done, so he can try to test the import

@sacrevert The terms changing can be done right now. I will do that right now.
The automatic setting of that attribute will need to go onto the To Do list, so I will raise an i

[2017-08-02 10:18] sacrevert commented on #58
Map screen: 'Sample :: Date'
Presumably any type of Recorder 6 date can be mapped to this column? I suppose, then, that it will be down to the guidance documentation to instruct people on how various types of date format should be formatted for this field. Can you confirm?

**AVB Response:** It works using the same date engine that Indicia uses. I think that includes vague dates, it is certainly p

[2017-08-02 10:23] sacrevert commented on #58
Map screen: 'Sample :: External key'
So, 'external key' is the user's unique sample reference, right? So, can this be called 'Unique sample ID' instead?
Also, I forget, but my memory is that this only checks for uniqueness against a user's already created samples, not against all sample IDs in the system, and not against other user's samples where those users also have permissions to load new samp

[2017-08-02 10:25] andrewvanbreda opened #61 "System to set Plant Portal Spatial Reference Type attribute automatically"
If a Vice County or Country is used to generate the spatial reference then the Plant Portal Spatial Reference Type should be automatically set to boundary

[2017-08-02 10:25] andrewvanbreda commented on #61
@sacrevert can you let me know if this change is to go ahead or to be put on hold for further funds to be made available?

[2017-08-02 10:26] sacrevert commented on #58
Map screen: 'Sample :: Location (from controlled termlist)'
This is the plot name that the sample is associated with, correct? In which case, can it be called **'Unique plot ID'**? Again, as far as I recall, this is checking against existing plot IDs that the user has permission for, or is it checking against all plots in the system? What happens if a user creates some plots (e.g. plots 1 and 2),

[2017-08-02 10:27] andrewvanbreda commented on #48
Attribute terms altered.
New issue created for automatic setting of attribute.
Closing this thread now

[2017-08-02 10:28] sacrevert commented on #58
Sample custom attributes :: Plant portal spatial reference type (from controlled termlist)
This is the one that will be removed from view and automatically filled based on how the spatial reference is created, I think.

**AVB Response:** OK, noted that this won't be user defined

[2017-08-02 10:28] BirenRathod commented on #48
@andrewvanbreda, you mean switch this branch -> feature-plant-portal-importer-may-build

[2017-08-02 10:30] andrewvanbreda commented on #48
@BirenRathod Yes the dev warehouse needs to be running that branch for Oli, thanks
feature-plant-portal-importer-may-build

[2017-08-02 10:31] sacrevert opened #62 "PP occurrence stratum"
We discussed this in the past, but perhaps it was something that was shelved for simplification, however, it will be important for full functionality of the system.

This is the vertical stratum within which an occurrence/abundance observation is made e.g. a user made record two occurrences for a tree within a plot, one in the ground later (e.g. a seedling) and one in the canopy (i.e. the woodland

[2017-08-02 10:32] sacrevert commented on #61
I think we can shelve it, awaiting further funds. The initial data loading will all be done by me, so I can use the manual mapping that you have created.

[2017-08-02 10:32] #48 closed, assigned to andrewvanbreda, DavidRoy, sacrevert

[2017-08-02 10:34] sacrevert commented on #58
Sample custom attributes :: Plant Portal country/vice-county
Would it be possible just to label these as Country and Vice County for simplicity?

I think this is it for the moment -- perhaps you can respond by editing comments. I realise that some of these changes will need to be propagated into error messages etc., but I will not try to document all of these in the other thread ( #59 ) at this po

[2017-08-02 10:37] sacrevert commented on #50
@kazlauskis @johnvanbreda Can this issue be closed now?

[2017-08-02 10:39] sacrevert commented on #58
Location custom attributes :: Plant Portal plot group text

Again, can this be simplified to 'Plot group ID'?

**AVB Response:** Yes easy to change attribute name

[2017-08-02 10:53] BirenRathod commented on #48
@andrewvanbreda  & @sacrevert
I pull the code from that branch. Would you like to see, if it's working.

[2017-08-02 11:22] andrewvanbreda commented on #48
@sacrevert @BirenRathod Oli, I may as well check if this is working, then I will let you know you can proceed, that is probably simpler/quicker than if you try it and it isn't setup properly. Will look first thing after lunch

[2017-08-02 12:48] johnvanbreda commented on #55
The sources are just a bit of metadata which describes where the attribute data are from. As I understand it, there is no functionality associated with the sources, so it is up to us how we interpret it. Therefore my suggestion is to consider adding the PLANTATT term to the attribute sources termlist and link it to the attributes themselves only. Then we can infer from the fact that the entire att

[2017-08-02 13:01] johnvanbreda commented on #57
The 2 grid systems do overlap in some parts of Ireland. My proposed solution is for the grid graticules to automatically switch off when a grid square of a different system is input. I.e. the map will initially load with 2 grids, but if you input an Irish grid it will disable the OSGB graticule. Does that sound like it will solve the issue?

[2017-08-02 13:04] johnvanbreda commented on #50
That probably needs @kazlauskis or someone using the app to confirm.

[2017-08-02 13:26] sacrevert commented on #57
@japonicus to comment (I have no idea).

[2017-08-02 13:29] johnvanbreda commented on #41
I've added code so that if you enter a specific VC first then add a grid square which overlaps the boundary, it no longer asks you to confirm which VC you mean, it just keeps the one you entered. This is in the develop branch ready to go live at the next feature update.
I think there are 2 other separate warnings alluded to in the rest of this issue so I just want to check if either or both are co

[2017-08-02 13:40] sacrevert commented on #41
1. Enter a grid ref, then change the auto-selected VC to a wrong one so the VC and grid ref do not match.
 Should this give an error on save? (I assume yes)
**OLP: Yes, it seems to me that that is what Tom describes**

2. Enter a grid ref and use the auto-selected VC. Enter some records, one or more of which have a detailed grid ref that is not in the VC. Should this give an error on save?
**OLP:

[2017-08-02 13:44] japonicus commented on #57
@johnvanbreda that should solve the problem.

Ideally the grids ought to be clipped to avoid overlaps even when no record's selected, but that's probably more hassle than it's worth.

I have some javascript that does GB and IE grid-clipping for [BSBI maps](http://bsbi.org/maps) and @kazlauskis re-implemented GB (but not Irish) clipping for the apps. Eventually I hope to tidy up and open-source as

[2017-08-02 13:59] andrewvanbreda commented on #55
Ok, thanks for the feedback, that might been what I did initially if I remember correctly, so hopefully it will be simple to revert.
I will take it has a general rule then that if the sources are going to be the same for something like the attributes and values, it is better just to leave it only on the attributes and infer the children from there, that seems sensible

[2017-08-02 14:05] sacrevert commented on #55
@andrewvanbreda I'll assume that you will closing this when you are happy that it is resolved.

[2017-08-02 14:07] andrewvanbreda commented on #55
@sacrevert yes I will close this, probably at the point we have run it successfully on live would probably be the most sensible time

[2017-08-03 07:18] andrewvanbreda commented on #62
Yes, we discussed this. I think it is just missing from the importer as I don't think there is an code to add other than the attribute. I will make a term list and occurrence attribute.
Can you confirm the exact names of the terms you wish to use

[2017-08-03 08:03] sacrevert opened #63 "PP project group attribute"
This is simply a way of associating plots with a specific project (i.e. there might be several plot groups (and many samples) that are ultimately associated with one project).

It would be a free text field that the user specifies. There would also need to be a check against existing project names when new data are uploaded that use this field.

Nested in #46

[2017-08-03 08:05] sacrevert commented on #37
@johnvanbreda Hi John, just wondering if there was progress made on this, and whether it should be closed. Thanks

[2017-08-03 08:43] sacrevert commented on #62
Great, this is an action on me then. I will need to look into the standard codes used in other places and get back to you on this. It may be that we move this up the priorities list, as I cannot load actual data until this is enabled. I'll talk to David about this next week when he is back.

[2017-08-03 14:22] sacrevert commented on #62
codes are as follows: c = canopy; s = shrub layer; g = ground layer.
I expect we would ask people to supply them simply as c, s, or g, rather than the full terms.
The column name for mapping could just be 'Stratum'.

These terms would probably need to be concatenated with species names for subsequent downstream operations in WebMAVIS (e.g. Quercus robur (c) -- indicating Oak cover values in the ca

[2017-08-04 09:09] andrewvanbreda commented on #63
Plot groups have already been setup as terms, therefore if we want to store any information against a plot group it should probably be using the new term attributes.
Now the real question would be how the user enters this information, the most obvious thing would be as an extra column in the input file
My main concern here is from what I can see this adds quite a lot of extra complexity. We would

[2017-08-04 10:15] sacrevert commented on #63
Just to clarify, there is no need for this to be at the plot group level. It would make more sense at the plot or sample level (or even occurrence level). Although, for your edit screen idea, I agree that it would be simpler at the plot group level (because this is higher in the hierarchy, so fewer things to select).

However, is it a requirement for a user to specify a plot group? What if a user

[2017-08-04 10:50] andrewvanbreda commented on #63
Yes OK, you might need to decide at what level to store it to match your requirements.
In my opinion  it might be best at sample level. As a plot could be used for several projects, but would there ever be a case of occurrences within one sample being for different projects?
I wouldn't think so, but I am not doing the work out in the field so I am only advising from my computer desk.
If it was jus

[2017-08-04 11:01] sacrevert commented on #63
Ok, your comments on plot groups not being essential (as I thought) lead me to think that the sample level would be best. You are right that samples for a single plot would not be in different projects (logically it could happen, but I believe we can enforce this restriction to stop things from getting too complicated).

I actually think plot level would be best. Then if a person was uploading add

[2017-08-04 11:15] johnvanbreda commented on #37
Yes, I believe this to be working correctly now.

[2017-08-04 11:15] #37 closed, assigned to johnvanbreda

[2017-08-04 11:28] sacrevert commented on #43
@johnvanbreda Is this one to be altered with any impending code updates? The example given by Martin above still seems to exist.

[2017-08-04 11:53] johnvanbreda commented on #57
I think calculating the grid clipping is OK - we already have code which decides whether a point is OSGB or OSIE. However getting the graticule code to draw it nicely might be challenging.
I've committed code so that if you actively pick a system, enter a grid ref, or select one on the map, then the unused graticules are removed from the map. This will be released in the next feature release.

[2017-08-04 12:17] #57 closed, assigned to johnvanbreda

[2017-08-04 13:03] johnvanbreda commented on #43
Yes, this is fixed in the code pending the next feature update.

[2017-08-04 13:04] #43 closed, assigned to johnvanbreda

[2017-08-04 14:25] andrewvanbreda commented on #55
@BirenRathod @sacrevert

Hi, I will now upload the Plant Att sql file Biren will need to run on the test warehouse just before we do the live run.
This is NOT the live file, due to the species list ID I have inserted into the file, I will amend this for the live version, DO NOT run this on the live warehouse, test warehouse only

This includes all the source changes we suggested and implemented as

[2017-08-04 14:25] andrewvanbreda commented on #55
[Plant Att Importer (for test warehouse).txt](https://github.com/BiologicalRecordsCentre/BSBI-Card-and-PlantPortal/files/1200696/Plant.Att.Importer.for.test.warehouse.txt)

[2017-08-04 14:34] andrewvanbreda commented on #55
@BirenRathod just a note before I forget, when you come to run it you will still need to place the file path to the import data into the file in the same way as you have on the dev warehouse run

[2017-08-05 18:04] andrewvanbreda commented on #63
OK, have read what you have written I can see that it is critical thing here is going to be finding a way of implementing this in a elegant way that results in code that is maintainable.
The idea that projects need to be associated with users concerns me, as users are already assigned to Plot Groups. Could get confusing.
However, perhaps I am missing a trick here.
Would it be possible just to have

[2017-08-05 21:43] sacrevert commented on #63
In theory I have no objection to this suggestion. Presumably this would also mean that one plot can be associated with one or more projects? Logically there is no problem with this, although I might decide that we do not promote this (i.e. we might strongly imply in user guidance that plots should only be associated with one project).

Also, although I implied above that it would be good for every

[2017-08-06 11:15] andrewvanbreda commented on #63
Yes, the rules for Plot Groups don't have to be identical, I am just trying to think of an elegant basis from the coding point of view which will mean the Plant Portal project is still understandable and maintainable.
As I say they don't have to be identical, so if you did want to limit to just one project per plot we could certainly do that.
**OLP: I think this might actually simplify things, as

[2017-08-07 08:56] sacrevert opened #64 "User-specific/admin list of unfinished forms"
Separating out this issue from #21

This does raise a question about how a user finds this 'sample' form again. Does it raise the need for the ability to explore samples?

Nested in #3

[2017-08-07 08:58] sacrevert opened #65 "Offline caching"
"As well as the ‘submit’ button, there should also be an option to ‘save to basket’, i.e. to save the data entry process for later editing. (One might want to complete entering a list later, or save it until confirmatory information for some species was obtained.)

An alternative might be to simply cache the current state of the form in the browser. Then if you accidentally pressed back or lost yo

[2017-08-07 08:59] sacrevert commented on #21
Split to #64 (essential) and #65 (enhancement)

[2017-08-07 08:59] #21 closed, assigned to nobody

[2017-08-07 09:08] andrewvanbreda commented on #63
@sacrevert Yes this all seems fine

[2017-08-07 13:37] andrewvanbreda opened #66 "How to deal with plot names in plot importer"
Hi @sacrevert

As previously reported, there are currently errors on the Plant Portal Plot Importer, in order to get that far into the importer, I needed to change your import file as it currently isn't valid (for instance, as previously mentioned, the rows going into a single sample currently have different spatial references)
However if I create an altered version of your file I am able to proce

[2017-08-07 13:46] sacrevert commented on #66
No problem. At the moment I suggest that we just stick with what we have, to save increasing development costs. So, it is fine that the importer throws an error if names are not provided. Guidance can instruct users to provide names; at the very least they can copy and paste spatial refs into the plot names field themselves.

In the longer-term your idea

would be fine, but, i don't think we shoul

[2017-08-07 13:48] sacrevert commented on #66
Note that #58 has a comment regarding the renaming of the "Location (from controlled term list)" field:

This is the plot name that the sample is associated with, correct? In which case, can it be called 'Unique plot ID'?

[2017-08-07 14:01] andrewvanbreda commented on #66
Yes, the Location (from controlled term list) does need changing, yes it is the plot name associated with the sample. I will added it to the issue I created about incorrect terminology in the importer.

OK, given what you said I will leave the problem I described in this issue, however I will at least visually remove the current exception error from the screen, hopefully I can do that simply by ma

[2017-08-07 14:08] andrewvanbreda commented on #58
Also need to change
"Location (from controlled term list)"
to
'Unique plot ID'

[2017-08-07 16:13] andrewvanbreda opened #67 "What to do if plot with duplicate plot ID/name is assigned into a plot group"
**Opening a new issue, after the information below was added to another thread**

What happens if a user creates some plots (e.g. plots 1 and 2), but is then later given permission to access some plots created by another user with the same labels? How would the user load new samples to the first plot 1 and not the other plot 1?

AVB Response:
When importing, the user can only ever import onto an e

[2017-08-07 16:15] andrewvanbreda commented on #67
Further note on this issue.
It is something I already thought about, although perhaps not with a satisfactory conclusion.

For instance, a scenario the importer already deals with is that there are plots with the same ID within the same plot group because of this issue.
In this case, it blocks importing until it is fixed, although it doesn't say how to fix it.

[2017-08-08 08:17] andrewvanbreda commented on #58
AVB: On dev fixed names of following attributes
Vice county
Country
Plot width
Plot length
Plot radius
Plot shape
Plot group ID

All of the above had included "Plant Portal" in the title.

Outstanding still:
Removal of Zero Abundance
Removal of Sensitivity Precision
Removal of spatial reference type from user view (and automatically set)
Test vague dates
Change external key column mapping name
Cha

[2017-08-08 08:48] kazlauskis commented on #50
Thanks, I will check this up this weekend.

[2017-08-08 10:58] andrewvanbreda commented on #58
AVB: On my own machine fixed the following in code (not dev until a release):
Removal of Zero Abundance
Removal of Sensitivity Precision
Change external key column mapping name
Change location column mapping name

Outstanding still:
Removal of spatial reference type from user view (and automatically set)
Test vague dates

[2017-08-08 15:05] andrewvanbreda commented on #58
@sacrevert Just had a go at double checking the behaviour of vague dates using the standard Indicia importer (which will behave the same way in this regard).
I was fine when I used "2011 to 2012" and "Summer 2013". These appeared in the warehouse correctly on the sample record.
On grids (which use an ordering), the dates were displayed using precise dates within the warehouse of  "2011-01-01" and

[2017-08-08 15:09] sacrevert commented on #58
Thanks Andy. I don't think we'll advertise or encourage vague dates like 'Summer YYYY', but certainly dates covering a year or set of years will be necessary. Can I just confirm that for 2011 to 2012,

means a start date of 01/01/2011 and an end date of 31/12/2012 for the occurrence record? @andrewvanbreda thanks

[2017-08-08 15:17] andrewvanbreda commented on #58
Yeah I was just trying to remember the kinds of vague dats I used to use trying to break Recorder 6 (on purpose, as a tester). I will check that on my own box where I can actually look in the database, as I was looking in the user interface. As I am in the middle of coding at the moment, the importers on my box aren't operational this very second, but I will give that a go one spare minute sometim

[2017-08-09 08:31] sacrevert commented on #58
OK, thanks. Don't spend too much time on this though, I just wanted to make sure that "2011 to 2012" was converted to have appropriate start and end dates, rather than being converted to a single day precision, as you comment about how it displays in the warehouse above kind of implied.

[2017-08-09 09:15] andrewvanbreda commented on #58
It is ok, as I will putting further data through the importer anyway, so it only take an extra 30 second to do this

[2017-08-10 07:51] andrewvanbreda commented on #61
Now coded (on my own machine) and committed, not on dev yet.

- Spatial reference type now hidden from mappings screen.
- Spatial reference type now sets to “gridded” or “boundary” automatically

A couple of other improvements whilst I was at it:
- Results can now be scrolled horizontally if there are many columns on the warning screen.
- Fixed bug which stopped the spatial reference often failing

[2017-08-10 16:02] andrewvanbreda commented on #58
A run of the actual Plant Portal Importer on my box with the date "2011-2012" reveals the following in the database,
date_start="2011-01-01"
date_end="2012-12-31"
date_type="YY"

[2017-08-10 16:33] andrewvanbreda commented on #61
Sorry I just realised you had said not to go ahead with this enhancement. It didn't take too long in the end anyway

[2017-08-11 14:53] andrewvanbreda opened #68 "BRC import file HLS_test_data_HL10_v2.csv - test results"
Hi @sacrevert ,

I tested you import file, I think the results are a mixed bag really, could be better, could be worse.

Firstly I didn't have those species on my machine, unfortunately on my development warehouse the importer isn't working at the minute, so I changed your species in the file into ones I knew I had, this shouldn't affect the validity of the test though

Firstly the good.
When I in

[2017-08-11 15:17] sacrevert commented on #68
I will respond to your points in individual comments below.

[2017-08-11 15:22] sacrevert commented on #68
I did that on purpose, thinking what the average user might do. Now I am thinking whether the checks need to be more intelligent. For example, here, the occurrences with the same sample id that are not on consective rows are actually for different plots, so, should the importer realise that they cannot actually be the same sample?

Does the current logic mean that a user **can** use the same sampl

[2017-08-11 15:23] sacrevert commented on #68
This isn't the same warning screen with the nice tables on.
I don't remember it being like this before though. It never looked at good as the tables screen, but it wasn't this ugly, it might of been related to the sheer amount of information it was trying to show me.

Leave for the moment?

**AVB Response:** Yes I will leave unless it is a 5 minute job. I thought it looked better before, so the fi

[2017-08-11 15:24] sacrevert commented on #68
I don't really foresee any major issue with stratum although I couldn't test it

Fine, these are both essential for it to be really useful. Cover is something that has always been there, but which we have probably never worried about given that it is again just a simple occurrence attribute.

**AVB Response:** I don't expect any real trouble from these once I have persuaded the mappings screen to

[2017-08-11 15:26] sacrevert commented on #68
No, it is not valid, but 'tis something people might throw at the importer. If this requires a general Indicia github issue raising/some other fix, then can I assume that you will mention this to John and he will fix it under his general iRecord contract?

**AVB Response :** Will raise separately from Plant Portal if needed, but actually having said that I think it is a Plant Portal issue, as the

[2017-08-11 15:27] sacrevert commented on #68
OK, that should just have been a sample ID. As you say, if you mapped it to Unique plot ID, presumably it should have treated it as a plot name.

**AVB Response:** Yes I think I mapped in correctly it, but I would of expected it to create a plot. It didn't complain yesterday when I was importing data so it much of been creating plots (else it would have said it didn't find them yesterday). I suspe

[2017-08-11 15:29] sacrevert commented on #68
I suppose this just relates to what the importer does if it cannot map a taxon. Nothing more than that really. For something like 'Grass', the user would need to change it to something recognisable by the taxon dictionary (e.g. Poaceae). I think I will just provide advice on this in the guidance document, as it is probably not sensible to provide lists of rules mapping every possible vague term th

[2017-08-11 15:31] sacrevert commented on #68
@andrewvanbreda OK, I think I've answered all of these. Do you want to comment within the comments where necessary, linking to new issues if that is what is required.

I'm a bit concerned that this is going to start ballooning. But I suppose we can reevaluate after you looking through my responses. I will need to sit down with David soon and think about a new funding strategy for this work.

**AVB

[2017-08-13 18:53] andrewvanbreda commented on #62
Stratum and cover have been added to my machine and committed.
Having said that, I have committed that code before reading your comment that people would add them as short characters. I don't think I support that at the moment, I wonder I might look to see if Indicia has built in support for that kind of thing as am sure it is a common issue.
For now, the terms would just be "c" and "s" and "g" wh

[2017-08-14 07:45] sacrevert commented on #62
Thanks. Andy, I'll start a new issue for cover ( #69 ), as I think that it too will require adjustment in the future (see new thread for comments).

[2017-08-14 07:47] sacrevert opened #69 "PP occurrence cover"
@andrewvanbreda I'm sure what you have done is fine for the moment, but in the longer term we will need to think more about accepting different types of cover formats. At the moment, presumably the field will accept any real number? (e.g. cover expressed in percentages or proportions?)

In order to interpret this correctly downstream, we would either need to restrict to one or the other, or ask su

[2017-08-14 07:53] andrewvanbreda commented on #69
At the moment it is an attribute of type float, so accepts anything like 0.2, 0, 60

Going by what you are saying would a solution be to use different attributes that accept different kinds of cover and therefore could be validation.
At the moment it accepts pretty much anything, it was only invented by me to accept what is in your import file

[2017-08-14 07:57] sacrevert commented on #69
OK, I see. Then in the simplest case we could just have Cover (%) and Cover (proportion). I think we will actually need Cover (NVC Domin) fairly early on too. 'NVC Domin' is just the name for a particular scale, but, in the first instance of setting it up as an attribute, all that is needed is a restriction to the integer values 0 to 10. (These could be looked-up against a conversion table subsequ

[2017-08-14 08:14] sacrevert opened #70 "PP dictionary additions"
I suppose this just relates to what the importer does if it cannot map a taxon. Nothing more than that really. For something like 'Grass', the user would need to change it to something recognisable by the taxon dictionary (e.g. Poaceae). I think I will just provide advice on this in the guidance document, as it is probably not sensible to provide lists of rules mapping every possible vague term th

[2017-08-14 08:26] andrewvanbreda commented on #68
**AVB note**: Just checked the thread as it is a bit tangled. The only action I need to take at the moment is:
Clear the Plant Portal imported data on machine and then...
a) Rerun the importer to double check plots are being created correctly as we have an instance of it not doing so.
b) See if I can work out what happened with the occurrence/sample error after import.

These are the only two jobs

[2017-08-14 08:32] sacrevert commented on #68
@andrewvanbreda Fine. I'm just thinking about the 'Unique sample ID' issue that I haven't responded to above (now moved to #71 )

[2017-08-14 08:37] sacrevert opened #71 "PP sample/plot logic clarification"
**AvB:** Some rows wth same sample id are split up in the file so they aren't on consecutive rows

**OLP:** I did that on purpose, thinking what the average user might do. Now I am thinking whether the checks need to be more intelligent. For example, here, the occurrences with the same sample id that are not on consective rows are actually for different plots, so, should the importer realise that

[2017-08-14 08:58] sacrevert commented on #71
OK. I can see where we are both coming from here. @andrewvanbreda

You are saying that the 'unique sample ID' is only for distinguishing samples _within an upload_ whilst I (and my test file) was working from the position that the sample ID could potentially have some meaning in relation to the user's own sample labelling.

I think that the way that you have understood it is fine. I will just have

[2017-08-14 09:08] andrewvanbreda commented on #68
**AVB:** At least some of the issues (if not all) have been caused by the code in Github becoming corrupted.  It definitely looks like the plot creation code is actually fine if it hadn't tangled by what I think is an unfortunate sequence of events (it is complaining about a missing report)
I think the sequence of events is as follows:
I merge my code into Develop branch as Biren's needs that to u

[2017-08-14 10:50] andrewvanbreda commented on #68
@sacrevert I have now got this working on my machine. It was the problem with the code corruption caused both of the above issues so I didn't need to do any new fixes.
Thankfully I had an older Plant Portal branch before the one I made for Biren that became corrupted and have successfully merged the two on my machine (although I think going forward I will commit a fresh new one)

Using the version

[2017-08-14 10:57] sacrevert commented on #8
@johnvanbreda @DavidRoy Hi John, just wondering whether you have the resources to deal with these issues raised by Tom (and my text edit). It seems like these are important things to iron out before we launch this page to BSBI recorders. Thanks.

[2017-08-14 11:16] japonicus commented on #8
Of the issues raised here I think the most significant is that deleting names doesn't work.

Problems with quoting and semi-colons affect several Indicia forms and probably eventually need a more general fix applied to escaping of output (maybe that is already fixed, I haven't re-tested recently).

[2017-08-14 11:24] johnvanbreda commented on #8
@sacrevert Yes, I can get onto this in the next day or two.

[2017-08-14 14:40] andrewvanbreda commented on #71
Well it is possible to have it so that it has some meaning by forcing uniqueness or making the user aware of whats always in the database so they can choose an appropriate ID, but then it could only be made unique for their own data because otherwise we would have to show them other people's data.
I can see this being a bit chaotic.

However, then intention of the sample external_key field is prob

[2017-08-14 15:21] sacrevert commented on #71
I can see this being a bit chaotic.

Yes, agreed.

It may be that we use the field during import, but then actually clear it so it doesn't get saved at all to the database

Yes, I don't think it is wise to discard it if we are asking the user to create it (and therefore to give it some thought). I think storing it in the db is sensible. Of course, the guidance will have to explain its purpose in t

[2017-08-14 15:38] andrewvanbreda commented on #71
OK, I think my only concern left is that would don't confuse anyone else who is using the sample external key on the warehouse, but I suppose we would have to assume that any external keys that happen match for anther survey/website are not going to be relevant to them and presumably they wouldn't be querying the database directly
I happy to close this now if you are Ok with this?

[2017-08-14 16:13] sacrevert commented on #71
There will presumably be some sample external key matches between users (e.g. where just series of numbers are used), but, I presume from what you say above about "they wouldn't be querying the database directly" that you are implying that they would only be using reporting tools that we have created. If that is the case, then I agree, and am happy for you to go ahead and close this issue.

[2017-08-14 17:13] andrewvanbreda commented on #71
I was just thinking aloud that the users wouldn't have any of the worries I might have querying the database and need to worry about getting the data only for specific projects even if the external key matches. As you say they will be using reporting tools so that will be done for them

[2017-08-14 17:13] #71 closed, assigned to andrewvanbreda

[2017-08-16 07:54] johnvanbreda commented on #8
All issues now fixed.

[2017-08-16 07:54] #8 closed, assigned to johnvanbreda

[2017-08-16 08:53] sacrevert commented on #19
hi @johnvanbreda do you have time to do this one next? I think it is on the list of ones that we considered of 'high' importance. In addition to the addition of the field, and the rearrangement of the existing fields described above. I wonder whether this issue also has other implications. For example, records coming through the iRecord app are mapped with the GPS uncertainty -- presumably precisi

[2017-08-16 09:05] japonicus commented on #19
related to https://github.com/Indicia-Team/warehouse/issues/253

[2017-08-16 09:28] andrewvanbreda commented on #68
I have just done a run of the original HLS_test_data_HL10_v2.csv file using the latest code on my machine.
I have made the following alterations to the file but these alterations are not considered a failure of the test:
- Changed the species in the file to match ones on my own machine
- Changed the British National Grid references so they don't have commas, know issue we aren't going to fix for n

[2017-08-16 10:36] sacrevert commented on #68
@DavidRoy @andrewvanbreda Sounds like great news. Thanks Andy : )

[2017-08-16 17:47] andrewvanbreda commented on #59
AVB: Also make sure screens remain well presented if there is a lot of data or warnings to show. Low priority. On hold for now awaiting possible further funding

[2017-08-16 17:54] andrewvanbreda commented on #68
@sacrevert
 I am closing this particular thread now. It think everything has been fixed or raised in another thread. I think eventually we would do a run of the import file again on the dev site with no alterations (for instance I changed the species for my machine). But we can open a new thread for that if needed

[2017-08-16 17:54] #68 closed, assigned to andrewvanbreda, sacrevert

[2017-08-17 09:22] andrewvanbreda opened #72 "Each data row must currently have the same number of columns even if there are blanks"
Currently the plot importer works incorrectly if each row in the data file doesn't have the same number of columns. In particular if the last columns are empty then they should still be included in the file for it to work

So this kind of format works
unique_sample_id,unique_plot_id,cover,stratum
123,123,50,g
124,124,,
125,125,60,g

but this wouldn't

unique_sample_id,unique_plot_id,cover,stratum

[2017-08-17 09:23] andrewvanbreda commented on #72
AVB: First thing to do is I will find out if this is even valid

[2017-08-17 11:55] andrewvanbreda opened #73 "Results from detailed test of altered HLS_test_data_HL10_v2.csv"
@sacrevert
Yesterday's test was mainly dealing with making sure the importer showed the correct warnings and I was able to the proceed after corrections. Today I have conducted a detailed test of the database state after an import of the same file, I also tried a second import of the same file (as this situation is different as there is existing data). Not,e as previously mentioned I altered the o

[2017-08-17 12:01] sacrevert commented on #73
@andrewvanbreda sounds great, please carry on. No need for a demo at this point. Cheers!

[2017-08-17 13:41] andrewvanbreda commented on #73
The samples were correct. I miscounted.
However there is a problem with the sample attribute values. Far too few vice counties have been saved, but the counties are OK. Very strange.
@sacrevert By the way, I just remembered something I was going to ask you, here you have used IDs for the vice counties, was this for test purposes? I had assumed the real import files would use a real names

[2017-08-17 13:57] sacrevert commented on #73
@andrewvanbreda I can't honestly remember whether I did it for test purposes (I thought I had included names and number examples, but clearly not). It would be nice if the import could cope with numbers, which some recorders will use. The reason being that using names then throws up another thing that the user must check (e.g. spelling mistakes, capitalisation, some VCs also have name variants), a